.addToFeed {
  color: var(--text-tertiary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  width: fit-content;

  display: flex;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    color: var(--text-secondary);
  }
}

.addIcon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/add.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/add.svg) no-repeat 0 / 100%;
}

.addToFeedDialogTitle {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;

  >span {
    text-transform: capitalize;
  }
}

.addToFeedDialogContent {
  width: 572px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  .form {
    width: 100%;

    .searchCommand {
      label {
        color: var(--text-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 6px 8px;
      }
      input {
        background-color: var(--background-header-input);
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 8px 16px;
        border-radius: 99px;
        border: none;
        width: 100%;
        height: fit-content;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:12px;
    width: 100%;
    height: 44px;

    >button {
      width: 150px;
    }
  }
}
