.border {
  background: var(--brand-gradient-vertical);
  border-radius: 4px 0px 0px 4px;
  width: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.post {
  position: relative;
  background-color: var(--background-card);
  margin-top: 0px;
  display: grid;
  grid-template-columns: 122px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "avatar content";
  padding: 16px 16px 16px 0px;
  border-radius: 0px 4px 4px 0px;

  .avatar {
    grid-area: avatar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-row-gap: 6px;
    justify-items: center;

    >a {
      text-decoration: none;
    }

    .avatarName {
      width: 100%;
      padding: 0px 6px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      line-height: 12px;
      font-weight: 400;
      color: var(--text-primary);
      align-self: flex-start;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px 1fr 28px;
    grid-row-gap: 16px;
    grid-template-areas: "header" "message" "footer";

    .header {
      grid-area: header;
      align-items: center;
      color: var(--text-tertiary-2);
      display: flex;
      justify-content: space-between;
      width: 502px;

      .postInfo {
        display: flex;
        width: 462px;
        justify-content: flex-start;

        .userInfo {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
        }

        .time{
          margin: 0px 2px;
          min-width: 40px;
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          &::before {
            content: "|";
            padding: 0px 2px;
          }
        }
      }


      .contextMenu {
        min-width: 10px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }

    }

    .message {
      grid-area: message;
      color: var(--text-primary);
      word-break: break-word;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .post {
    width: calc(100vw - (100vw - 100%));
    grid-template-columns: 92px 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    .content {
      .message {
        width: 80% !important;
      }
    }
  }
}
