@mixin heading {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 44px;
  // background-color: var(--background-site);
  background: var(--fade-gradient-vertical);
  z-index: 5;
  padding-bottom: 22px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-secondary);
}

.headingConnectedRelays {
  @include heading;
}

.headingCachingService {
  @include heading();
  margin-top: 34px;
  z-index: 10px;
}

.relayEntry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-secondary-2);
  text-align: left;
  margin-bottom: 8px;

  .connected {
    background-color: var(--success-bright);
    width: 6px;
    height: 6px;
    border-radius: 2px;
    margin-right: 8px;
  }

  .disconnected {
    background-color: var(--warning-bright);
    width: 6px;
    height: 6px;
    border-radius: 2px;
    margin-right: 8px;
  }

  .suspended {
    background-color: var(--text-secondary);
    width: 6px;
    height: 6px;
    border-radius: 2px;
    margin-right: 8px;
  }

  .relayUrl {
    max-width: 274px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .relayActions {
    display: flex;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    min-width: 100px;
    margin-left: 20px;

    >span {
      display: inline;
    }

    >button {
      border: none;
      background: none;
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
      margin: 2px;
      padding: 0px;
      color: var(--warning-bright);
      display: none;
      flex-direction: column;
      align-items: center;
    }

    &:hover {
      >span {
        display: inline;
      }
      >button {
        display: flex;
      }
    }
  }
}
