.large {
  button {
    width: 100px;
    text-transform: lowercase;
  }
}

.followChat {
  height: 32px;

  button {
    max-width: 100%;
    height: 32px;
    padding-block: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: lowercase;
  }
}

.small {
  max-width: 72px;

  button {
    max-width: 100%;
    height: 28px;
    padding-block: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-transform: lowercase;
  }
}

.flexible {
  button {
    max-width: 100%;
    height: 28px;
    padding-block: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-transform: lowercase;
  }
}

.thick {
  button {
    height: 36px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
}

  // @mixin followButton {
  //   grid-area: follow;
  //   display: flex;
  //   button {
  //     background: var(--brand-gradient-vertical);
  //     border-radius: 6px;
  //     padding: 0px;
  //     font-size: 12px;
  //     line-height: 16px;
  //     font-weight: 700;
  //     margin: 0px;
  //   }
  // }

  // .primaryButton {
  //   width: 90px;
  //   height: 40px;
  // }

  // .follow {
  //   @include followButton;
  //   button {
  //     color: var(--text-primary);
  //     background: linear-gradient(var(--background-card), var(--background-card)) padding-box,
  //                   var(--brand-gradient) border-box;
  //     border: 1px solid transparent;

  //     &:hover {
  //       background: linear-gradient(var(--background-site), var(--background-site)) padding-box,
  //                     var(--brand-gradient) border-box;
  //     }
  //   }
  // }

  // .unfollow {
  //   @include followButton;
  //   button {
  //     color: var(--text-primary);
  //     background: var(--background-card);
  //     border: 1px solid var(--subtile-devider);

  //     &:hover {
  //       border: 1px solid var(--text-tertiary);
  //     }
  //   }
  // }

  // .large {
  //   button {
  //     width: 90px;
  //     height: 40px;
  //     margin: 0px 8px;
  //     font-size: 16px;
  //     line-height: 20px;
  //   }

  // }

  // .small {
  //   button {
  //     width: 64px;
  //     height: 40px;
  //   }
  // }
