.note {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0px;

  text-decoration: none;
  color: unset;
  background-color: var(--background-site);
  border: none;
  border-bottom: 1px solid var(--devider);
  border-radius: 0;

  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
  user-select: text;

  width: 100%;

  &.parent {
    border: none;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .repostedBy {
      padding-bottom: 8px;
      display: flex;
      >span {
        >a {
          margin-inline: 5px;
          color: var(--text-tertiary);
          text-decoration: none;
        }
        color: var(--text-tertiary);
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        >span {
          text-transform: lowercase;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 50px 1fr;

    .leftSide {
      width: 42px;
      margin-right: 8px;

      .ancestorLine {
        border-left: 1px solid var(--devider);
        height: calc(100% - 12px);
        margin-left: 21px;
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;

      .message {
        color: var(--text-primary);
        word-break: break-word;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 4px;
        margin-bottom: 12px;
        width: 100%;
        overflow: hidden;
      }

      .replyingTo {
        display: flex;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 6px;
        max-width: 518px;
        text-overflow: ellipsis;
        white-space: nowrap;
        .label {
          color: var(--text-primary);
        }
        .author {
          display: inline-block;
          color: var(--accent-links);
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.authorInfo {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  width: 524px;
  position: relative;
  .userName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 226px;
    color: var(--text-primary);

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }
  .time{
    display: flex;
    margin-left: 2px;
    min-width: fit-content;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--text-tertiary);

    .ellipsisIcon {
      width: 11px;
      height: 14px;
      background-color: var(--text-tertiary);
      -webkit-mask: url(../../assets/icons/ellipsis.svg) no-repeat center;
      mask: url(../../assets/icons/ellipsis.svg) no-repeat center;
    }
  }
  .verification {
    max-width: 216px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-tertiary);

    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
}

.repostIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-tertiary);
  -webkit-mask: url(../../assets/icons/feed_repost.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/feed_repost.svg) no-repeat 0 / 100%;
}

.repostedBy {
  padding-bottom: 8px;
  display: flex;
  >span {
    >a {
      margin-inline: 5px;
      color: var(--text-tertiary);
      text-decoration: none;
    }
    color: var(--text-tertiary);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    >span {
      text-transform: lowercase;
    }
  }
}

.contextButton {
  width: 16px;
  height: 32px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .contextIcon {
    width: 16px;
    height: 14px;
    background-color: var(--text-secondary-2);
    -webkit-mask: url(../../assets/icons/context.svg) no-repeat 0 / 100%;
    mask: url(../../assets/icons/context.svg) no-repeat 0 / 100%;
  }

  &:hover {
    .contextIcon {
      background-color: var(--text-primary);
    }
  }
}

.contextMenu {
  position: absolute;
  width: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
}


.verificationFailed {
  display: inline-block;
  width: 4px;
  height: 4px;
}

@media only screen and (max-width: 720px) {
  .note {
    width: 100dvw;
    overflow: hidden;

    .content {
      .rightSide {
        width: calc(100dvw - 42px - 24px);
        overflow: hidden;
      }
    }
  }

  .authorInfo{
    width: 100%;
  }

}
