.branding {
  display: flex;
  align-items: center;
  .logo {
    background-image: var(--logo);
    background-size: contain;
    margin-right: 10px;
    width: 35px;
    height: 35px;
  }

  .logoBig {
    background-image: var(--logo-big);
    background-size: contain;
    margin-right: 10px;
    width: 124px;
    height: 36px;
  }

  span {
    // margin-right: 12px;
    font-family: "Roboto Black";
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--brand-text);
    text-transform: lowercase;
  }
}

.brandingSmall {
  .logo {
    background-image: var(--logo);
    background-size: contain;
    margin-right: 0px;
    width: 36px;
    height: 36px;
  }

  .logoBig {
    background-image: var(--logo-big);
    background-size: contain;
    margin-right: 0px;
    width: 124px;
    height: 36px;
  }
}

@media only screen and (max-width: 1300px) {
  .branding {
    .logo {
      margin-right: 0px;
      width: 32px;
      height: 32px;
    }


    .logoBig {
      background-image: var(--logo);
      background-size: contain;
      margin-right: 10px;
      width: 32px;
      height: 32px;
    }

    span {
      display: none;
    }
  }
}

.logoLink {
  text-decoration: none;
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  background: unset;
}
