.branding {
  img {
    margin-right: 12px;
  }
  
  span {
    margin-right: 12px;
    font-weight: bold;
    font-size: xx-large;
  }
}


@media only screen and (max-width: 1300px) {
  .branding {
    span {
      display: none;
    }
  }
}
