.loader {
	height: 32px;
	width: 32px;
}
.loader span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}

.loader span::before,
.loader span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	border: 2px solid var(--accent);
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: loader-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
	        animation: loader-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
}
@-webkit-keyframes loader-1 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1.5); opacity: 0; }
}
@keyframes loader-1 {
	0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { transform: translate3d(0, 0, 0) scale(1.5); opacity: 0; }
}

// .loader span::after {
// 	-webkit-animation: loader-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
// 	        animation: loader-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
// }
// @-webkit-keyframes loader-2 {
// 	0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
// 	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
// }
// @keyframes loader-2 {
// 	0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
// 	100% { transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
// }
