.publishQueueInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 148px;
  height: 30px;
  border-radius: 99px;
  border: 1px solid var(--subtile-devider);
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--subtile-devider);
    color: var(--text-secondary);
    background-color: var(--background-header-input);

    .clockIcon {
      background-color: var(--text-secondary);
    }
  }
}

.clockIcon {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/clock.svg) no-repeat center;
  mask: url(../../assets/icons/clock.svg) no-repeat center;
}

@media only screen and (max-width: 1300px) {
  .publishQueueInfo {
    width: fit-content;
    padding-inline: 6px;
    margin-left: 6px;
    .label {
      display: none;
    }
  }
}
