.contentZap {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 20px;
  width: 100%;
  height: 92px;
  border-bottom: 1px solid var(--devider);

  .zapInfo {
    min-width: 148px;
    min-height: 68px;
    max-width: 148px;
    max-height: 68px;
    border-radius: var(--border-radius-small);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .topLine {
      padding: 6px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--background-input);

      .sender, .receiver {
        width: 32px;
        height: 32px;
      }

      .amount {
        display: flex;
        gap: 4px;
        height: 16px;

        .zapIcon {
          width: 10px;
          height: 14px;
          background-color: var(--text-primary);
          -webkit-mask: url(../../assets/icons/lightning_white.svg) no-repeat 0 / 100%;
          mask: url(../../assets/icons/lightning_white.svg) no-repeat 0 / 100%;
        }

        .number {
          color: var(--text-primary);
          font-size: 15px;
          font-weight: 800;
          line-height: 16px;
        }
      }
    }

    .bottomLine {
      width: 100%;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 14px;
      background-color: var(--background-header-input);

      .message {
        color: var(--text-primary);
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }

  .subject {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;

      div {
        color: var(--text-secondary);
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
      }

      .bullet {
        font-weight: 800;
      }

      .time {
        font-weight: 400;
      }
    }

    .body {
      width: 100%;
      max-height: 36px;
      display: -webkit-box;

      color: var(--text-tertiary);

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;

      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
