@mixin heading {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 44px;
  background-color: var(--background-site);
  z-index: 5;
  padding-bottom: 22px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  color: var(--text-secondary-2);
  text-transform: uppercase;
  >div{
    display: flex;
    height: 22px;
    >span {
      color: var(--text-tertiary-2);
      text-transform: lowercase;
      margin-left: 6px;
    }
  }
}

.flameIcon {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 9px;
  background: var(--sidebar-section-icon-gradient);
  -webkit-mask: url(../../assets/icons/explore/flame.svg) no-repeat 1px 0 / 20px 22px;
  mask: url(../../assets/icons/explore/flame.svg) no-repeat 1px 0 / 20px 22px;
}

.zapIcon {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 9px;
  background: var(--sidebar-section-icon-gradient);
  -webkit-mask: url(../../assets/icons/explore/zaps_hollow.svg) no-repeat 2px 0 / 19px 22px;
  mask: url(../../assets/icons/explore/zaps_hollow.svg) no-repeat 2px 0 / 19px 22px;
}

.headingTrending {
  @include heading();
}

.headingZapped {
  @include heading();
  margin-top: 34px;
  z-index: 10px;
}

.headingPicks {
  @include heading();
  font-weight: 600;
  text-transform: capitalize;
  height: fit-content;
  margin-bottom: 12px;
  padding-bottom: 0px;
}

.headingReads {
  @include heading();
  font-weight: 600;
  text-transform: none;
  height: fit-content;
  margin-bottom: 12px;
  padding-bottom: 0px;
}

.readsSidebar {
  margin-left: -8px;

  .section {
    margin-bottom: 28px;

    >a:last-child {
      border-bottom: none;
    }
  }

  .topic {
    display: inline-block;
    background-color: var(--background-input);
    padding: 6px 10px;
    border-radius: 12px;
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-right: 8px;
  }
}

.articleSidebar {
  .section {
    margin-bottom: 28px;
    max-height: calc(100vh - 240px);
    overflow-y: scroll;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    >a:last-child {
      border-bottom: none;
    }

    .totalZaps {
      display: flex;
      align-items: flex-end;
      gap: 4px;

      .totalZapsIcon {
        display: inline-block;
        width: 18px;
        height: 32px;
        background: var(--active-zap);
        -webkit-mask: url(../../assets/icons/feed_zap_fill_2.svg) no-repeat 0px 0 / 19px 32px;
        mask: url(../../assets/icons/feed_zap_fill_2.svg) no-repeat 0px 0 / 19px 32px;
      }

      .amount {
        color: var(--text-primary);
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
      }

      .unit {
        color: var(--text-primary);
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }

  .topic {
    display: inline-block;
    background-color: var(--background-input);
    padding: 6px 10px;
    border-radius: 12px;
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-right: 8px;
  }
}
