.trendingSection {
  width: 300px;
  margin-bottom: 228px;
}

.stickyWrapper {
  position: fixed;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 8px;

  &::-webkit-scrollbar{
    display: none;
  }
}
