.trendingUsers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .user {
    width: 75px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s;
    }

    .name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      margin-top: 10px;
      width: 72px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: var(--text-primary);
    }
  }
}

.trendingUsersCaption {
  text-align: left;
  text-transform: capitalize;
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

.topicsHolder, .topUsersHolder {
  width: 100%;
}

.hotTopicsCaption {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
  text-transform: capitalize;
}

.exploreHotTopics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width:100%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  .exploreHotTopic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 8px;
    padding-inline: 10px;
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    border-radius: 99px;
    background-color: var(--background-input);
  }
}
