@mixin iconNav {
  width: 24px;
  height: 24px;
  background-color: var(--text-secondary);
}

.navLink {
  position: relative;
  margin: 0px 0px 36px 0px;
  padding: 0px;
  background: none;
  border: none;
  border-radius: 0px;
  display: flex;
  justify-content: flex-start;

  a {
    .label {
      margin-left: 16px;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      display: flex;
    }

    &:focus {
      background: none;
    }
  }

  p {
    display: inline;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
  }
}

.homeIcon {
  @include iconNav;
  -webkit-mask: url(../../assets/icons/home.svg) no-repeat center;
  mask: url(../../assets/icons/home.svg) no-repeat center;
}

.exploreIcon {
  @include iconNav;
  -webkit-mask: url(../../assets/icons/search.svg) no-repeat center;
  mask: url(../../assets/icons/search.svg) no-repeat center;
}
.messagesIcon {
  @include iconNav;
  -webkit-mask: url(../../assets/icons/messages.svg) no-repeat center;
  mask: url(../../assets/icons/messages.svg) no-repeat center;
}
.notificationsIcon {
  @include iconNav;
  -webkit-mask: url(../../assets/icons/notifications.svg) no-repeat center;
  mask: url(../../assets/icons/notifications.svg) no-repeat center;
}
.downloadIcon {
  @include iconNav;
  -webkit-mask: url(../../assets/icons/download.svg) no-repeat center;
  mask: url(../../assets/icons/download.svg) no-repeat center;
}
.settingsIcon {
  @include iconNav;
  -webkit-mask: url(../../assets/icons/settings.svg) no-repeat center;
  mask: url(../../assets/icons/settings.svg) no-repeat center;
}
.helpIcon {
  @include iconNav;
  -webkit-mask: url(../../assets/icons/help.svg) no-repeat center;
  mask: url(../../assets/icons/help.svg) no-repeat center;
}

.active {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: none;

  >div {
    background-color: var(--text-primary);
  }

  .label {
    color: var(--text-primary);
    background: none;
  }
}

.inactive {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  >div {
    background-color: var(--text-secondary);
  }

  .label {
    color: var(--text-secondary);
    background: none;
  }
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;

  margin-left: 2px;

  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;

  background: var(--accent);
  border: 1px solid var(--background-site);
  border-radius: 9px;

  color: var(--text-primary-button);

  &.doubleSize {
    width: 24px;
  }

  &.tripleSize {
    width: 26px;
    padding-left: 2px;
  }
}

@media only screen and (max-width: 1300px) {
  .navLink {
    a {
      .label {
        display: none;
      }
    }
  }

  .bubble {
    width: 8px;
    height: 8px;
    >div {
      display: none;
    }

    &.doubleSize {
      width: 8px;
      height: 8px;
    }

    &.tripleSize {
      width: 8px;
      height: 8px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .navLink {
    a {
      .label {
        display: none;
      }
    }
  }
  .hiddenOnSmallScreens {
    display: none
  }
}
