@mixin statIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-tertiary-2);
}

@mixin typeDiv {
  display: flex;
  align-items: center;
}

.contextButton {
  width: 48px;
  height: 32px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .contextIcon {
    width: 16px;
    height: 14px;
    background-color: var(--text-secondary-2);
    -webkit-mask: url(../../../assets/icons/context.svg) no-repeat 0 / 100%;
    mask: url(../../../assets/icons/context.svg) no-repeat 0 / 100%;
  }

  &:hover {
    .contextIcon {
      background-color: var(--text-primary);
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 128px 128px 128px 128px 16px;
  position: relative;
  width: 100%;

  &.wide {
    grid-template-columns: 140px 140px 140px 138px 16px;
  }

  .context {
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .stat {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: unset;
    width: fit-content;
    position: relative;
    padding-right: 48px;

    .likeType {
      @include typeDiv;
      .icon {
        @include statIcon;
        -webkit-mask: url(../../../assets/icons/feed_like.svg) no-repeat 0 / 100%;
        mask: url(../../../assets/icons/feed_like.svg) no-repeat 0 / 100%;
      }
    }

    .replyType {
      @include typeDiv;
      .icon {
        @include statIcon;
        -webkit-mask: url(../../../assets/icons/feed_reply.svg) no-repeat 0 / 100%;
        mask: url(../../../assets/icons/feed_reply.svg) no-repeat 0 / 100%;
      }
    }

    .repostType {
      @include typeDiv;
      .icon {
        @include statIcon;
        -webkit-mask: url(../../../assets/icons/feed_repost.svg) no-repeat 0 / 100%;
        mask: url(../../../assets/icons/feed_repost.svg) no-repeat 0 / 100%;
      }
    }

    .zapType {
      @include typeDiv;
      .icon {
        @include statIcon;
        -webkit-mask: url(../../../assets/icons/feed_zap.svg) no-repeat 0 / 100%;
        mask: url(../../../assets/icons/feed_zap.svg) no-repeat 0 / 100%;
      }
    }

    &:hover, &.highlighted {
      .zapType {
        .statNumber {
          color: var(--active-zap);
        }
        .icon {
          background-color: var(--active-zap);
          -webkit-mask: url(../../../assets/icons/feed_zap_fill.svg) no-repeat 0 / 100%;
          mask: url(../../../assets/icons/feed_zap_fill.svg) no-repeat 0 / 100%;
        }
      }

      .likeType {
        .statNumber {
          color: var(--active-liked);
        }
        .icon {
          background-color: var(--active-liked);
          -webkit-mask: url(../../../assets/icons/feed_like_fill.svg) no-repeat 0 / 100%;
          mask: url(../../../assets/icons/feed_like_fill.svg) no-repeat 0 / 100%;
        }
      }

      .replyType {
        .statNumber {
          color: var(--active-reply);
        }
        .icon {
          background-color: var(--active-reply);
          -webkit-mask: url(../../../assets/icons/feed_reply_fill.svg) no-repeat 0 / 100%;
          mask: url(../../../assets/icons/feed_reply_fill.svg) no-repeat 0 / 100%;
        }
      }

      .repostType {
        .statNumber {
          color: var(--active-reposted);
        }
        .icon {
          background-color: var(--active-reposted);
          -webkit-mask: url(../../../assets/icons/feed_repost_fill.svg) no-repeat 0 / 100%;
          mask: url(../../../assets/icons/feed_repost_fill.svg) no-repeat 0 / 100%;
        }
      }
    }
    &:focus {
      box-shadow: none;
    }

    .statNumber {
      text-align: left;
      color: var(--text-tertiary-2);
      padding-left: 7px;
    }
  }
}

.smallZapLottie {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 20;
}

.mediumZapLottie {
  width: 341px;
  height: 91px;
  position: absolute;
  z-index: 20;
}


@media only screen and (max-width: 720px) {
  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .stat{
      min-width: 0px;
      padding-right: 12px;
      margin-right: 0;
    }

    .context {
      display: none;
    }
  }

}
