.footer {
  display: flex;

  .stat {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-right: 60px;
    border: none;
    background-color: unset;
    &.disabled {
      &.zapType {
        .statNumber {
          color: #FF9F2F;
        }
      }
      &.likeType {
        .statNumber {
          color: #CA079F;
        }
      }
      &.replyType {
        .statNumber {
          color: #CCCCCC;
        }
      }
      &.repostType {
        .statNumber {
          color: #66E205;
        }
      }
      // .replyIcon, .likeIcon, .repostIcon {
      //   background-color: var(--accent-1);
      // }
      // .statNumber {
      //   color: var(--accent-1);
      // }
    }
    &:focus {
      box-shadow: none;
    }

    .statNumber {
      text-align: left;
      color: var(--text-secondary);
    }

    &:hover {
      &.zapType {
        .statNumber {
          color: #FF9F2F;
        }
      }
      &.likeType {
        .statNumber {
          color: #BC1870;
        }
      }
      &.replyType {
        .statNumber {
          color: #CCCCCC;
        }
      }
      &.repostType {
        .statNumber {
          color: #66E205;
        }
      }
      // .replyIcon, .likeIcon, .repostIcon, .zapIcon {
      //   background-color: var(--text-secondary);
      // }
      // .statNumber {
      //   color: var(--text-primary);
      // }
    }
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    width: calc(100vw - 92px);
    grid-column-gap: 30px;
  }
}

@mixin statIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-tertiary-2);
}

.likeIcon {
  @include statIcon;
  -webkit-mask: url(../../../assets/icons/like.svg) no-repeat center;
  mask: url(../../../assets/icons/like.svg) no-repeat center;
}

.replyIcon {
  @include statIcon;
  -webkit-mask: url(../../../assets/icons/reply.svg) no-repeat center;
  mask: url(../../../assets/icons/reply.svg) no-repeat center;
}

.repostIcon {
  @include statIcon;
  -webkit-mask: url(../../../assets/icons/reposts.svg) no-repeat center;
  mask: url(../../../assets/icons/reposts.svg) no-repeat center;
}

.zapIcon {
  @include statIcon;
  -webkit-mask: url(../../../assets/icons/zaps.svg) no-repeat center;
  mask: url(../../../assets/icons/zaps.svg) no-repeat center;
}
