@keyframes inTop {
  0% { opacity: 0; top: 8px}
  100% { opacity: 1; top: 26px}
}
@keyframes inBottom {
  0% { opacity: 0; bottom: 28px}
  100% { opacity: 1; bottom: 46px}
}

.contextMenuOptions {
  position: absolute;
  top: 18px;
  right: 0px;
  padding: 8px;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;
  z-index: var(--z-index-header);
  width: max-content;
  overflow: hidden;


  &.noteFooter {
    top: 26px;
    left: unset;
    right: 0px;
  }
  &.profile {
    top: 46px;
    left: 4px;
    right: unset;
  }

  &.hidden {
    max-height: 1px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    // top: 58px;
  }

  &.visible {
    height: fit-content;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    // transition: all 200ms ease-out;
    animation: inTop 200ms ease-out;
  }
}

.contextMenuOptionsUp {
  position: absolute;
  bottom: 18px;
  right: 0px;
  padding: 8px;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;
  z-index: var(--z-index-header);
  width: max-content;

  &.noteFooter {
    bottom: 46px;
    left: unset;
    right: 0px;
  }
  &.profile {
    bottom: 46px;
    left: 4px;
    right: unset;
  }

  &.hidden {
    // bottom: 58px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  &.visible {
    height: fit-content;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    // transition: all 200ms ease-out;
    animation: inBottom 200ms ease-out;
  }
}
