.contextMenuOptions {
  position: absolute;
  top: 18px;
  right: 0px;
  padding: 8px;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;
  z-index: var(--z-index-header);
  width: max-content;

  &.noteFooter {
    top: 26px;
    left: unset;
    right: 0px;
  }
  &.profile {
    top: 46px;
    left: 4px;
    right: unset;
  }
  &.hidden {
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }
}

.contextMenuOptionsUp {
  position: absolute;
  bottom: 18px;
  right: 0px;
  padding: 8px;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;
  z-index: var(--z-index-header);
  width: max-content;

  &.noteFooter {
    bottom: 46px;
    left: unset;
    right: 0px;
  }
  &.profile {
    bottom: 46px;
    left: 4px;
    right: unset;
  }
  &.hidden {
    visibility: hidden;
  }
}
