
.contextOption {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: left;
  background-color: var(--background-site);
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-2);
  padding: 10px 12px;
  margin: 0px;
  min-width: 196px;

  div {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--text-secondary);
  }

  &:hover, &:focus {
    background-color: var(--background-input);
    color: var(--text-primary);

    div {
      background-color: var(--text-primary);
    }
  }

  &.warning {
    color: var(--warning-color);
    div {
      background-color: var(--warning-color);
    }

    &:hover, &:focus {
      background-color: color-mix(in srgb, var(--warning-color) 25%, var(--background-site));
    }
  }

}
