.contextMenuOptions {
  position: absolute;
  top: 18px;
  right: 8px;
  padding: 8px;
  background-color: var(--background-site);
  border: solid 1px var(--text-tertiary-2);
  border-radius: 4px;
  z-index: var(--z-index-header);
  width: max-content;

  &.noteFooter {
    top: 26px;
    left: 0px;
    right: unset;
  }
  &.profile {
    top: 46px;
    left: 4px;
    right: unset;
  }
}
