.noteImage {
  display: block;
  object-fit: cover;
  z-index: 22;
}

.shortHeight {
  max-height: 680px;
}

.placeholderImage {
  display: block;
  width: 524px;
  height: 680px;
  background-color: var(--background-site);
}
