.fullHeader {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 4px;
  grid-template-areas: "phone_header" "phone_border";
}
.phoneHeader {
  grid-area: phone_header;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  /* padding-inline: 16px; */
  padding-top: 4px;
  z-index: 15;
}

.logo {
  width: 36px;
  margin-right: 16px;
}


.smallHeader {
  display: grid;
  height: 32px;
  grid-template-rows: 1fr 4px;
}

.smallHeaderMain {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  background-color: var(--background-site);
}

.smallHeaderBottomBorder {
  grid-area: phone_border;
  width: 100%;
  height: 4px;
  display: flex;
  justify-content: space-between;
  // background-color: red;

  .rightCorner {
    display: inline-block;
    width: 4px;
    height: 4px;

    background-color: var(--background-site);
    -webkit-mask: url(../../assets/icons/corner_right.svg) no-repeat center;
    mask: url(../../assets/icons/corner_right.svg) no-repeat center;
  }
  .leftCorner {
    display: inline-block;
    width: 4px;
    height: 4px;

    background-color: var(--background-site);
    -webkit-mask: url(../../assets/icons/corner_left.svg) no-repeat center;
    mask: url(../../assets/icons/corner_left.svg) no-repeat center;
  }
}

.smallLeft {
 width: 100%;
 flex-grow: 20;
 flex-shrink: 1;
 visibility: hidden;
}

.smallRight {
  max-width: 50%;
  flex-grow: 1;
  // margin: auto;
}

.fixedSelector {
  position:fixed;
  top: 0px;
  width: 100%;
  height: 48px;
  // align-items: center;
  background-color: var(--background-site);
  z-index: var(--z-index-header);
  transition: 0.3s;
  transform: translateY(0px);

  .smallHeaderMain {
    align-items: center;
  }

  .smallLeft {
    visibility: visible;
  }
}

.hiddenSelector {
  transition: 0.3s;
  transform: translateY(-48px);
}

.instaHide {
  top: -48px;
}
