.ReactionsModal {
  width: 632px;
  color: var(--text-primary);
  background-color: var(--background-input);
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  .description {
    color: var(--text-secondary);
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;

    .tabs {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-inline: 8px;
      width: 100%;
      border-radius: 0;
      padding-top: 22px;
      border-bottom: 1px solid var(--devider);
      border-top: none;
      margin-bottom: 20px;
    }

    .tab {
      position: relative;
      display: inline-block;
      padding-inline: 12px;
      padding-block: 2px;
      border: none;
      background: none;
      width: fit-content;
      height: 28px;
      margin: 0;
      margin-bottom: 12px;

      color: var(--text-primary);
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .tabIndicator {
      position: absolute;
      height: 4px;
      top: 54px;
      left: 0;
      border-radius: 2px 2px 0px 0px;
      background: var(--accent);
      transition: all 250ms;
    }

    .tabContent {
      height: 440px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-right: 8px;
      @keyframes fadeIn {
        from {
          opacity:0;
        }

        to {
          opacity:1;
        }

      }
      animation: fadeIn 1s;
    }
  }

}

.likeItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 62px;
  gap: 12px;
  padding-inline: 10px;
  border-radius: var(--border-radius-small);

  &:hover {
    background-color: var(--subtile-devider);
    text-decoration: none;
  }

  .likeIcon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: var(--text-secondary);
    -webkit-mask: url(../../assets/icons/heart.svg) no-repeat 0px 0 / 18px 18px;
    mask: url(../../assets/icons/heart.svg) no-repeat 0px 0 / 18px 18px;
  }

  .userName {
    display: flex;
    justify-items: flex-start;
    align-items: center;

    .name {
      color: var(--text-primary);
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      max-width: 448px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.zapItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 62px;
  gap: 12px;
  border-radius: var(--border-radius-small);

  &:hover {
    background-color: var(--subtile-devider);
    text-decoration: none;
  }

  .zapAmount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 48px;
    height: 42px;


    .zapIcon {
      width: 18px;
      height: 18px;
      display: inline-block;
      background: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/feed_zap.svg) no-repeat 0px 0 / 18px 18px;
      mask: url(../../assets/icons/feed_zap.svg) no-repeat 0px 0 / 18px 18px;
    }
    .amount {
      color: var(--text-primary);
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
    }
  }

  .zapInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 42px;
    padding-block: 4px;

    .userName {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .name {
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        max-width: 448px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .zapMessage {
      color: var(--text-secondary);
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      max-width: 448px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}



.repostItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 62px;
  gap: 12px;
  padding-inline: 10px;
  border-radius: var(--border-radius-small);

  &:hover {
    background-color: var(--subtile-devider);
    text-decoration: none;
  }

  .repostIcon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: var(--text-secondary);
    -webkit-mask: url(../../assets/icons/feed_repost.svg) no-repeat 0px 0 / 18px 18px;
    mask: url(../../assets/icons/feed_repost.svg) no-repeat 0px 0 / 18px 18px;
  }

  .userName {
    display: flex;
    justify-items: flex-start;
    align-items: center;

    .name {
      color: var(--text-primary);
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      max-width: 448px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .caption {
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-secondary);
  }
}

.hidden {
  display: none;
}
