.reactionEvent {
  display: grid;
  grid-template-columns: 42px 1fr;
  padding: 12px;
  width: 100%;

  .icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 42px;
  }
}

.genericEvent {
  position: relative;
  display: flex;
  min-height: 58px;
  gap: 8px;
  padding-inline: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .eventIcon {
    width: 20px;
    height: 20px;
    margin-inline: 6px;

    div {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);

      mask-image: var(--mask-url);
      -webkit-mask-image: var(--mask-url); /* For broader browser support */

      /* Add other masking properties as needed */
      mask-repeat: no-repeat;
      mask-size: contain;
      // -webkit-mask: url(var(--mask-url)) no-repeat center;
      // mask: url(var(--mask-url)) no-repeat center;
    }
  }

  .eventDescription {
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }

  .resignButton {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    border-radius: 8px;

    width: fit-content;

    background-color: var(--warning-dim);

    color: var(--warning-bright);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    z-index: 5;

    &:hover {
      background-color: var(--warning-bright-shadow);
    }
  }
}
