
.verifiedIcon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/verified.svg) no-repeat 0 / 100%;
}

.verificationIcon {
  width: 15px;
  height: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifiedIconPrimal {
  width: 100%;
  height: 100%;
  background: var(--brand-gradient);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/verified.svg) no-repeat 0 / 100%;
}

.whiteCheck {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
