.welcome {
  display: grid;
  grid-template-columns: 48px 1fr 36px;
  align-items: center;

  p {
    font-size: 34px;
    line-height: 34px;
    padding: 0px;
    margin: 0px;
  }

  .border {
    height: 36px;
    padding: 1px 0px 1px 1px;
    background: var(--brand-gradient);
    border-radius: 6px 0px 0px 6px;
    margin-left: 10px
  }

  input {
    height: 34px;
    font-size: 18px;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 6px 0px 0px 6px;
    border: none
  }
}
