.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 99999px;
  margin: 0px;
  padding-inline: 18px;
  padding-block: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  background: var(--accent);
  color: var(--text-primary-button);
  width: fit-content;
  min-height: 36px;
}

.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 99999px;
  margin: 0px;
  padding-inline: 38px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  background: var(--background-input);
  color: var(--text-secondary);
  width: fit-content;
  height: 36px;

  &.light {
    background-color: var(--subtile-devider);
  }
}

.shrunk {
  padding-inline: 0;
  min-width: 36px;
}

// .secondary {
//   border: none;
//   border-radius: 6px;
//   padding: 1px;
//   font-size: 14px;
//   line-height: 20px;
//   font-weight: 700;
//   background: var(--brand-gradient-vertical);
//   color: var(--text-tertiary-2);
//   >div {
//     width: 100%;
//     height: 100%;
//     vertical-align: middle;
//     border-radius: 6px;
//     background-color: var(--background-card);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding-inline: 10px;
//     padding-block: 6px;
//   }
// }



.copy {
  .copyIcon {
    width: 16px;
    height: 16px;
    margin-inline: 8px;
    background-color: var(--text-tertiary-2);
    -webkit-mask: url(../../assets/icons/copy.svg) no-repeat 0 / 100%;
    mask: url(../../assets/icons/copy.svg) no-repeat 0 / 100%;
  }


  .checkIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-inline: 8px;
    background-color: var(--success-color);
    -webkit-mask: url(../../assets/icons/check.svg) no-repeat 0 / 80%;
    mask: url(../../assets/icons/check.svg) no-repeat 0 / 80%;
  }

  color: var(--text-tertiary-2);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: fit-content;
  display: flex;
  align-items: center;


  &:focus {
    box-shadow: none;
  }

  &:hover {
    transition-duration: 0ms;
    color: var(--text-primary);
    .copyIcon {
      background-color: var(--text-primary);
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 6px;
  margin: 0px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: var(--background-input);
  color: var(--text-primary);

  &:hover {
    background-color: var(--subtile-devider);
  }

  &:focus {
    box-shadow: none;
  }
}

.flipInactive {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 99999px;
  margin: 0px;
  padding-inline: 18px;
  padding-block: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  background: var(--text-primary);
  color: var(--background-site);
  width: fit-content;

  &:focus {
    box-shadow: none;
  }
}

.flipActive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 99999px;
  border: none;
  margin: 0px;
  padding-inline: 18px;
  padding-block: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: var(--background-input);
  color: var(--text-primary);
  width: fit-content;

  &:focus {
    box-shadow: none;
  }
}

.link {
  display: inline;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 6px;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  background: none;
  color: var(--accent);

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    box-shadow: none;
  }
}

.tertiary {
  border-radius: 6px;
  padding-inline: 10px;
  padding-block: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin: 0px;
  color: var(--text-primary);
  background: var(--background-card);
  border: 1px solid var(--subtile-devider);

  &:hover {
    border: 1px solid var(--text-tertiary);
  }
}
