@mixin preview {
  width: 100%;
  height: 120px;
  text-decoration: none;
  color: var(--text-tertiary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  border-radius: var(--border-radius-small);
  background-color: var(--background-input);
  text-align: left;
  margin-top: 8px;

  &:hover {
    text-decoration: none !important;
  }

  &.bordered {
    border: 1px solid var(--subtile-devider);
  }
}

.linkPreview {
  @include preview();

  display: block;
}

.linkPreviewH {
  @include preview();

  display: grid !important;
  grid-template-columns: 180px 1fr;

  &.noImage {
    display: flex !important;
  }

  .previewImage {
    width: 130px;
    object-fit: cover;
  }

  .previewInfo {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .previewUrlLine {
    margin-top: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .previewTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .previewDescription {
    margin-top: 4px;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    &.short {
      -webkit-line-clamp: 1;
      line-clamp: 1;
    }
  }

}

.previewInfo {
  padding: 11px 13px 18px 13px;
}

.previewImage {
  overflow: hidden;
  max-height: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.previewTitle {
  color: var(--text-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.previewUrlLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-block: 0;

  color: var(--text-tertiary-2);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  >img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

.previewDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;

  color: var(--text-secondary-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
