.border {
  background: var(--brand-gradient-vertical);
  padding-left: 4px;
  border-radius: 4px 6px 6px 4px;
}

.post {
  background-color: var(--background-card);
  margin-top: 0px;
  display: grid;
  grid-template-columns: 122px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "avatar content";
  padding: 16px 16px 16px 0px;
  border-radius: 0px 4px 4px 0px;

  .avatar {
    grid-area: avatar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-row-gap: 6px;
    justify-items: center;

    >a {
      text-decoration: none;
    }

    .avatarName {
      width: 100%;
      padding: 0px 6px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      line-height: 12px;
      font-weight: 400;
      color: var(--text-primary);
      align-self: flex-start;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px 1fr 28px;
    grid-row-gap: 16px;
    grid-template-areas: "header" "message" "footer";

    .header {
      grid-area: header;
      align-items: center;
      color: var(--text-tertiary-2);
      display: flex;
      justify-content: space-between;
      width: 502px;

      .postInfo {
        display: flex;
        width: 462px;
        justify-content: flex-start;

        .userInfo {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
        }

        .time{
          margin: 0px 2px;
          min-width: 40px;
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          &::before {
            content: "|";
            padding: 0px 2px;
          }
        }
      }


      .contextMenu {
        min-width: 10px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }

    }

    .message {
      grid-area: message;
      color: var(--text-primary);
      word-break: break-word;
      font-size: 20px;
      line-height: 28px;
    }

    .footer {
      display: grid;
      grid-template-columns: 36px 36px 36px 36px;
      grid-template-rows: 1fr;
      grid-column-gap: 60px;

      .stat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        font-size: 18px;
        line-height: 16px;
        align-items: center;
        margin: 0px;
        padding: 0px;
        border: none;
        background-color: unset;
        &:disabled, &[disabled] {
          .replyIcon, .likeIcon, .repostIcon {
            background-color: var(--accent-1);
          }
          .statNumber {
            color: var(--accent-1);
          }
        }
        .statNumber {
          color: var(--text-secondary);
        }
        &:focus {
          box-shadow: none;
        }
        &:hover {
          .replyIcon, .likeIcon, .repostIcon {
            background-color: var(--text-secondary);
          }
          .statNumber {
            color: var(--text-primary);
          }
        }
      }
    }
  }
}

@mixin statIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-tertiary-2);
}

.likeIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/like.svg) no-repeat 0px / 18px;
  mask: url(../../assets/icons/like.svg) no-repeat 0px / 18px;
}

.replyIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/reply.svg) no-repeat 0px / 18px;
  mask: url(../../assets/icons/reply.svg) no-repeat 0px / 18px;
}


.repostIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/reposts.svg) no-repeat 0px / 18px;
  mask: url(../../assets/icons/reposts.svg) no-repeat 0px / 18px;
}

.zapIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/zaps.svg) no-repeat center;
  mask: url(../../assets/icons/zaps.svg) no-repeat center;
}

.verifiedIcon {
  width:13px;
  height: 12px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat center;
  mask: url(../../assets/icons/verified.svg) no-repeat center;
}


@media only screen and (max-width: 720px) {
  // .border {
  //   background: var(--brand-gradient-vertical);
  //   padding-left: 4px;
  //   border-radius: 4px 4px 4px 4px;
  // }
  .post {
    width: 100% !important;
    grid-template-columns: 92px 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    .content {
      width: 100%;
      .header {
        width: 100% !important;
        .postInfo {
          width: 80% !important;
        }
      }
      .message {
        width: 80% !important;
      }

      .footer {
        width: 80% !important;
        grid-column-gap: 10% !important;
      }
    }
  }

  .postLink {
    width: 100% !important;
  }
}
