.noteEditBox {
  position: relative;
  scroll-margin-top: 72px;
  scroll-margin-bottom: 20px;
}

.newNoteHolder {
  min-height: 100px;
  max-height: 100vh;
  background-color: var(--background-site);
  padding-top: 10px;
}

.holderBottomBorder {
  width: 100%;
  height: 4px;
  display: flex;
  justify-content: space-between;

  .rightCorner {
    display: inline-block;
    width: 4px;
    height: 4px;

    background-color: var(--background-site);
    -webkit-mask: url(../../assets/icons/corner_right.svg) no-repeat center;
    mask: url(../../assets/icons/corner_right.svg) no-repeat center;
  }
  .leftCorner {
    display: inline-block;
    width: 4px;
    height: 4px;

    background-color: var(--background-site);
    -webkit-mask: url(../../assets/icons/corner_left.svg) no-repeat center;
    mask: url(../../assets/icons/corner_left.svg) no-repeat center;
  }
}

.newNoteBorder {
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 6px;
  border: 1px solid var(--accent);
  display: block;
  position: relative;
}

.newNote {
  width: 100%;
  height: 100%;
  min-height: 122px;
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  color: var(--text-tertiary);
  background-color: var(--background-site);
  padding-bottom: 11px;
  display: grid;
  grid-template-columns: 92px 1fr;

  .leftSide {
    padding: 20px;
  }

}

.controls {
  position: absolute;
  bottom: 4px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 16px);
  padding-top: 8px;
  background-color: var(--background-site);

  .editorOptions {
    display: flex;
    width: 100%;

    .editorOption {
      position: relative;
      width: 36px;
      height: 36px;
      margin: 0;
      margin-inline: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        justify-content: flex-start;
        margin-inline: 0;
      }
    }

    .attachIcon {
      width: 24px;
      height: 24px;
      margin-top: 4px;
      display: inline-block;
      background-color: var(--text-tertiary);
      cursor: pointer;

      &:hover {
        background-color: var(--text-secondary);
      }
    }

    .emojiIcon {
      width: 24px;
      height: 24px;
      display: inline-block;
      background-color: var(--text-tertiary);
      cursor: pointer;

      &.highlight {
        background-color: var(--text-secondary);
      }

      &:hover {
        background-color: var(--text-secondary);
      }
    }
  }

  .editorDescision {
    display: flex;
    button {
      min-width: 110px;
      margin-left: 8px;
    }
  }
}

.primaryButton {
  border: none;
  border-radius: 6px;
  margin: 0px 8px;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background: var(--brand-gradient-vertical);
  color: white;
  >span {
    opacity: 0.75;
  }
}


.secondaryButton {
  border: none;
  border-radius: 6px;
  padding: 1px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background: var(--brand-gradient-vertical);
  color: var(--text-tertiary-2);
  >div {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 6px;
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.searchSuggestions {
  width: 300px;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: var(--z-index-floater);
}

.highlight {
  color: var(--accent-1);
}

.userReference {
  color: var(--accent-1);
  &:hover {
    text-decoration: underline;
  }
}

textarea {
  width: calc(100% - 18px);
  max-height: calc(100vh / 3);
  margin: 18px 18px 36px 0px;
  padding: 0px;
  box-sizing: padding-box;
  border: none;
  border-radius: 0px;
  background-color: unset;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-primary);
  resize: none;
  scrollbar-width: none;  /* Firefox */

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

textarea::-webkit-scrollbar{
  display: none;  /* Safari and Chrome */
 }

.error {
  color: var(--brand-1);
}


.editorWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: text;
  max-height: calc(100vh - 27px);
}

.previewCaption {
  color: var(--subtile-devider);
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
}

.editorScroll {
  min-height: 60px;
  max-height: calc(60vh - 87px);
  overflow-y: scroll;
  margin-bottom: 48px;

  scrollbar-width: none;  /* Firefox */

}

.editorScroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.editor {
  display: block;
  max-width: calc(100% - 14px);
  min-height: 60px;
  outline: 0px solid transparent;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-primary);
  margin: 0px 14px 32px 0px;
  padding: 0px;
  background-color: var(--background-sheet);
  border-radius: 4px;
  padding: 12px;
}


.emojiSuggestions {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 36px);
  grid-gap: 4px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;

  top: 0px;
  left: 0px;
  z-index: var(--z-index-floater);

  .emojiOption {
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    background: none;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover, &.highlight {
      background-color: var(--text-tertiary-2);
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.uploadLoader {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-site);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  > div {
    position: relative;
    min-height: 48px;
  }
}

.dropOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-site);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
}

.uploader {
  width: calc(100% - 14px);
}

.toggle {
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;

  .off {
    color: var(--text-secondary);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }
  .on {
    color: var(--text-primary);
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
  }
}

.context {
  background-color: var(--highlight);
  color: var(--text-highlight);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.highlight {
  margin-block: 8px;
}
