
.themeOption {
  width: 128px;
  >p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text-primary);
    margin-top: 8px;
    text-align: center;
  }

  img {
    background: none;
  }
}


@mixin themeOptionButton {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: unset;
  border: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  place-content: center;
  border-radius: 6px;

  >img {
    width: 58px;
    height: 58px;
  }
}

.selected {
  border: solid 1px var(--accent) !important;
}

.sunset {
  @include themeOptionButton();
  background-color: var(--dark-back);
}

.midnight {
  @include themeOptionButton();
  background-color: var(--dark-back);
}

.sunrise {
  @include themeOptionButton();
  background-color: var(--light-back);
}

.ice {
  @include themeOptionButton();
  background-color: var(--light-back);
}

.themeChecked {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  border-radius: 50%;
  >img {
    width: 10px;
    height: 10px;
  }
}

@mixin themeUnchecked {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.themeUncheckedDark {
  @include themeUnchecked();
  background-color: #222222;
}

.themeUncheckedLight {
  @include themeUnchecked();
  background-color: #D5D5D5;
}
