.liveVideo {
  position: relative;
  max-height: 435.38px;

  media-controller {
    height: 435.38px;
    video {
      height: 100%;
      object-fit: contain;
    }
  }

  .shroud {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
  }

  .videoEndedPlaceholder {
    width: 100%;
    height: 445.38px;
    background-color: var(--background-site);
    z-index: 2;
    padding-bottom: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: var(--text-tertiary-2);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    button {
      margin: 0;
      padding: 4px 12px;
      outline: none;
      border: none;
      border-radius: 99px;
      background-color: var(--text-primary);
      width: fit-content;

      color: var(--background-site);
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  .videoPlaceholder {
    width: 100%;
    height: 445.38px;
    background-color: var(--background-site);
    z-index: 2;
    padding-bottom: 12px;
  }

  media-controller {
    width: 100%;
  }

  .controllBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    --media-control-background: transparent;
    --media-control-hover-background: transparent;
    background-color: rgba(0,0,0,0.4);
    padding-bottom: 12px;

    .liveRange {
      width: 100%;
      margin-bottom: 10px;

      &::-webkit-slider-runnable-track  { /* For WebKit browsers */
        background: var(--accent); /* Example background color */
        height: 4px; /* Example height */
        border-radius: 2px; /* Example border-radius */
      }

      &::-webkit-slider-thumb { /* For WebKit browsers */
        -webkit-appearance: none; /* Remove default thumb appearance */
        width: 20px; /* Example width */
        height: 20px; /* Example height */
        background: var(--accent); /* Example background color */
        border-radius: 50%; /* Make it circular */
        border: none;
        margin-top: -8px; /* Adjust vertical positioning to center on track */
      }


      &::-moz-range-track  { /* For WebKit browsers */
        background: var(--accent); /* Example background color */
        height: 4px; /* Example height */
        border-radius: 2px; /* Example border-radius */
      }

      &::-moz-range-thumb  { /* For WebKit browsers */
        -webkit-appearance: none; /* Remove default thumb appearance */
        width: 20px; /* Example width */
        height: 20px; /* Example height */
        background: var(--accent); /* Example background color */
        border-radius: 50%; /* Make it circular */
        border: none;
        margin-top: -6px; /* Adjust vertical positioning to center on track */
      }
    }

    .timeRange {
      width: 100%;

      --media-range-thumb-width: 20px;
      --media-range-thumb-height: 20px;
      --media-range-track-border-radius: 10px;
      /* --media-range-thumb-opacity: .7; */
      /* --media-preview-time-margin: 0 0 -15px; */
      --media-range-thumb-background: var(--accent);
      --media-range-bar-color: var(--accent);
      --media-preview-box-display: none;
    }

    .videoButtons {
      width: 100%;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 8px;

      .buttonSection {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      [role=button] {
        background: none;
        width: 36px;
        height: 36px;
        border: none;
        outline: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
          outline: none;
          border: none;
        }
      }

      .liveButton {
        width: 60px;
        .text {
          color: #FFF;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-transform: capitalize;
        }
      }
    }

    media-time-display {
      --media-text-color: #FFF;
      z-index: 1;
    }
  }

  &:hover {
    .shroud {
      display: block;
    }

    /* .controllBar {
      display: flex;
    } */
  }
}

.playIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 0px;
  background-color: #FFF;
  -webkit-mask: url(../../assets/icons/video_controlls/play.svg) no-repeat center;
  mask: url(../../assets/icons/video_controlls/play.svg) no-repeat center;
}

.pauseIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 0px;
  background-color: #FFF;
  -webkit-mask: url(../../assets/icons/video_controlls/pause.svg) no-repeat center;
  mask: url(../../assets/icons/video_controlls/pause.svg) no-repeat center;
}

.muteIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 0px;
  background-color: #FFF;
  -webkit-mask: url(../../assets/icons/video_controlls/mute.svg) no-repeat center;
  mask: url(../../assets/icons/video_controlls/mute.svg) no-repeat center;
}

.unmuteIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 0px;
  background-color: #FFF;
  -webkit-mask: url(../../assets/icons/video_controlls/unmute.svg) no-repeat center;
  mask: url(../../assets/icons/video_controlls/unmute.svg) no-repeat center;
}

.contextIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 0px;
  background-color: #FFF;
  -webkit-mask: url(../../assets/icons/video_controlls/context.svg) no-repeat center;
  mask: url(../../assets/icons/video_controlls/context.svg) no-repeat center;
}

.liveEventPreview {
  border-radius: 8px;
  background: var(--background-header-input);

  display: flex;
  width: 100%;
  padding: 12px;
  gap: 12px;
  margin-right: auto;
  margin-top: 12px;

  &:hover {
    text-decoration: none !important;
  }

  .streamInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;

    .header {
      display: flex;
      gap: 4px;

      .name {
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
      }

      .nip05 {
        color: var(--text-tertiary);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }
    }

    .title {
      color: var(--text-primary);
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .stats {
      display: flex;
      gap: 8px;

      .time {
        color: var(--text-tertiary);
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
      }

      .participants {
        display: flex;
        gap: 4px;
        color: var(--text-tertiary);
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
      }

      .participantsIcon {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin: 0px 0px;
        background-color: var(--text-tertiary);
        -webkit-mask: url(../../assets/icons/profile.svg) no-repeat center;
        mask: url(../../assets/icons/profile.svg) no-repeat center;
      }
    }
  }

  .liveBadge {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 38px;
    color: var(--text-tertiary);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    .liveDot {
      width: 6px;
      height: 6px;
      display: inline-block;
      margin: 0px 0px;
      background-color: #E00;
      -webkit-mask: url(../../assets/icons/dot.svg) no-repeat center;
      mask: url(../../assets/icons/dot.svg) no-repeat center;
    }
  }
}
