.container {
  width: 1240px;
  height: 100vh;
  margin: 0px auto;

  display: grid;
  grid-template-columns: 176px 640px 300px;
  grid-column-gap: 32px;
}

.leftColumn {
  display: grid;
  grid-template-rows: 117px 1fr;
  grid-row-gap: 28px;

  >div {
    position: fixed;
    width: 176px;
  }
}

.leftHeader {
  height: 117px;
  display: grid;
  align-items: center;
  justify-content: right;
}

.leftContent {
  display: grid;
  height: 100%;
  justify-content: right;
}

.centerColumn {
  display: grid;
  grid-template-rows: 117px 1fr;
}

.centerHeader {
  width: 640px;
}

.centerContent {
  width: 640px;
}

.rightColumn {
  display: grid;
  width: 300px;
  grid-template-rows: 117px 1fr;
  grid-row-gap: 28px;
}

.rightHeader {
  height: 117px;
  display: grid;
  align-items: center;
  justify-content: left;
  position: fixed;
  background-color: var(--background-site);
  z-index: var(--z-index-header);
}

.rightContent {
  margin-top: 117px;
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 1032px;
    grid-template-columns: 48px 640px 300px;
  }

  .leftColumn {
    >div {
      position: fixed;
      width: 48px;
    }
  }

  .rightColumn {
    width: 300px;
  }
}

@media only screen and (max-width: 1087px) {
  .container {
    width: 720px;
    grid-template-columns: 48px 640px;
  }

  .rightColumn {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 48px;
    grid-template-areas: "content" "footer";
  }

  .centerColumn {
    grid-area: content;
    width: 100%;
  }

  .centerHeader {
    width: 100%;
  }

  .centerContent {
    width: 100%;
  }

  .leftColumn {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
    background-color: var(--background-site);

    .leftHeader {
      display: none;
    }

    .leftContent {
      display: flex;
      width: 100%;
    }

    >div {
      position: relative;
      width: 100%;
    }
  }

  .rightColumn {
    display: none;
  }

  // body {
  //   overflow-x: hidden;
  // }
}
