.emojiSuggestions {
  position: relative;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  width: 322px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 4px;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;

  .emojiOption {
    margin-bottom: 5px;
    padding: 2px;
    background: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, &.highlight {
      background-color: var(--text-tertiary-2);
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}
