@mixin heading {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 44px;
  z-index: 5;
  padding-bottom: 22px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-secondary-2);
  background: var(--background-site);
  >div{
    height: 22px;
    >span {
      color: var(--text-tertiary-2);
      text-transform: lowercase;
      margin-left: 6px;
    }
  }
}

.trendingSection {
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0px;
  // padding-top: 44px;
  margin-bottom: 228px
}

.stickyWrapper {
  height: 100%;
  position: fixed;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    display: none;
  }
}

.heading {
  @include heading();
}

.peopleList {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 52px 148px 72px;
  grid-template-rows: 1fr;
  grid-template-areas: "avatar content follow";
  grid-column-gap: 14px;
  text-decoration: none;
  align-items: center;

  .avatar {
    grid-area: avatar;
    display: grid;
    justify-items: center;
    height: 52px;

    .avatarImg {
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .name {
      color: var(--text-primary);
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .verification {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: var(--text-tertiary-2);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .verifiedName {
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;
      color: var(--text-tertiary-2);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .npub {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: var(--text-tertiary-2);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      .message, .name, .time {
        color: var(--text-primary);
        text-decoration: underline;
      }

      cursor: pointer;
    }
  }

  @mixin followButton {
    grid-area: follow;
    align-items: center;
    display: flex;
    align-items: center;
    button {
      width: 72px;
      height: 28px;
      background: var(--brand-gradient);
      border-radius: 6px;
      padding: 0px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin: 0px;
    }

  }

  .follow {
    @include followButton;
  }

  .unfollow {
    @include followButton;
    button {
      background-color: var(--background-card);
      background: linear-gradient(var(--background-card), var(--background-card)) padding-box,
                    var(--brand-gradient) border-box;
      border: 1px solid transparent;
    }
  }

  &:hover {
    .name {
      text-decoration: underline;
      color: var(--text-primary);
    }
  }
}

.verifiedIcon {
  width:13px;
  height: 12px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat center;
  mask: url(../../assets/icons/verified.svg) no-repeat center;
}
