.settingsContainer {
  background-color: var(--background-card);
  min-height: 100vh;
  padding-bottom: 20px;
}

.fullHeader {
  display: grid;
  height: 128px;
  align-items: center;
  justify-content: left;

  >div {
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: var(--brand-text);
    text-transform: lowercase;
  }
}

.label {
  color: var(--text-secondary);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.blossomMainServer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.resetRelays {
  margin-top: 12px;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.bigCaption {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 24px;
}

.secondBigCaption {
  margin-top: 48px;
}

.settingsCaption {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-secondary);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.settingsCaptionDarker {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-tertiary);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.settingsDescription {
  color: var(--text-tertiary);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 8px;
}

.settingsContent {
  padding-inline: 20px;
  padding-top: 28px;
  border-top: 1px solid var(--devider);
}

.settingsContentFull {
  padding-inline: 0px;
  padding-block: 8px;
  border-top: 1px solid var(--devider);
}

.settingsContentBorderless {
  padding-inline: 20px;
  padding-block: 28px;
}

.settingsContentFullBorderless {
  padding-inline: 0px;
  padding-block: 8px;
}

.settingsContentPaddingOnly {
  padding-inline: 20px;
}

.rightFloater {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.settingsAccountCaption {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 46px;

  .caption {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
  }

  .copy {
    color: var(--accent);
    background: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 0;
    border: none;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:focus {
      box-shadow: none;
    }

    .checkIcon {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-inline: 2px;
      background-color: var(--success-color);
      -webkit-mask: url(../../assets/icons/check.svg) no-repeat 0 / 80%;
      mask: url(../../assets/icons/check.svg) no-repeat 0 / 80%;
    }
  }
}

.settingsKeyArea {
  background-color: var(--background-input);
  padding-inline: 12px;
  padding-block: 10px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .key {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 12px;
    border: none;
    height: 20px;
  }

  .icon {
    margin: 7px;
  }

  .keyIcon {
    min-width: 28px;
    height: 28px;
    display: block;
    margin: 0px;
    background-color: var(--text-secondary);
    -webkit-mask: url(../../assets/icons/key.svg) no-repeat 0 0 / 28px 28px;
    mask: url(../../assets/icons/key.svg) no-repeat 0 0 / 28px 28px;
  }
}

.secondCaption {
  margin-top: 24px;
}

.separator {
  width: 100%;
  border-bottom: solid 1px var(--devider);
  margin-block: 12px;
}

.feedManage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 20px;
  margin-bottom: 20px;

  button {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

.restoreFeedsButton {
  background: none;
  color: var(--accent-1);
  width: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: lowercase;

  &:hover {
    text-decoration: underline;
  }
}

.devider {
  width: 100%;
  border-bottom: solid 1px var(--subtile-devider);
  margin-block: 32px;
}

.subpageLinks {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--devider);

  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-block: 16px;
    padding-inline: 20px;
    border-bottom: 1px solid var(--devider);
    width: 100%;
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;

    .caption {
      display: flex;
      justify-content: flex-start;

      .bubble {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;

        margin-left: 2px;

        font-family: 'Roboto Condensed';
        font-weight: 500;
        font-size: 12px;
        line-height: 11px;

        background: var(--accent);
        border: 1px solid var(--background-site);
        border-radius: 9px;

        color: var(--text-primary-button);
      }
    }

    .chevron {
      width: 12px;
      height: 20px;
      background-color: var(--text-tertiary);
      -webkit-mask: url(../../assets/icons/chevron_right.svg) no-repeat 0 / 100%;
      mask: url(../../assets/icons/chevron_right.svg) no-repeat 0 / 100%;
    }

    &:hover {
      background-color: var(--background-input);
      .chevron {
        background-color: var(--text-primary);
      }
    }
  }
}

.emptyListBanner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-block: 20px;
}

.mutedUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--background-input);
  .userInfo {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 36px;
    max-width: 440px;
    .userName {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 8px;
      .title {
        color: var(--text-primary);
        font-size: 15px;
        font-weight: 700;
        line-height: 16px;
        max-width: 440px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .verification {
        color: var(--text-tertiary-2);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        max-width: 440px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  button {
    padding-inline: 14px;
    padding-block: 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: var(--text-primary);
  }
}

.closeIcon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/close.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/close.svg) no-repeat 0 / 100%;
}

.addIcon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/add.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/add.svg) no-repeat 0 / 100%;
}
.backIcon {
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/back.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/back.svg) no-repeat 0 / 100%;
}

.copyIcon {
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/copy.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/copy.svg) no-repeat 0 / 100%;
}

.addIconBig {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--text-secondary);
  margin-inline: 8px;
  -webkit-mask: url(../../assets/icons/add2.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/add2.svg) no-repeat 0 / 100%;
}

.webIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-secondary);
  margin-inline: 8px;
  -webkit-mask: url(../../assets/icons/global.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/global.svg) no-repeat 0 / 100%;
}

.connectIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-secondary);
  margin-inline: 8px;
  -webkit-mask: url(../../assets/icons/connect.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/connect.svg) no-repeat 0 / 100%;
}

.helpIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-secondary);
  margin-inline: 8px;
  -webkit-mask: url(../../assets/icons/help.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/help.svg) no-repeat 0 / 100%;
}

.searchIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-secondary);
  margin-inline: 8px;
  -webkit-mask: url(../../assets/icons/search.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/search.svg) no-repeat 0 / 100%;
}

.relayItem {
  display: flex;
  justify-content: space-between;
  padding-block: 11px;
  padding-inline: 20px;
  border: none;
  border-bottom: 1px solid var(--devider);
  border-radius: 0;
  outline: none;
  margin: 0;
  background: none;

  &.extended {
    margin-inline: -20px;
  }

  .relayEntry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--text-secondary-2);
    text-align: left;

    .connected {
      background-color: #66E205;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      margin-right: 8px;
    }

    .disconnected {
      background-color: #E20505;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      margin-right: 8px;
    }

    .suspended {
      background-color: var(--text-secondary);
      width: 6px;
      height: 6px;
      border-radius: 2px;
      margin-right: 8px;
    }


    .relayUrl {
      max-width: 450px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .relayActions {
      display: flex;
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
      min-width: 100px;
      margin-left: 20px;

      >span {
        display: inline;
      }

      >button {
        border: none;
        background: none;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        margin: 2px;
        padding: 0px;
        color: var(--warning-color);
        display: none;
        flex-direction: column;
        align-items: center;
      }

      &:hover {
        >span {
          display: inline;
        }
        >button {
          display: flex;
        }
      }
    }
  }

  .remove, .add {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 72px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    height: 28px;
    border-radius: 14px;
    color: var(--text-secondary);
    background-color: var(--background-input);
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    transition: color 0s linear;
  }

  &:hover {
    background-color: var(--background-input);
    .relayEntry {
      color: var(--text-primary);

      .webIcon {
        background-color: var(--text-primary);
      }
    }

    .remove, .add {
      background-color: var(--subtile-devider);
    }
  }

}

.relayInput {
  position: relative;

  .webIcon {
    position: absolute;
    top: 8px;
    left: 4px;
  }

  input {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding-inline: 40px;
    height: 36px;
    border: none;
    border-radius: 18px;
    color: var(--text-secondary);
    margin-bottom: 0;
    background-color: var(--background-input);

    &.noIcon {
      padding-left: 8px;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--text-tertiary-2);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--text-tertiary-2);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--text-tertiary-2);
    }

    &:focus {
      border-color: var(--text-tertiary);
    }
  }

  button {
    position: absolute;
    top: 0px;
    right: 4px;
    width: 36px;
    height: 36px;
    background: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      .connectIcon {
        background-color: var(--text-primary);
      }
    }
  }
}

.invalidInput {
  color:#E20505;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.webVersion {
  width: fit-content;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;

  .title {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .value {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
}

.noMyRelays {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.moderationDescription {
  color: var(--text-tertiary);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 16px;
}

.filterListTable {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  position: relative;

  .filterListHeader {
    width: 100%;
    height: 40px;
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    >div {
      width: 200px;
      height: 48px;
      color: var(--text-secondary);
      font-size: 14px;
      font-weight: 400;
      line-height: 48px;
      padding-right: 22px;
      display: flex;
      align-items: center;

      &:first-child {
        width: 222px;
        padding: 20px;
      }
    }

    &.secondFilter {
      margin-top: 16px;
    }
  }

  .filterListItem {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid var(--background-input);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

    &:first-child {
      border-top: 1px solid var(--background-input);
    }

    .filterListName {
      width: 222px;
      height: 48px;
      overflow: hidden;
      color: var(--text-secondary);
      font-size: 14px;
      font-weight: 400;
      line-height: 48px;
      padding-right: 22px;
      text-overflow: ellipsis;
      word-break: normal;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      >a {
        margin-right: 8px;
        color: var(--text-secondary);
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: normal;
        max-height: 48px;
      }
    }

    .filterListCheck {
      width: 200px;
    }
  }
}

.searchFilteredAccount {
  margin-bottom: 36px;
}

.algoLogo {
  background-image: var(--logo);
  background-size: contain;
  margin-right: 0px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}


.allowlistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 11px;
  padding-inline: 0;
  border-bottom: 1px solid var(--background-input);
  border: none;
  outline: none;
  margin: 0;
  background: none;
  height: 48px;

  .allowlistEntry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--text-secondary-2);
    text-align: left;

    .connected {
      background-color: #66E205;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      margin-right: 8px;
    }

    .disconnected {
      background-color: #E20505;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      margin-right: 8px;
    }
    .inactive {
      background-color: gray;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      margin-right: 8px;
    }

    .allowlistInfo {
      max-width: 450px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .avatar {
        margin-right: 12px;
      }

      .allowlistUserInfo {
        display: flex;
        flex-direction: column;

        .firstLine {
          display: flex;
          align-items: center;
          height: 18px;

          .name {
            color:var(--text-primary);
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            margin-right: 4px;
          }

          .verification {
            color: var(--text-tertiary);
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            margin-left: 8px;
          }
        }

        .npub {
          display: flex;
          align-items: center;
          color: var(--text-secondary);
          font-size: 10px;
          font-weight: 400;
          line-height: 12px;
          height: 18px;
        }

      }
    }
  }

  .remove, .add {
    width: auto;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: var(--text-tertiary-2);
    background: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    transition: color 0s linear;

    .removeIcon, .addIcon {
      background-color: var(--text-tertiary-2);
    }
  }

  &:hover {

    .relayEntry {
      color: var(--text-primary);

      .webIcon, .addIcon {
        background-color: var(--text-primary);
      }
    }

    .remove {
      color: #E20505;
      transition: color 0s linear;

      .closeIcon {
        background-color: #E20505;
      }
    }

    .add {
      color: #66E205;
      transition: color 0s linear;

      .addIcon {
        background-color: #66E205;
      }
    }
  }

}

.npubInput {
  position: relative;

  .webIcon {
    position: absolute;
    top: 11px;
    left: 4px;
  }

  input {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding-inline: 40px;
    height: 36px;
    border: none;
    border-radius: 18px;
    color: var(--text-secondary);
    margin-bottom: 0;
    background-color: var(--background-input);

    &.noIcon {
      padding-inline: 16px;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--text-tertiary-2);
      opacity: 1; /* Firefox */
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--text-tertiary-2);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--text-tertiary-2);
    }

    &:focus {
      border-color: var(--text-tertiary);
    }
  }

  button {
    position: absolute;
    top: 0px;
    right: 6px;
    width: 36px;
    height: 36px;
    background: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
      background-color: var(--text-tertiary-2);
    }

    &:hover {
      >div {
        background-color: var(--text-secondary);
      }
    }
  }
}

.fiterSearchCaption {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 12px;
}

.veil {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-card);
  opacity: 0.75;
  z-index: var(--z-index-header);
}

.clearButton {
  margin: 8px;
  padding: 8px;
  background: none;
  border: none;
  outline: none;
  width: max-content;

  &:hover {
    >div {
      background-color: var(--text-primary);
    }
  }
}

.securityWarning {
  display: flex;
  align-items: center;
  width: 100%;

  .securityMessage {
    display: inline-block;
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-left: 22px;
  }

  .securityIcon {
    min-width: 54px;
    height: 54px;
    display: inline-block;
    margin: 0px;
    background-color: var(--text-secondary);
    -webkit-mask: url(../../assets/icons/report.svg) no-repeat 0 0 / 54px 54px;
    mask: url(../../assets/icons/report.svg) no-repeat 0 0 / 54px 54px;
  }
}

.appearanceCheckLabel {
  display:flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 40px;
  color: var(--text-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}


.devToolsList {
  display: flex;
  flex-direction: column;
}

.devToolsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background-input);
  padding-block: 14px;

  >div {
    color: var(--text-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.walletList {
  display:flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--background-input);
}

.nwcInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nwcInput {
  border-radius: 12px;
  background: var(--background-sheet);
  width: 580px;

  input {
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;

    outline: none;
    border: none;
    margin: 0;
    padding-block: 12px;
    padding-inline: 16px;
    height: fit-content;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: var(--text-tertiary-2);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
    }
  }
}

.nwcTextArea {
  border-radius: 12px;
  background: var(--background-sheet);
  width: 580px;

  textarea{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    padding-block: 12px;
    padding-inline: 16px;

    &::placeholder {
      color: var(--text-tertiary-2);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
    }
  }
}

.nwcInputActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
  margin-top: 20px;
}

.mirrorServer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
  border-bottom: 1px solid var(--background-input);

  .label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
  }

  .actions {
    display: flex;
    gap: 12px;
    >button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      padding-inline: 12px;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;

      &:hover {
        background-color: var(--subtile-devider);
      }
    }
  }

}

.connected {
  background-color: #66E205;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  margin-right: 8px;
}

.disconnected {
  background-color: #E20505;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  margin-right: 8px;
}

.suspended {
  background-color: var(--text-secondary);
  width: 6px;
  height: 6px;
  border-radius: 2px;
  margin-right: 8px;
}


.settingsTabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 8px;
  // background-color: var(--background-card);
  width: 100%;
  border-radius: 0;
  padding-top: 14px;
  border-bottom: 1px solid var(--devider);
  border-top: none;
}

.settingsTab {
  position: relative;
  display: inline-block;
  padding-inline: 14px;
  padding-block: 2px;
  border: none;
  background: none;
  width: fit-content;
  height: 40px;
  margin: 0;
  margin-bottom: 12px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.settingsTabIndicator {
  position: absolute;
  height: 4px;
  top: 62px;
  left: 0;
  border-radius: 2px 2px 0px 0px;
  background: var(--accent);
  transition: all 250ms;
}

.label {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.wordInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 20px;
}
