.addToFeed {
  display: flex;
  position: absolute;
  bottom: 0px;
  height: 35px;
  justify-content: flex-end;
  align-items: center;

  .noAdd {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-primary);
    opacity: 0.6;
    transition: opacity 0.4s;
  }

  .addButton {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: unset;
    width: auto;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-primary);
    opacity: 0.6;
    transition: opacity 0.4s;

    >span {
      font-weight: 800;
      margin-right: 5px;
    }

    &:hover {
      opacity: 1;
      transition: opacity 0.4s;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
