.lnbc {
  width: 100%;
  min-height: 158px;
  background-color: var(--background-header-input);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
  position: relative;
  margin-top: 8px;

  .paymentOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-site);
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      color: var(--text-primary);

      font-size: 15px;
      font-weight: 700;
      line-height: 16px;
    }

    .headerActions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2px;

      button {
        .qrIcon {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin: 0px;
          background-color: var(--text-secondary);
          -webkit-mask: url(../../assets/icons/qr_code.svg) no-repeat 0px / 18px;
          mask: url(../../assets/icons/qr_code.svg) no-repeat 0px / 18px;
        }
        .copyIcon {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin: 0px;
          background-color: var(--text-secondary);
          -webkit-mask: url(../../assets/icons/copy_border.svg) no-repeat 0px / 18px;
          mask: url(../../assets/icons/copy_border.svg) no-repeat 0px / 18px;
        }

        &:hover {
          .qrIcon, .copyIcon {
            background-color: var(--text-primary);
          }
        }
      }

      .copyDone {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .checkIcon {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin: 0px;
          background-color: var(--success-bright);
          -webkit-mask: url(../../assets/icons/check.svg) no-repeat 0px / 18px;
          mask: url(../../assets/icons/check.svg) no-repeat 0px / 18px;
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;

    .description {
      color: var(--text-primary);

      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    .amount {
      color: var(--text-primary);

      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .footer {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .expiryDate {
      color: var(--text-secondary);

      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.15px;
    }
    .expiredDate {
      color: var(--text-tertiary);

      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.15px;
    }

    .payAction {
      height: 36px;
      min-width: 120px;
      button {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.noBack {
    background-color: unset;
  }

  .lnIcon {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/lightning.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.lnbcAlter {
  width: 100%;
  min-height: 158px;
  background-color: none;
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px 0;
  position: relative;

  .paymentOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-site);
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      color: white;

      font-size: 15px;
      font-weight: 700;
      line-height: 16px;
    }

    .headerActions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2px;

      button {
        .qrIcon {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin: 0px;
          background-color: white;
          -webkit-mask: url(../../assets/icons/qr_code.svg) no-repeat 0px / 18px;
          mask: url(../../assets/icons/qr_code.svg) no-repeat 0px / 18px;
        }
        .copyIcon {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin: 0px;
          background-color: white;
          -webkit-mask: url(../../assets/icons/copy_border.svg) no-repeat 0px / 18px;
          mask: url(../../assets/icons/copy_border.svg) no-repeat 0px / 18px;
        }

        &:hover {
          .qrIcon, .copyIcon {
            background-color: white;
          }
        }
      }

      .copyDone {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .checkIcon {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin: 0px;
          background-color: var(--success-bright);
          -webkit-mask: url(../../assets/icons/check.svg) no-repeat 0px / 18px;
          mask: url(../../assets/icons/check.svg) no-repeat 0px / 18px;
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;

    .description {
      color: white;

      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    .amount {
      color: white;

      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .footer {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .expiryDate {
      color: white;

      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.15px;
    }
    .expiredDate {
      color: white;

      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.15px;
    }

    .payAction {
      height: 36px;
      min-width: 120px;
      button {
        width: 100%;
        height: 100%;
        color: var(--accent);
        background-color: white;
      }
    }
  }

  &.noBack {
    background-color: unset;
  }

  .lnIcon {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/lightning_white.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
