.sideNav {
  display: flex;
  flex-direction: column;

  > div {
    margin-bottom: 28px;
  }
}

.callToAction {
  display: grid;
  justify-content: right;
  margin-top: 15px;

  .message {
    color: var(--text-tertiary);
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
  }

  .action {
    button {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1300px) {

  .callToAction {
    .message, .action {
      display: none;
    }
  }
}

@media only screen and (max-width: 720px) {
  .navMenu {
    width: 100%;
  }

  .sideNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 48px;

    > button {
      margin-bottom: 0px;
    }
  }

  .callToAction {
    position: fixed;
    bottom: 56px;
    right: 24px;

    .message, .action {
      display: none;
    }
  }
}
