.sideNav {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.liveNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
}

.callToAction {
  // margin-left: 8px;
  width: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;

  >button {
    margin: 0;
    width: 100% ;
  }

  .message {
    color: var(--text-tertiary);
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 1300px) {
  .callToAction {
    margin-left: 2px;
    width: 36px;
    height: 36px;

    >button {
      padding: 0;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 720px) {
  .navMenu {
    width: 100dvw;
  }

  .sideNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 48px;

    > button {
      margin-bottom: 0px;
    }
  }

  .callToAction {
    position: fixed;
    bottom: 56px;
    left: calc(100vw - 48px);

    .message, .action {
      display: none;
    }
  }
}


.postIcon {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  background-color: var(--text-primary-button);
  -webkit-mask: url(../../assets/icons/post.svg) no-repeat 0 0 / 18px 18px;
  mask: url(../../assets/icons/post.svg) no-repeat  0 0 / 18px 18px;
}
