.callToAction {
  display: flex;
  min-width: 50%;
  align-items: center;
  justify-content: flex-start;
  background-color: unset;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;

  p {
    font-size: 34px;
    line-height: 34px;
    padding: 0px;
    margin: 0px;
  }

  .border {
    height: 28px;
    padding: 1px;
    background: var(--brand-gradient);
    border-radius: 6px;
  }

  .input {
    height: 36px;
    // width: 100%;
    flex-grow: 1;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin: 0px;
    margin-left: 8px;
    border-radius: 18px;
    border: none;
    color: var(--text-tertiary);
    background-color: var(--background-header-input);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 16px;
  }
}
