.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  min-height: 98px;

  &.noExtra {
    min-height: 36px;
  }

  .root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .label {
      color: var(--text-secondary);
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }

    .input {
      width: 100%;
      height: 36px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin: 0px;
      padding: 0;
      border-radius: 20px;
      border: none;
      color: var(--text-primary);
      background-color: var(--background-header-input);
      display: flex;
      align-items: center;
      justify-content: flex-start;

      --icon-invalid: none;
      --form-element-invalid-border-color: none;


      &::placeholder {
        color: var(--text-tertiary-2);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }

      &:focus, &:focus-visible {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    .description {
      color: var(--text-tertiary);
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }

    .errorMessage {
      color: var(--warning-bright);
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 20px;
    }

    .successMessage {
      color: var(--success-bright);
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 20px;
    }

    .inputWrapper {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: 36px;
      padding-block: 18px;
      padding-inline: 16px;
      border-radius: 20px;
      border: none;
      background-color: var(--background-header-input);


      &[data-validation="invalid"] {
        border: 1px solid var(--warning-bright);
      }

      .inputAfter {
        position: absolute;
        width: 36px;
        height: 36px;
        top: 10px;
        right: 0;
        z-index: 10;
      }
    }
  }
}
