.container {
  // background-color: var(--background-card);
  min-height: 100vh;
  padding-bottom: 20px;
}

.creationContent {
  padding-inline: 20px;
  padding-top: 24px;
  border-top: 1px solid var(--devider);
}

.fullHeader {
  position: relative;
  // background-color: var(--background-card);
  padding-bottom: 20px;
}

.bannerPlaceholder {
  position: relative;
  width: 100%;
  height: 214px;
  background-color: var(--background-header-input);
}

.banner {
  position: relative;
  width: 100%;
  height: 214px;
  background-color: var(--background-header-input);

  .uploadingOverlay {
    position: absolute;
    width: 100%;
    height: 214px;
    background-color: var(--background-card);
    z-index: 1;
    opacity: 0.6;
  }

  >label, .bannerPlaceholder>label {
    position: relative;
    height: 100%;
    cursor: pointer;

    >img {
      width: 100%;
      height: 214px;
      object-fit: cover;
    }

    >div {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: var(--background-card);
      color: var(--text-primary);
      opacity: 0;
      transition: opacity 0.25s ease-out;
    }

    &:hover {
      >div {
        opacity: 0.8;
        transition: opacity 0.25s ease-in;
      }
    }
  }
}

.userImage {
  position: absolute;
  top: 148px;
  left: 15px;
  z-index: 2;

  .avatar {
    border: solid 4px var(--background-card);
    border-radius: 50%;
    background-color: var(--background-card);

    .uploadingOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: var(--background-card);
      z-index: 3;
      opacity: 0.6;
    }
  }

}

.phoneAvatar {
  display: none;
}

.desktopAvatar {
  position: relative;
  display: block;

  .uploadAction {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-card);
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }

  &:hover {
    .uploadAction {
      opacity: 0.8;
      transition: opacity 0.25s ease-in;
    }
  }
}

.blankActions {
  height: 81px;
}

.uploadActions {
  display: flex;
  // justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  >div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .uploader {
    width: 420px;
    height: 20px;
  }

  .separator {
    width: 1px;
    height: 20px;
    margin-block: 28px;
    background-color: var(--subtile-devider);
  }

  .uploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-input);
    border: none;
    border-radius: 16px;
    outline: none;
    color: var(--text-primary);
    min-width: 140px;
    height: 32px;
    padding: 0;
    padding-top: 4px;
    margin-block: 8px;
    margin-inline: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: lowercase;

    >label {
      cursor: pointer;
    }
  }
}

form {
  .inputLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    label {
      color: var(--text-primary);
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      margin: 0;

      .help {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-left: 8px;
        color: var(--text-tertiary);
      }
    }

    .required {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: var(--text-tertiary-2);

      .star {
        color: var(--warning-color);
        font-weight: 600;
        margin-right: 2PX;
      }
    }
  }

  input, textarea {
    border: none;
    border-radius: 18px;
    background: var(--background-header-input);
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-inline: 19px;
    width: 100%;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--text-tertiary-2);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--text-tertiary-2);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--text-tertiary-2);
    }
  }

  input {
    height: 36px !important;
  }

  textarea {
    padding-block: 8px;
    min-height: 104px;
  }

  .inputWithPrefix {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    background-color: var(--background-header-input);
    height: 36px;
    border-radius: 18px;
    .inputPrefix {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      height: 36px;
      color: var(--text-tertiary-2);
      padding-left: 12px;
    }

    >input {
      height: 36px;
      margin-bottom: 0;
      background: none;
      padding-left: 8px;
      border-radius: 0px 8px 8px 0px;
    }
  }

  .inputError {
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-top: calc(var(--spacing) * (-1));
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 720px) {

  .banner {
    width: 100%;
    height: 125px;

    >label {
      >img {
        width: 100%;
        height: 125px;
        object-fit: cover;
      }
    }
  }

  .userImage {
    position: absolute;
    top: 96px;
    left: 15px;
  }

  .phoneAvatar {
    display: block;
    position: relative;

    .uploadAction {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      background-color: var(--background-card);
      color: var(--text-primary);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.25s ease-out;
    }

    &:hover {
      .uploadAction {
        opacity: 0.8;
        transition: opacity 0.25s ease-in;
      }
    }
  }
  .desktopAvatar {
    display: none;
  }
}

.cacheFlag {
  img {
    border: 1px solid red;
  }
}

.horizontalSeparator {
  width: 100%;
  height: 1px;
  margin-block: 16px;
  background-color: var(--subtile-devider);
}

.moreTrigger {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--subtile-devider);
  padding-block: 16px;


  button {
    background: none;
    border: none;
    outline: none;
    color: var(--accent-1);
    width: auto;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    margin: 0;

    &.hidden {
      &::after {
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        content: '';
        display: inline-block;
        height: 6px;
        width: 6px;
        margin-top: 4px;
        margin-left: 4px;
        position: relative;
        transform: rotate(-220deg);
        vertical-align: top;
      }
    }

    &.shown {
      &::after {
      border-style: solid;
      border-width: 0.1em 0.1em 0 0;
      content: '';
      display: inline-block;
      height: 6px;
      width: 6px;
      margin-top: 8px;
      margin-left: 4px;
      position: relative;
      transform: rotate(-45deg);
      vertical-align: top;
    }
    }
  }
}

.moreInputs {
  overflow: hidden;
  &.hide {
    max-height: 0;
    transition: max-height 0.25s ease-out;
  }
  &.show {
    max-height: 210px;
    transition: max-height 0.25s ease-in;
  }
}

.formSubmit {
  display: flex;
  justify-content: flex-start;

  button {
    min-width: 120px;
    height: 36px;
    margin-right: 16px;
    >span {
      display: block;
      padding-top: 2px;
    }
  }

}

.recomendedFollowsCaption {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
  background-color: var(--background-card);
  border-radius: 8px;
  height: 54px;
  .caption {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
  }

  button {
    margin-block: 0;
  }
}

.userToFollow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  padding-inline: 8px;
  border-bottom: 1px solid var(--background-input);

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    .nameAndNip05 {
      display: flex;
      flex-direction: column;
      max-width: 370px;

      .name {
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 700;
        line-height: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .nip05 {
        color: var(--text-tertiary-2);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .action {
    display: flex;
    align-items: center;
    button {
      width: fit-content;
      margin: 0;
    }
  }
}

.suggestions {
  height: calc(100vh - 320px);
  overflow-y: scroll;
  margin-bottom: 24px;
}

.stepIntro {
  color: var(--text-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 21px;
}

.stepIndicator {
  width: 100%;
  height: 28px;
  margin-top: -22px;
  display: flex;
  justify-content: center;
  align-items: center;

  .indicate {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-inline: 4px;

    &.light {
      background-color: var(--accent);
    }
    &.dark {
      background-color: var(--text-tertiary-2);
    }
  }
}
