.callToAction, .callToActionAndroid, .callToActionIOS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ctaTitle {
    color: var(--text-primary);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 8px;
  }

  .ctaDescription {
    color: var(--text-secondary-2);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 430px;
  }
}

.callToActionAndroid, .callToActionIOS {
  display: none;
}

.downloadsContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  border-top: 1px solid var(--devider);
  padding-top: 20px;
}

.promoHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  width: 300px;

  >video {
    width: 100%;
    border-radius: 8px;
  }
}

.linkHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 12px;

  >div {
    display: flex;
    width: 243px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 28px;
    border-radius: 12px;
    background-color: var(--background-input);
  }

  .appStore {
    border-radius: 8px;


    .desktopCTA {
      color: var(--text-primary);
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
    }

    .buidDetails {
      display: flex;
      justify-content: center;
      width: 100%;
      color: var(--text-tertiary-2);
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;

      >div:first-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 8px;
      }
      >div:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-transform: capitalize;
      }
    }

    >a {
      margin-top: 16px;
      width: 120px;
      height: 40px;
    }
  }

  .playStore {
    border-radius: 8px;
    .playstoreLink {
      margin-top: 16px;
    }

    .apkLink {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 12px;
    }

    .desktopCTA {
      color: var(--text-primary);
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
    }

    .buidDetails {
      display: flex;
      justify-content: center;
      width: 100%;
      color: var(--text-tertiary-2);
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;

      >div:first-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 8px;
      }

      >div:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-transform: capitalize;
      }
    }
  }
}

.downloadsSidebar {
  .title {
    color: var(--text-secondary-2);
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .list {
    >div {
      display: flex;
      align-items: center;

      .githubIcon {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 9px;
        background-image: url( '../assets/icons/github.svg');
        background-size: contain;
      }

      .githubIconLight {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 9px;
        background-image: url( '../assets/icons/github_light.svg');
        background-size: contain;
      }


      >a {
        color: var(--text-secondary-2);
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
      }
    }
  }
}

.downloadsExtra {
  display: none;
}

@media only screen and (max-width: 1087px) {
  .downloadsExtra {
    display: block;
    width: 100%;
    padding-left: 42px;
    margin-bottom: 24px;
    padding-top: 20px;
    border-top: 1px solid var(--subtile-devider);

    .title {
      color: var(--text-primary);
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    .list {
      >div {
        display: flex;
        align-items: center;

        .githubIcon {
          width: 24px;
          height: 24px;
          display: inline-block;
          margin-right: 9px;
          background-image: url( '../assets/icons/github.svg');
          background-size: contain;
        }

        .githubIconLight {
          width: 24px;
          height: 24px;
          display: inline-block;
          margin-right: 9px;
          background-image: url( '../assets/icons/github_light.svg');
          background-size: contain;
        }


        >a {
          color: var(--text-secondary-2);
          font-size: 16px;
          font-weight: 400;
          line-height: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {

  .callToAction {
    display: none;
  }

  .downloadsContent {
    flex-direction: column;
    align-items: center;
  }

  .promoHolder {
    margin-bottom: 0;
  }

  .linkHolder {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-inline: 28px;

    >div {
      width: 100%;
      .desktopCTA {
        display: none;
      }

      >a {
        >img {
          max-width: none;
          width: 188px;
          height: 63px;
        }
      }
      width: 100%;
      margin-bottom: 20px;
    }

    .appStore {
      margin-inline: 20px;
      .callToActionIOS {
        display: flex;
        .ctaTitle {
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;
        }
      }
      >a {
        width: 188px;
        height: 63px;
      }
    }

    .playStore {
      margin-top: 4px;
      margin-bottom: 24px;
      flex-direction: column;
      align-items: center;
      .callToActionAndroid {
        display: flex;
        .ctaTitle {
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }
  }

  .downloadsExtra {
    margin-bottom: 80px;
  }
}
