.fullHeader {
  display: grid;
  height: 117px;
  align-items: center;
  justify-content: left;

  >div {
    font-weight: 300;
    font-size: 32px;
    line-height: 34px;
    color: var(--brand-text);
  }
}

.statsCaption {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--text-secondary);
}
.netstats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 47px;

  .netstat {
    .number {
      font-size: 28px;
      line-height: 34px;
      color: var(--text-secondary-2);
    }

    .label {
      font-size: 16px;
      line-height: 19px;
      color: var(--text-tertiary-2);
    }
  }
}

.exploreMenu {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 132px 132px 132px;
  grid-column-gap: 79px;
  grid-row-gap: 64px;
}

.exploreBox {
  box-sizing: border-box;

  width: 160px;
  height: 132px;

  border: 1px solid var(--text-primary);
  border-radius: 9px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  >div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

    .firstLine {
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
      color: var(--text-tertiary);
    }

    .secondLine {
      text-align: center;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      color: var(--text-primary);
    }
  }
}

.statsLegend {
  margin-top: 50px;

  .legendCaption {
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    color: var(--text-secondary);
    margin-bottom: 15px;
  }

  .legendDetails {
    font-size: 16px;
    line-height: 34px;
    font-weight: 700;
    color: var(--text-secondary);

    .highlight {
      font-weight: 900;
      color: var(--text-primary);
      margin: 0px 3px 0px 6px;
    }
  }
}
