.fullHeader {
  display: grid;
  height: 120px;
  align-items: center;
  justify-content: left;
  position: relative;
  margin-bottom: -3px;
  position: relative;
}

.exploreHeader {
  display: flex;
  flex-direction: column;
  width: 600px;

  .exploreCaption {
    display: flex;
    align-items: center;
    padding-left: 24px;
    width: 600px;
    height: 84px;
    border-bottom: 1px solid var(--devider);
  }

  .addToFeed {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 600px;
    height: 41px;
    background: none;
    border-bottom: 1px solid var(--devider);
  }
}


.exploreMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
}

.exploreBox {
  box-sizing: border-box;

  width: 140px;
  height: 140px;

  border: 1px solid var(--text-tertiary-2);
  border-radius: 9px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  text-decoration: none;

  >div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

    .firstLine {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: var(--text-tertiary);
    }

    .secondLine {
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      color: var(--text-primary);
    }

    .exploreBoxIcon {
      align-self: center;
      justify-self: center;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}

@mixin tableCell {
  display: table-cell;
  padding: 0px 12px;
  margin: 12px 0px;
  border-bottom: solid 1px var(--subtile-devider);
}

.statsLegend {
  display: table;
  width: 100%;
  margin-top: 53px;


  .legendDetails {
    display: table-row;

    .legendIcon {
      @include tableCell;
      width: 32px;
      padding: 0px;
      >img {
        width: 32px;
        height: 32px;
        margin: 12px 0px;
      }
    }

    .legendName {
      @include tableCell;
      color: var(--text-primary);
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
    }

    .legendNumber {
      @include tableCell;
      color: var(--text-primary);
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;

    }

    .legendDescription {
      @include tableCell;
      color: var(--text-secondary);
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
    }
  }
}
