.homeContent {
  position: relative;
}

.paginate {
  color: var(--text-tertiary-2);
  position: absolute;
  bottom: 1280px;
  width: 640px;
  height: 100px;
}

.noContent, .endOfContent {
  position: relative;
  color: var(--text-secondary);
  text-align: center;
  margin-top: 80px;
}
