@mixin messageContent {
  padding-block: 8px;
  padding-inline: 16px;
  margin-bottom: 8px;
  width: fit-content;
  max-width: calc(600px + 12px - 40px);
}

@mixin thread($align-end) {
  display: flex;
  flex-direction: column;
  margin-top: -16px;

  @if $align-end {
    align-items: flex-end;
  } @else {
    align-items: flex-start;
  }

  .avatar {
    margin-bottom: 8px;
  }
  .threadMessages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    max-width: calc(100% - 48px);

    .message {
      @include messageContent();

      @if $align-end {
        align-self: flex-end;
        text-align: left;
        border-radius: 12px;
      } @else {
        align-items: flex-start;
        text-align: left;
        border-radius: 12px;
      }

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-primary);
      background-color: var(--subtile-devider);
    }
  }
  .threadTime {
    color: var(--text-tertiary-2);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

.messagesContent {
  position: relative;

  .sendersHeader {
    height: 48px;
    width: 334px;
    background: none;
    border-radius: 0;
    border: 1px solid var(--devider);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 24px;
    margin-bottom: 0;
    .senderCategorySelector {
      display: flex;
      .categorySelector {
        border: none;
        outline: none;
        padding-block: 0;
        padding-inline: 16px;
        margin: 0;
        background: none;
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-transform: uppercase;

        .indicator {
          visibility: hidden;
          border-radius: 2px 0px;
          width: 100%;
          height: 4px;
          margin-top: 12px;
          background-color: var(--accent);
        }

        &:focus {
          background: none;
          box-shadow: none;
          outline: none;
        }

        &.highlight {
          color: var(--text-primary);
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;

          .indicator {
            visibility: visible;
            border-radius: 2px 0px;
            width: 100%;
            height: 4px;
            margin-top: 12px;
            background-color: var(--accent);
          }
        }

      }
      .separator {
        border-left: 1px solid var(--subtile-devider);
        margin-inline: 8px;
      }
    }

    .markAsRead {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 30px;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      background: none;
      color: var(--accent);
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      width: auto;

      &:focus {
        background: none;
        box-shadow: none;
        outline: none;
      }
    }
  }

  .sendersList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 334px;
    height: calc(100vh - 176px);
    padding-right: 8px;
    border-radius: 0;
    border-left: 1px solid var(--devider);


    .senderItem {
      position: relative;
      display: flex;
      background-color: var(--background-card);
      padding-inline: 15px;
      padding-block: 12px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid var(--devider);
      margin-bottom: 0px;
      align-items: center;

      &:hover, &.selected {
        background-color: var(--background-input);
      }

      .senderInfo {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        .firstLine {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .senderName {
            color: var(--text-primary);
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
          }
          .dotSeparator {
            width: 4px;
            height: 4px;
            margin-inline: 6px;
            border-radius: 2px;
            background-color: var(--text-tertiary-2);
          }
          .lastMessageTime {
            color: var(--text-tertiary-2);
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
          }
        }

        .secondLine {
          text-align: left;
          color: var(--text-tertiary);
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-top: 4px;
          padding: 0;
          max-width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .conversation {
    position: absolute;
    top: 0;
    left: 320px;
    background-color: var(--background-card );
    width: 600px;
    height: calc(100vh - var(--header-height));
    z-index: var(--z-index-lifted);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;

    .messages {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;
      padding: 16px;
      position: relative;
      border-radius: 0;
      border: 1px solid var(--devider);

      .myThread {
        @include thread(true);
        .threadMessages {
          .message {
            background-color: var(--accent);
            border-radius: 12px 0px 0px 12px;
            &:last-child {
              border-radius: 12px 12px 0px 12px;
            }
          }
        }
        + .myThread {
          margin-bottom: 20px;
        }
      }

      .theirThread {
        @include thread(false);
        .threadMessages {
          .message {
            background-color: var(--background-input);
            border-radius: 0px 12px 12px 0px;
            &:last-child {
              border-radius: 12px 12px 12px 0px;
            }
          }
        }
        + .theirThread {
          margin-bottom: 20px;
        }
      }
    }

    .newMessage {
      width: 100%;
      position: relative;
      vertical-align: bottom;
      display: flex;
      border-radius: 0;
      border: 1px solid var(--devider);
      border-top: none;
      border-bottom: none;
      padding: 16px 16px 24px 16px;

      .textAreaBorder {
        padding: 1px;
        border-radius: 8px;
        width: 510px;
        height: 34px;
        box-sizing: border-box;

        textarea {
          color: var(--text-primary);
          background-color: var(--background-header-input);
          border-radius: 20px;
          border: none;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          height: 40px;
          margin: 0;
          padding-inline: 16px;
          padding-block: 8px;
          width: 508px;
          max-height: none;

          &:focus {
            box-shadow: none;
          }
        }
      }

      .secondaryButton {
        width: 40px;
        height: 40px;
        margin: 0;
        margin-left: 12px;
        border: none;
        border-radius: 20px;
        padding: 0px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        background: var(--background-input);
      }

      .primaryButton {
        width: 40px;
        height: 40px;
        margin: 0;
        margin-left: 12px;
        border: none;
        border-radius: 20px;
        padding: 0px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        background: var(--accent);
      }
    }
  }
}

.senderBubble {
  position: absolute;
  text-align: center;
  padding-top: 2px;
  padding-inline: 4px;
  top: 12px;
  right: 12px;
  min-width: 18px;
  min-height: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  z-index: var(--z-index-lifted);

  background: var(--accent);
  border: 1px solid var(--background-site);
  border-radius: 8px;

  color: var(--text-primary-button);
  text-shadow: 0.5px 0.5px 0px black;

  &.doubleSize {
    right: -24px;
  }
  &.tripleSize {
    right: -30px;
  }
}

.postLink {
  text-decoration: none;
  color: unset;
  max-height: 650px;
  overflow: hidden;
}

.searchSuggestions {
  width: 300px;
  background-color: var(--background-input);
  border: none;
  border-radius: 4px;

  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: var(--z-index-header);
}


.emojiSuggestions {
  position: absolute;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  width: 322px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 4px;
  background-color: var(--background-input);
  border: none;
  border-radius: 8px;

  bottom: 32px;
  left: 0px;
  z-index: var(--z-index-floater);

  .emojiOption {
    margin-bottom: 5px;
    padding: 2px;
    background: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, &.highlight {
      background-color: var(--text-tertiary-2);
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.iconSend {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--text-primary);
  -webkit-mask: url(../assets/icons/send.svg) no-repeat 0 0 / 16px 16px;
  mask: url(../assets/icons/send.svg) no-repeat 0 0 / 16px 16px;

}
