@mixin messageContent {
  padding-block: 8px;
  padding-inline: 16px;
  margin-bottom: 8px;
  width: fit-content;
  max-width: calc(640px + 12px - 40px);
}

@mixin thread($align-end) {
  display: flex;
  flex-direction: column;

  @if $align-end {
    align-items: flex-end;
  } @else {
    align-items: flex-start;
  }

  .avatar {
    margin-bottom: 8px;
  }
  .threadMessages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    .message {
      @include messageContent();

      @if $align-end {
        align-self: flex-end;
        text-align: left;
        border-radius: 8px 0px 8px 8px;
      } @else {
        align-items: flex-start;
        text-align: left;
        border-radius: 0px 8px 8px 8px;
      }

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-primary);
      background-color: var(--subtile-devider);
    }
  }
  .threadTime {
    color: var(--text-tertiary-2);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

.fullHeader {
  display: grid;
  height: 120px;
  align-items: center;
  justify-content: left;

  >div {
    font-weight: 300;
    font-size: 32px;
    line-height: 34px;
    color: var(--brand-text);
    text-transform: lowercase;
  }
}

.messagesContent {
  position: relative;

  .sendersList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 300px;
    height: calc(100vh - 128px);

    .senderItem {
      position: relative;
      display: flex;
      height: 65px;
      background-color: var(--background-card);
      padding-inline: 15px;
      padding-block: 12px;
      border-radius: 8px;
      border: none;

      &:hover, &.selected {
        background-color: var(--background-input);
      }

      .senderInfo {
        margin-left: 12px;
        display: flex;
        justify-content: flex-start;
        .senderName {
          color: var(--text-primary);
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
        }
        .lastMessageTime {
          color: var(--text-tertiary-2);
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          margin-left: 2px;

          &::before {
            content: "|";
            padding: 0px 2px;
          }
        }
      }
    }
  }

  .conversation {
    position: absolute;
    top: 0;
    left: 320px;
    background-color: var(--background-card );
    border-radius: 8px;
    width: calc(640px + 12px);
    height: calc(100vh - 128px);
    z-index: 13;
    overflow: hidden;

    .messages {
      width: 100%;
      height: calc(100% - 84px);
      padding: 20px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;

      .myThread {
        @include thread(true);
      }

      .theirThread {
        @include thread(false);
      }
    }

    .newMessage {
      height: 36px;
      margin: 24px;
      display: flex;
      align-items: center;

      textarea {
        border: 1px solid var(--subtile-devider);
        border-radius: 8px;
        color: var(--text-primary);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        height: 32px;
        margin: 0;
        margin-right: 12px;
        padding-inline: 8px;
        padding-block: 4px;
      }

      button {
        width: 80px;
        height: 32px;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: var(--background-input);
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--text-tertiary-2);
      }
    }
  }
}

.senderBubble {
  position: absolute;
  text-align: center;
  padding-top: 2px;
  padding-inline: 4px;
  top: 12px;
  right: 12px;
  min-width: 18px;
  min-height: 18px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  z-index: 15;

  background: var(--brand-gradient);
  border: 1px solid var(--background-site);

  color: white;
  text-shadow: 0.5px 0.5px 0px black;

  &.doubleSize {
    right: -24px;
  }
  &.tripleSize {
    right: -30px;
  }
}

.postLink {
  text-decoration: none;
  color: unset;
  max-height: 650px;
  overflow: hidden;
}
