.separator {
  width: 100%;
  height: 1px;
  background-color: var(--text-primary);
}

.oldNotifications {
  position: relative;
  // padding-right: 2px;
}

.loader {
  margin-top: 120px;
  position: relative;
}

.newContentNotification {
  position: fixed;
  top: 140px;
  left: calc(calc(100vw - var(--full-site-w)) / 2 + var(--left-col-w));
  width: var(--center-col-w);
  z-index: 20;
  display: flex;
  justify-content: center;

  >button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    color: var(--text-primary-button);
    background: var(--accent);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    border-radius: 20px;
    padding-block: 0;
    padding-left: 4px;
    margin: 0;
    text-transform: lowercase;

    .avatars {
      display: flex;
      align-items: center;
      height: 40px;
      .avatar {
        border: solid 2px var(--text-primary);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transition: margin-right 0.2s;
        margin-right: -9px;
      }
    }

    .counter {
      margin-left: 24px;
    }
  }

}

.notificationTabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 8px;
  // background-color: var(--background-card);
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid var(--devider);
  // border-top: none;
}

.notificationTab {
  position: relative;
  display: inline-block;
  padding-inline: 14px;
  padding-block: 2px;
  border: none;
  background: none;
  width: fit-content;
  height: 40px;
  margin: 0;
  text-transform: uppercase;

  color: var(--text-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.notificationTabContent {
  width: 100%;
}

.notificationTabIndicator {
  position: absolute;
  height: 4px;
  top: 36px;
  left: 0;
  border-radius: 2px 2px 0px 0px;
  background: var(--accent);
  transition: all 250ms;
}

.notificationTabsPlaceholder {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
  background-color: var(--background-card);
  width: 100%;
  height: 74px;
  border-radius: 0 0 8px 8px;
  padding-top: 22px;
}

@media only screen and (max-width: 1300px) {
  .newContentNotification {
    left: calc(calc(100vw - 1032px) / 2 + 48px + 32px);
  }
}

@media only screen and (max-width: 1087px) {
  .newContentNotification {
    left: calc(calc(100vw - 720px) / 2 + 48px + 32px);
  }
}

@media only screen and (max-width: 720px) {
  .newContentNotification {
    left: 0;
    width: 100%;
    justify-content: center;
  }

  .notificationTabContent {
    width: 100%;
  }
}
