.fullHeader {
  position: relative;
  background-color: var(--background-card);
  padding-bottom: 4px;
  min-height: 474px;
}

.banner {
  width: 100%;
  height: 214px;

  >img {
    width: 100%;
    height: 214px;
    object-fit: cover;
  }
}

.userImage {
  position: absolute;
  top: 148px;
  left: 15px;
  .avatar {
    border: solid 4px var(--background-card);
    border-radius: 50%;
    background-color: var(--background-card);
  }
}

.verifiedIconL {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: 0px 12px 0px 6px;
  background-color: var(--accent-2);
  -webkit-mask: url(../assets/icons/verified.svg) no-repeat 0px / 22px;
  mask: url(../assets/icons/verified.svg) no-repeat 0px / 22px;
}

.verifiedIconS {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../assets/icons/verified.svg) no-repeat 0px / 12px;
  mask: url(../assets/icons/verified.svg) no-repeat 0px / 12px;
}

.keyIcon {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../assets/icons/key.svg) no-repeat 0 0 / 16px 16px;
  mask: url(../assets/icons/key.svg) no-repeat 0 0 / 16px 16px;
}

.copyIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../assets/icons/copy.svg) no-repeat 0 0 / 16px 16px;
  mask: url(../assets/icons/copy.svg) no-repeat 0 0 / 16px 16px;
}

.checkIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--success-color);
  -webkit-mask: url(../assets/icons/check.svg) no-repeat 0 / 80%;
  mask: url(../assets/icons/check.svg) no-repeat 0 / 80%;
}

.linkIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 6px 0px 0px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../assets/icons/link.svg) no-repeat 0 0 / 16px 16px;
  mask: url(../assets/icons/link.svg) no-repeat 0 0 / 16px 16px;
}

.profileActions {
  display: flex;
  justify-content: right;
  padding-top: 20px;
  padding-right: 8px;
  padding-bottom: 36px;
  min-height: 96px;
}

@mixin smallButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: none;
  margin: 0px 6px;
  padding: 0px;
  color: var(--text-primary);
}

.smallSecondaryButton {
  @include smallButton();

  background: var(--background-card);
  border: 1px solid var(--subtile-devider);

  &:hover {
    border: 1px solid var(--text-tertiary);
  }
}

.smallPrimaryButton {
  @include smallButton();

  background: var(--background-site);
  background: linear-gradient(var(--background-card), var(--background-card)) padding-box,
                var(--brand-gradient) border-box;
  border: 1px solid transparent;

  &:hover {
    background: linear-gradient(var(--background-site), var(--background-site)) padding-box,
                  var(--brand-gradient) border-box;
  }
}

.editProfileButton {
  width: auto;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding: 1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: var(--brand-gradient-vertical);
  color: var(--text-primary);

  >div {
    width: 100%;
    height: 100%;
    padding-inline: 12px;
    vertical-align: middle;
    border-radius: 6px;
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--background-site);
    }
  }
}

.zapIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../assets/icons/zaps.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/zaps.svg) no-repeat 0px / 18px;
}

.contextIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../assets/icons/context.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/context.svg) no-repeat 0px / 18px;
}

.messageIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../assets/icons/messages.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/messages.svg) no-repeat 0px / 18px;
}

.addFeedIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../assets/icons/feed_add.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/feed_add.svg) no-repeat 0px / 18px;
}

.removeFeedIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../assets/icons/feed_remove.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/feed_remove.svg) no-repeat 0px / 18px;
}

.primaryButton {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 6px;
  margin: 0px 8px;
  padding: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: var(--brand-gradient-vertical);
  color: white;
}


.profileVerification {
  display: block;
  margin-top: 12px;
  margin-inline: 20px;
  height: 52px;
  .avatarName {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    height: 26px;
  }
  .verificationInfo {
    display: flex;
    align-items: center;
    color: var(--text-tertiary-2);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    justify-content: space-between;
    height: 16px;
    .verified {
      display: flex;
      max-width: 50%;
      align-items: center;
      .nip05 {
        width: 100%;
        overflow: hidden;
      }
    }
  }
  .publicKey {
    display: flex;
    height: 16px;
    align-items: center;
    color: var(--text-tertiary-2);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    .npub {
      color: var(--text-tertiary-2);
      text-align: left;
      border: none;
      margin: 0;
      padding: 0;
      background-color: unset;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      display: flex;

      .copyIcon {
        background-color: var(--accent-2);
      }

      &:hover {
        .copyIcon {
          background-color: var(--text-primary);
        }
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

}

.profileLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 20px;
  margin-block: 12px;

  .website {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    >a {
      max-width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
  }

  .joined {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: var(--text-tertiary-2);
  }
}

.profileAbout {
  margin-top: 12px;
  margin-inline: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-primary);
}

.userStats {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-inline: 20px;

  .userStat {
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin-right: 28px;

    .statNumber {
      font-weight: 400;
      font-size: 34px;
      line-height: 34px;
      color: var(--text-primary);
    }

    .statName {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: var(--text-tertiary-2);
      margin-left: 8px;
      text-transform: lowercase;
    }

  }
}

.userFeed {
  position: relative;
}

.bannerPlaceholder {
  width: 100%;
  height: 214px;
  background-color: var(--background-input);
}

.followsBadge {
  background-color: var(--background-input);
  width: 80px;
  height: 16px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-tertiary-2);
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneAvatar {
  display: none;
}
.desktopAvatar {
  display: block;
  min-height: 142px;
}
.addToFeedButton {
  display: block;
}

.mutedProfile {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  button {
    margin: 0;
    padding: 0;
    margin-left: 8px;
    background: none;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--accent-2);
    width: auto;
    height: auto;
  }
}

.contextArea {
  position: relative;
  padding: 0;
  button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 720px) {

  .banner {
    width: 100%;
    height: 125px;

    >img {
      width: 100%;
      height: 125px;
      object-fit: cover;
    }
  }

  .userImage {
    position: absolute;
    top: 96px;
    left: 15px;
  }

  .phoneAvatar {
    display: block;
  }
  .desktopAvatar {
    display: none;
  }
  .addToFeedButton {
    display: none;
  }
  .joined {
    display: none;
  }

  .profileActions {
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .profileLinks {
    flex-direction: column;
    align-items: flex-start;

    .website {
      >a {
        max-width: calc(100vw - 48px);
      }
    }
  }

  .userStats {
    justify-content: space-between;
    .userStat {
      margin-right: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .statNumber {
        font-size: 28px;
        line-height: 34px;
      }

      .statName {
        font-size: 14px;
        line-height: 16px;
      }

    }
  }

  .profileVerification {
    .verificationInfo {
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      >div {
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .profileAbout {
    margin-top: 0px;
  }

  .mutedProfile {
    flex-direction: column;
  }
}

.cacheFlag {
  img {
    border: 1px solid red;
  }
}
