.skeletonHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  /* background-color: white;
  opacity: 0.4; */

  &.ios {
    /* top: 54px; */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fullHeader {
  position: relative;
  background-color: var(--background-site);
  padding-bottom: 8px;
}

.fullHeaderPhone {
  position: relative;
  background-color: var(--background-site);
  padding-bottom: 8px;
}

.editProfileButton {
  button {
    padding: 16px;
  }
}

.emptyHeader {
  position: relative;
  background-color: var(--background-site);
  padding-bottom: 4px;
  height: 466px;
}

[data-animated="true"] {
  .banner, .profileActions, .bigAbout, .smallAbout {
    opacity: 0;
    animation: fadeIn var(--profile-animation-duration) ease-in forwards;
  }
  .banner {
    animation-delay: var(--profile-banner-animation-delay);
  }
  .avatar {
    >div {
      opacity: 0;
      animation: fadeIn var(--profile-animation-duration) ease-in forwards;
      animation-delay: var(--profile-avatar-animation-delay);
    }
  }
  .profileActions, .bigAbout, .smallAbout {
    animation-delay: var(--profile-card-animation-delay);
  }
}

.banner {
  width: 100%;
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  // opacity: 0;
  // animation: fadeIn var(--profile-animation-duration) ease-in forwards;
  // animation-delay: var(--profile-banner-animation-delay);
}

.userImage {
  position: absolute;
  top: 140px;
  left: 14px;
  // overflow: hidden;
  z-index: var(--z-index-floater);
  .avatar {
    // border: solid 4px var(--background-site);
    // border-radius: 50%;
    // background-color: var(--background-site);
    // >div {
      // opacity: 0;
      // animation: fadeIn var(--profile-animation-duration) ease-in forwards;
      // animation-delay: var(--profile-avatar-animation-delay);
    // }
  }

}

.keyIcon {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../assets/icons/key.svg) no-repeat 0 0 / 16px 16px;
  mask: url(../assets/icons/key.svg) no-repeat 0 0 / 16px 16px;
}

.copyIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../assets/icons/copy.svg) no-repeat 0 0 / 16px 16px;
  mask: url(../assets/icons/copy.svg) no-repeat 0 0 / 16px 16px;
}

.checkIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--success-color);
  -webkit-mask: url(../assets/icons/check.svg) no-repeat 0 / 80%;
  mask: url(../assets/icons/check.svg) no-repeat 0 / 80%;
}

.linkIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 6px 0px 0px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../assets/icons/link.svg) no-repeat 0 0 / 16px 16px;
  mask: url(../assets/icons/link.svg) no-repeat 0 0 / 16px 16px;
}

.profileActions {
  position: relative;
  z-index: var(--z-index-header);
  display: flex;
  justify-content: right;
  padding-top: 12px;
  padding-right: 8px;
  padding-bottom: 20px;
  >div {
    margin-left: 8px;
    height: 36px;
  }

  button {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: 8px;
    height: 36px;
  }

  // opacity: 0;
  // animation: fadeIn var(--profile-animation-duration) ease-in forwards;
  // animation-delay: var(--profile-card-animation-delay);
}

.profileAboutHolder {
  display: flex;
  justify-content: space-between;
  padding-block: 0;
}

@mixin smallButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: none;
  margin: 0px 6px;
  padding: 0px;
  color: var(--text-primary);
}

.smallSecondaryButton {
  @include smallButton();

  background: var(--background-card);
  border: 1px solid var(--subtile-devider);

  &:hover {
    border: 1px solid var(--text-tertiary);
  }
}

.smallPrimaryButton {
  @include smallButton();

  background: var(--background-site);
  background: linear-gradient(var(--background-card), var(--background-card)) padding-box,
                var(--brand-gradient) border-box;
  border: 1px solid transparent;

  &:hover {
    background: linear-gradient(var(--background-site), var(--background-site)) padding-box,
                  var(--brand-gradient) border-box;
  }
}

.editProfileButton {
  width: auto;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding: 1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: var(--brand-gradient-vertical);
  color: var(--text-primary);

  >div {
    width: 100%;
    height: 100%;
    padding-inline: 12px;
    vertical-align: middle;
    border-radius: 6px;
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--background-site);
    }
  }
}

.zapIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-primary);
  -webkit-mask: url(../assets/icons/feed_zap_2.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/feed_zap_2.svg) no-repeat 0px / 18px;
}

.qrIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-primary);
  -webkit-mask: url(../assets/icons/qr_code.svg) no-repeat 0px / 16px;
  mask: url(../assets/icons/qr_code.svg) no-repeat 0px / 16px;
}

.contextIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-primary);
  -webkit-mask: url(../assets/icons/context.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/context.svg) no-repeat 0px / 18px;
}

.messageIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-primary);
  -webkit-mask: url(../assets/icons/messages.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/messages.svg) no-repeat 0px / 18px;
}

.addFeedIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../assets/icons/feed_add.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/feed_add.svg) no-repeat 0px / 18px;
}

.removeFeedIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../assets/icons/feed_remove.svg) no-repeat 0px / 18px;
  mask: url(../assets/icons/feed_remove.svg) no-repeat 0px / 18px;
}

.primaryButton {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 6px;
  margin: 0px 8px;
  padding: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: var(--brand-gradient-vertical);
  color: white;
}

.profileCard {
  padding-top: 8px;
  padding-inline: 20px;
}

.bigAbout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: stretch;

  // opacity: 0;
  // animation: fadeIn var(--profile-animation-duration) ease-in forwards;
  // animation-delay: var(--profile-card-animation-delay);
}

.smallAbout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  // opacity: 0;
  // animation: fadeIn var(--profile-animation-duration) ease-in forwards;
  // animation-delay: var(--profile-card-animation-delay);

  .columnLeft {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    .nipLine {
      display: flex;
    }
  }
  .columnRight {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
  }
}

.basicInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basicInfoName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;

  .text {
    color: var(--text-primary);
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    max-width: 204px;

    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .followsBadge {
    min-width: 80px;
  }

  .vc {
    // width: 20px;
    // height: 20px;
  }
}

.joined {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: var(--text-tertiary-2);
}

.followings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  .stats {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    width: fit-content;

    background: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    border: none;

    .number {
      color: var(--text-primary);
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
    .label {
      color: var(--text-tertiary-2);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &:hover {
      .label {
        color: var(--text-secondary);
      }
    }
  }

  &.left {
    justify-content: flex-start;
  }
}

.publicKey {
  display: flex;
  height: 16px;
  align-items: center;
  color: var(--text-tertiary-2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  .npub {
    color: var(--text-tertiary-2);
    text-align: left;
    border: none;
    margin: 0;
    padding: 0;
    background-color: unset;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;

    .copyIcon {
      background-color: var(--accent-2);
    }

    &:hover {
      .copyIcon {
        background-color: var(--text-primary);
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}


.verificationInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-tertiary-2);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  .verified {
    display: flex;
    align-items: center;
    .nip05 {
      max-width: 400px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .followsBadge {
      min-width: 80px;
    }
  }
}

.profileLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  >a {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
  }
}

.commonFollows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding-right: 12px;

  .label {
    color: var(--text-tertiary-2);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  .avatars {
    display: flex;
    flex-direction: row-reverse;
    .avatar {
      margin-right: -10px;
      transition: margin 150ms ease-in-out;
      border-radius: 12px;
      // border: 1px solid var(--background-site);
    }

    &:hover {
      .avatar {
        margin-right: 1px;
      }
    }
  }

  &.phone {
    margin-top: 12px;
  }
}

.profileAbout {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-primary);
  max-width: 100%;
}

.userStats {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-inline: 20px;

  .userStat {
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin-right: 28px;

    .statNumber {
      font-weight: 400;
      font-size: 34px;
      line-height: 34px;
      color: var(--text-primary);
    }

    .statName {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--text-tertiary-2);
      margin-left: 8px;
      text-transform: lowercase;
    }

  }
}

.userFeed {
  position: relative;
}

.bannerPlaceholder {
  width: 100%;
  height: 214px;
  background-color: var(--background-input);
}

.nip05 {
  margin-right: 8px;
}

.followsBadge {
  background-color: var(--background-input);
  width: 80px;
  height: 18px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-tertiary-2);
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 8px; */
}

.phoneAvatar {
  display: none;
  position: relative;
}
.desktopAvatar {
  display: block;
  min-height: 128px;
  position: relative;
}
.addToFeedButton {
  display: block;
}

.mutedProfile {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  button {
    margin: 0;
    padding: 0;
    margin-left: 8px;
    background: none;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--accent-2);
    width: auto;
    height: auto;
  }
}

.contextArea {
  position: relative;
  padding: 0;
}

@media only screen and (max-width: 720px) {
  .fullHeader {
    width: 100dvw;
    overflow-x: hidden;
    margin-inline: 0;
  }

  .banner {
    width: 100%;
    height: 125px;

    img {
      width: 100%;
      height: 125px;
      object-fit: cover;
    }
  }

  .userImage {
    position: absolute;
    top: 96px;
    left: 15px;
  }

  .phoneAvatar {
    display: block;
  }
  .desktopAvatar {
    display: none;
  }
  .addToFeedButton {
    display: none;
  }
  .joined {
    display: none;
  }

  .profileActions {
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .profileLinks {
    flex-direction: column;
    align-items: flex-start;

    .website {
      >a {
        max-width: calc(100vw - 48px);
      }
    }
  }

  .userStats {
    justify-content: space-between;
    .userStat {
      margin-right: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .statNumber {
        font-size: 28px;
        line-height: 34px;
      }

      .statName {
        font-size: 14px;
        line-height: 16px;
      }

    }
  }

  .profileVerification {
    .verificationInfo {
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      >div {
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .profileAbout {
    margin-top: 0px;
    max-width: calc(100dvw - 26px);
  }

  .mutedProfile {
    flex-direction: column;
  }
}

.cacheFlag {
  img {
    border: 1px solid red;
  }
}
