.fullHeader {
  display: grid;
  height: 120px;
  align-items: center;
  justify-content: left;
  margin-bottom: -3px;
  position: relative;

  .caption {
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: var(--brand-text);
    text-transform: lowercase;
  }

  .addToFeed {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35px;
    justify-content: flex-end;
    align-items: flex-end;

    .noAdd {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: var(--text-primary);
      opacity: 0.6;
      transition: opacity 0.4s;
    }

    .addButton {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      border: none;
      background-color: unset;
      width: auto;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: var(--text-primary);
      opacity: 0.6;
      transition: opacity 0.4s;

      >span {
        font-weight: 800;
        margin-right: 5px;
      }

      &:hover {
        opacity: 1;
        transition: opacity 0.4s;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
.searchContent {
  position: relative;
}

.noResults {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: var(--text-tertiary);
  text-transform: lowercase;
}
