.settingsContainer {
  background-color: var(--backround-card);
  padding-inline: 28px;
  min-height: 100vh;
  padding-bottom: 20px;
}

.fullHeader {
  display: grid;
  height: 128px;
  align-items: center;
  justify-content: left;

  >div {
    font-weight: 300;
    font-size: 32px;
    line-height: 34px;
    color: var(--brand-text);
    text-transform: lowercase;
  }
}

.comingSoon {
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: var(--text-secondary);
}

.themeChooser {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: solid 1px var(--subtile-devider);
}

.settingsCaption {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.themeOption {
  width: 128px;
  >p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: var(--text-primary);
    margin-top: 8px;
    text-align: center;
  }
}

@mixin themeOptionButton {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: unset;
  border: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  place-content: center;
  border-radius: 6px;

  >img {
    width: 58px;
    height: 58px;
  }
}

.selected {
  border: solid 1px var(--brand-1) !important;
}

.sunset {
  @include themeOptionButton();
  background-color: #000000;
}

.midnight {
  @include themeOptionButton();
  background-color: #000000;
}

.sunrise {
  @include themeOptionButton();
  background-color: #F5F5F5;
}

.ice {
  @include themeOptionButton();
  background-color: #F5F5F5;
}

.themeChecked {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  background: var(--brand-gradient);
  border-radius: 50%;
  >img {
    width: 10px;
    height: 10px;
  }
}

.themeUncheckedDark {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  background: #222222;
  border-radius: 50%;
}

.themeUncheckedLight {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  background: #E5E5E5;
  border-radius: 50%;
}
