.settingsContainer {
  background-color: var(--background-card);
  padding-inline: 28px;
  min-height: 100vh;
  padding-bottom: 20px;
}

.fullHeader {
  display: grid;
  height: 128px;
  align-items: center;
  justify-content: left;

  >div {
    font-weight: 300;
    font-size: 32px;
    line-height: 34px;
    color: var(--brand-text);
    text-transform: lowercase;
  }
}

.comingSoon {
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: var(--text-secondary);
}

.settingsCaption {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.devider {
  width: 100%;
  border-bottom: solid 1px var(--subtile-devider);
  margin-block: 32px;
}
