.repliesHolder {
  position: relative;
  border-inline: 1px solid var(--devider);
  min-height: 100vh;
  padding-bottom: 60px;
}
.parentsHolder {
  padding-top: 22px;
  border-inline: 1px solid var(--devider);
}
.noContent {
  position: relative;
  color: var(--text-secondary);
  text-align: center;
  margin-top: 80px;
}

.border {
  height: 36px;
  padding: 1px;
  background: var(--brand-gradient);
  border-radius: 6px;
  margin-left: 10px;

  input {
    height: 34px;
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    border-radius: 6px;
    border: none;
    background-color: var(--background-site);
  }
}

.replyBox {
  margin-top: 4px;
  padding: 30px 22px;
  background-color: var(--background-card);
}

@media only screen and (max-width: 720px) {
  .border {
    height: 36px;
    padding: 1px;
    background: var(--brand-gradient);
    border-radius: 6px;
    margin-left: 10px;

    input {
      height: 34px;
      font-size: 18px;
      line-height: 20px;
      margin: 0px;
      border-radius: 6px;
      border: none;
      background-color: var(--background-site);
    }
  }

  .replyBox {
    margin-top: 4px;
    padding: 30px 12px;
    width: 100%;
    background-color: var(--background-card);
  }
}
