.selector {
  height: 20px;
  font-size: 14px;
  line-height: 16px;
  padding: 0px;
  margin: 0px;
  width: 179px;
  border: none;
  text-align: right;
  background-position: center right !important;
  color: var(--text-secondary);
}
