.userProfile {
  display: grid;
  width: 146px;
  height: 46px;
  grid-template-columns: 42px 1fr;
  grid-column-gap: 5px;
  position: relative;
  align-items: center;
  text-decoration: none;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 146px;
    height: 46px;
    background-color: var(--background-input);
    background: linear-gradient(var(--background-input), var(--background-input)) padding-box,
                var(--brand-gradient) border-box;
    border-radius: 21px;
    border: 1px solid transparent;
    opacity: 0.5;
    transition: opacity 0.4s;

  }

  &:hover {
    .background {
      opacity: 1;
      transition: opacity 0.4s;
    }
  }

}
.avatar {
  z-index: 1;
  padding: 2px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  padding: 2px;
}

.userName {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--text-primary);
  width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.userVerification {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text-tertiary);
  width: 92px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contextMenu {
  display: flex;
  align-items: center;
}

.contextIcon {
  display: inline-block;
  width: 10px;
  height: 2px;
  vertical-align: middle;

  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/context.svg) no-repeat center;
  mask: url(../../assets/icons/context.svg) no-repeat center;
}

@media only screen and (max-width: 1300px) {
  .userProfile {
    display: grid;
    width: 48px;
    grid-template-columns: 48px;
    grid-column-gap: 0px;
  }

  .userInfo {
    display: none;
  }

  .contextMenu {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .userProfile {
    display: none;
  }
}
