.customZap {
  position: fixed;
  width: 420px;
  height: 285px;
  color: var(--text-primary);
  background-color: var(--background-input);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  padding: 22px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .caption {
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        color: var(--text-secondary);
        text-transform: uppercase;

        .amount {
          color: var(--text-primary);
        }

        .units {
          font-weight: 800;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }

    .close {
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      box-shadow: none;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/close.svg) no-repeat center;
      mask: url(../../assets/icons/close.svg) no-repeat center;

      &:hover {
        background-color: var(--text-primary);
      }
    }
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 16px;
    margin-top: 24px;

    .zapOption {
      height: 40px;
      border-radius: 20px;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      box-shadow: none;
      background-color: var(--background-input);
      color: var(--text-primary);
      text-transform: uppercase;

      &.selected, &:hover {
        background-color: var(--text-primary);
        color: var(--background-site);
      }

    }
  }

  .comment {
    width: 100%;
    height: 32px;
    border: 2px solid var(--background-input);
    border-radius: 6px;
    background-color: var(--background-site);
    color: var(--text-secondary);
    padding-block: 6px;
    padding-inline: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;

    &::placeholder {
      color: var(--subtile-devider);
      opacity: 1;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .action {
    width: 100%;
    height: 32px;
    background: var(--brand-gradient-vertical);
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    .caption {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: white;
    }
  }

}

.zapIcon {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 9px;
  background: var(--sidebar-section-icon-gradient);
  -webkit-mask: url(../../assets/icons/explore/zaps_hollow.svg) no-repeat 2px 0 / 19px 22px;
  mask: url(../../assets/icons/explore/zaps_hollow.svg) no-repeat 2px 0 / 19px 22px;
}
