/* Thin */
@font-face {
  font-family: 'Nacelle';
  font-weight: 100;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-Thin.otf) format('otf');
}

/* Thin Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 100;
  font-style: italic;
  src: url(/public/Nacelle/Nacelle-ThinItalic.otf) format('otf');
}

/* Ultra Light */
@font-face {
  font-family: 'Nacelle';
  font-weight: 200;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-UltraLight.otf) format('otf');
}

/* Ultra Light Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 200;
  font-style: italic;
  src: url(/public/Nacelle/Nacelle-UltraLightItalic.otf) format('otf');
}

/* Light */
@font-face {
  font-family: 'Nacelle';
  font-weight: 300;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-Light.otf) format('otf');
}

/* Light Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 300;
  font-style: italic;
  src: url(/public/Nacelle/Nacelle-LightItalic.otf) format('otf');
}

/* Regular */
@font-face {
  font-family: 'Nacelle';
  font-weight: 400;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-Regular.otf) format('otf');
}

/* Regular Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 400;
  font-style: italic;
  src: url(/public/Nacelle/Nacelle-Italic.otf) format('otf');
}

/* Semi-Bold */
@font-face {
  font-family: 'Nacelle';
  font-weight: 600;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-SemiBold.otf) format('otf');
}

/* Semi-Bold Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 600;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-SemiBoldItalic.otf) format('otf');
}

/* Bold */
@font-face {
  font-family: 'Nacelle';
  font-weight: 700;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-Bold.otf) format('otf');
}

/* Bold Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 700;
  font-style: italic;
  src: url(/public/Nacelle/Nacelle-BoldItalic.otf) format('otf');
}

/* Heavy */
@font-face {
  font-family: 'Nacelle';
  font-weight: 800;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-Heavy.otf) format('otf');
}

/* Heavy Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 800;
  font-style: italic;
  src: url(/public/Nacelle/Nacelle-HeavyItalic.otf) format('otf');
}

/* Black */
@font-face {
  font-family: 'Nacelle';
  font-weight: 900;
  font-style: normal;
  src: url(/public/Nacelle/Nacelle-Black.otf) format('otf');
}

/* Black Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 900;
  font-style: italic;
  src: url(/public/Nacelle/Nacelle-BlackItalic.otf) format('otf');
}


@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-style: normal;
  src: url(/public/RobotoCondensed/RobotoCondensed-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 600;
  font-style: normal;
  src: url(/public/RobotoCondensed/RobotoCondensed-Bold.ttf) format('ttf');
}
