@mixin controlButton {
  margin: 0;
  padding: 0;
  border: none;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.7;
  transition: opacity 0.4s;

  &:hover {
    opacity: 1;
    transition: opacity 0.4s;
  }

  &:focus {
    box-shadow: none;
  }
}

.feedItem {
  width: 100%;
  height: 40px;
  background-color: var(--background-sheet);
  color: var(--active-reply);
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  padding-inline: 12px;
  margin-block: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: grab;

  &:hover, &:focus {
    background-color: var(--background-input);
  }

  .sortControls {
    margin-right: 5px;
    .sortButton {
      @include controlButton();
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  .manageControls {
    display: flex;
    .mngButton {
      @include controlButton();
      width: 32px;
      height: 32px;

      &:disabled {
        .deleteButton, .editButton {
          background-color: var(--subtile-devider);
        }
      }
    }

    .deleteButton {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/delete.svg) no-repeat 0px / 16px;
      mask: url(../../assets/icons/delete.svg) no-repeat 0px / 16px;
    }

    .editButton {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/edit.svg) no-repeat 0px / 16px;
      mask: url(../../assets/icons/edit.svg) no-repeat 0px / 16px;
    }
  }

  .feedEdit {
    position: relative;
    width: 100%;
    .feedNameInput {
      height: 32px;
      background-color: var(--background-header-input);
      color: var(--text-tertiary);
      font-size: 16px;
      line-height: 14px;
      font-weight: 400;
      margin: 0;
      border: none;
      box-shadow: none;
      outline: none;
      border-radius: 16px;
    }
    .feedEditControl {
      position: absolute;
      top: 2px;
      right: 4px;
      height: 28px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      >button {
        @include controlButton();
        width: 20px;
        height: 28px;
      }
    }

  }
}

.dragIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/drag_handle.svg) no-repeat center;
  mask: url(../../assets/icons/drag_handle.svg) no-repeat center;
}

.closeIcon {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/close.svg) no-repeat center;
  mask: url(../../assets/icons/close.svg) no-repeat center;
}

.checkIcon {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/check.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/check.svg) no-repeat 0 / 100%;
}

.draggedBefore {
  border-top: solid 1px var(--subtile-devider);
}

.draggedAfter {
  border-bottom: solid 1px var(--subtile-devider);
}

.draggedItem {
  opacity: 0.6;
}
