.newNoteBorder {
  width: 100%;
  min-height: 120px;
  padding: 1px;
  padding-bottom: 16px;
  border: 2px solid var(--accent);
  border-radius: 6px;
  display: block;
  position: relative;
  margin-block: 5px;
  z-index: var(--z-index-floater);
}

.newNote {
  width: 100%;
  height: 100%;
  min-height: 120px;
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  border-radius: 6px;
  border: none;
  color: var(--text-tertiary);
  background-color: var(--background-site);
  display: grid;
  grid-template-columns: 92px 1fr;

  .leftSide {
    padding: 16px 21px;
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 12px 12px 0px;
  >button {
    width: 80px;
    height: 28px;
    margin: 0px 0px 0px 8px;
  }
}

.primaryButton {
  border: none;
  border-radius: 6px;
  margin: 0px 8px;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background: var(--brand-gradient-vertical);
  color: var(--text-primary);
  >span {
    opacity: 0.75;
  }
}


.secondaryButton {
  border: none;
  border-radius: 6px;
  margin: 0px 15px 0px 0px;
  padding: 1px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background: var(--brand-gradient-vertical);
  color: var(--text-tertiary-2);
  >div {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 6px;
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.replyBox {
  margin: 0px;
  padding: 12px 20px;
  background-color: var(--background-card);
  border: none;
  border-block: 1px solid var(--devider);
  border-radius: 0;
  outline: none;
  display: flex;
  align-items: center;
  width: var(--central-content-width);

  .leftSideClosed {
    width: 60px;
  }

  .input {
    width: 100%;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
    margin-top: -2px;
    border-radius: 18px;
    border: none;
    color: var(--text-tertiary);
    background-color: var(--background-header-input);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    >div {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
      overflow: hidden;
    }
  }

}

.rightSideClosed {
  padding-top: 10px;
}

@media only screen and (max-width: 720px) {
  .border {
    height: 36px;
    padding: 1px;
    background: var(--brand-gradient);
    border-radius: 6px;
    margin-left: 10px;

    .input {
      height: 34px;
      font-size: 18px;
      line-height: 20px;
      margin: 0px;
      border-radius: 6px;
      border: none;
      color: var(--text-tertiary);
      background-color: var(--background-site);
      display: flex;
      align-items: center;
      padding-left: 12px;
    }
  }

  .replyBox {
    margin-top: 4px;
    padding: 30px 12px;
    width: calc(100vw - (100vw - 100%));
    background-color: var(--background-card);
  }
}


.searchSuggestions {
  width: 300px;
  background-color: var(--background-site);
  border: 1px solid var(--text-tertiary-2);
  // box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
  border-radius: 4px;

  position: absolute;
  z-index: 50;
}
