.fullHeader {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: left;
  position: relative;

  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  color: var(--text-secondary);
  text-transform: lowercase;

  border-radius: 0;
  border: none;

  &.extended {
    height: 126px;
  }

  a {
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: var(--text-secondary);
    text-transform: lowercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      // text-decoration-thickness: 1px;
    }
  }
}

.logo {
  display: none;
}

.title {
  display: flex;
  margin-left: 16px;
  width: 100%;

  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
}

@media only screen and (max-width: 720px) {
  .fullHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;

    .title {
      text-transform: capitalize;
    }
  }

  .logo {
    display: block;
    left: 20px;
    background-image: var(--logo);
    background-size: contain;
    margin-right: 0px;
    width: 36px;
    height: 36px;
  }

  .title {
    width: auto;
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
  }
}
