.notifItem {
  position: relative;
  display: grid;
  grid-template-columns: 44px 1fr;

  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--devider);

  .newBubble {
    position: absolute;
    top: 8px;
    right: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;

    margin-left: 2px;

    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;

    background: var(--accent);
    border: 1px solid var(--background-site);
    border-radius: 5px;

    color: var(--text-primary-button);
  }

  .notifType {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 6px;
  }

  .iconInfo {
    color: #FFA02F;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 6px;
  }

  .notifContent {
    display: flex;
    flex-direction: column;

    .avatars {
      display: flex;
      padding-bottom: 8px;
      .avatar {
        border: solid 2px var(--text-primary);
        border-radius: 50%;
        width: 36px;
        transition: margin-right 0.2s;
        margin-right: -16px;

        &:hover {
          transition: margin-right 0.2s;
          margin-right: 5px;
        }
      }
    }

    .description {
      display: flex;
      align-items: baseline;
      padding-bottom: 8px;
      .firstUser {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 16px;
        line-height: 18px;
        color: var(--text-secondary);
      }

      .restUsers {
        margin-left: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: var(--text-secondary);
      }
    }

    .reference {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: var(--text-tertiary);
    }
  }
}

.firstUserName {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.verifiedIcon {
  width: 14px;
  height: 14px;
  min-width: 14px;
  display: inline-block;
  margin-left: 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat 0 / 14px;
  mask: url(../../../assets/icons/verified.svg) no-repeat 0 / 14px;
}
