.checkbox {
  input {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  label {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: var(--text-secondary);
  }
}

.checkbox2 {
  display: flex;
  align-items: center;

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 1px solid var(--text-tertiary-2);
    // background-color: var(--background-site);
  }
  .input:focus-visible + .control {
  }
  .control[data-checked] {
  }
  .label {
    margin-left: 6px;
    color: var(--text-secondary);
    font-size: 14px;
    user-select: none;
  }
}

.checkIcon {
  width: 12px;
  height: 12px;

  background-color: var(--text-primary);
  -webkit-mask: url(../../assets/icons/check.svg) 0 / 100% no-repeat;
  mask: url(../../assets/icons/check.svg) 0 / 100% no-repeat;
}

.icon {
  width: 24px;
  height: 24px;
  margin-inline: 8px;
}


.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .radioGroupLabel {
    color: var(--text-primary);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .radioItems {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .radioItemsWithDesc {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
  }

  .radioItem {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .radioControl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 10px;
    border: 2px solid var(--text-primary);
    background: none;
    flex-grow: 1;

    &[data-checked][data-invalid] {
      border: 2px solid var(--warning-bright);
    }
  }

  .radioIndicator {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: var(--text-primary);
  }

  .radioLabel {
    margin-left: 6px;
    color: var(--text-primary);
    font-size: 14px;
    user-select: none;
  }

  .radioItemWithDesc {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 12px 16px;
    border-bottom: 1px solid var(--subtile-devider);

    &:last-child {
      border-bottom: none;
    }

    .radioLabel {
      display: flex;
      flex-direction: column;

      .label {
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }

      .description {
        color: var(--text-tertiary);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}
