.bookmark {
  .emptyBookmark {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0px 0px;
    background-color: var(--text-tertiary);
    -webkit-mask: url(../../assets/icons/bookmark_empty.svg) no-repeat 0 / auto 100%;
    mask: url(../../assets/icons/bookmark_empty.svg) no-repeat 0 / auto 100%;

    &.large {
      width: 22px;
      height: 22px;
    }
  }

  .fullBookmark {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0px 0px;
    background-color: var(--active-bookmarked);
    -webkit-mask: url(../../assets/icons/bookmark_filled.svg) no-repeat 0 / auto 100%;
    mask: url(../../assets/icons/bookmark_filled.svg) no-repeat 0 / auto 100%;

    &.large {
      width: 22px;
      height: 22px;
    }
  }

  &:hover {
    .emptyBookmark {
      background-color: var(--active-bookmarked);
      -webkit-mask: url(../../assets/icons/bookmark_filled.svg) no-repeat 0 / auto 100%;
      mask: url(../../assets/icons/bookmark_filled.svg) no-repeat 0 / auto 100%;
    }
  }
}
