.readsMentionDialog {
  width: 600px;
  height: 702px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}

.suggest {
  background-color: var(--background-header-input);
}

input.textInput {
  background-color: var(--background-header-input);
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  border-radius: 12px;
  border: none;
  width: 100%;
  padding: 12px 16px;
  width: 100%;
  margin: 0;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: var(--text-tertiary);
  }
}

.searchSuggestions {
  margin-top: 8px;
  width: calc(var(--search-input-width) + 16px);
  visibility: visible;
  display: block;

  &.hidden {
    display: none;
    visibility: hidden;
    height: 0;
  }

  &.wide {
    margin-top: 28px;
    width: 100%;
  }
}


.tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 8px;
    width: 100%;
    border-radius: 0;
    padding-top: 22px;
    border-bottom: 1px solid var(--devider);
    border-top: none;
    margin-bottom: 20px;
  }

  .tab {
    position: relative;
    display: inline-block;
    padding-inline: 14px;
    padding-block: 2px;
    border: none;
    background: none;
    width: fit-content;
    height: 28px;
    margin: 0;
    margin-bottom: 12px;

    color: var(--text-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .tabIndicator {
    position: absolute;
    height: 4px;
    top: 54px;
    left: 0;
    border-radius: 2px 2px 0px 0px;
    background: var(--accent);
    transition: all 250ms;
  }

  .tabContent {
    @keyframes fadeIn {
      from {
          opacity:0;
      }

      to {
          opacity:1;
      }

    }
    animation: fadeIn 1s;
  }
