.readsMentionDialog {
  width: 600px;
  height: 702px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.suggest {
  background-color: var(--background-header-input);
}


.addLinkDialog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  .actions {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 8px;

    >button {
      width: 100px;
    }
  }
}

.addImageDialog {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;

  >div, .inputHolder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;

    .actions {
      display:flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
      width: 100%;
      margin-top: 8px;

      >button {
        width: 100px;
      }
    }
  }

  .uploadHolder {
    width: 220px;
    height: 145px;
    background-color: var(--background-header-input);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .uploadPlaceholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  .inputHolder {
    label {
      margin: 0;
    }
    input {
      width: 332px;
    }
  }
}

.searchIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;

  width: 35px;
  height: 35px;
}

.searchLoader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--text-tertiary);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.searchIcon {
  display: inline-block;
  width: 18px;
  height: 18px;

  background-color: var(--text-tertiary);
  -webkit-mask: url(../../assets/icons/search.svg) 0 0/18px 18px;
  mask: url(../../assets/icons/search.svg) 0 0/18px 18px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input.textInput {
  background-color: var(--background-header-input);

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  border-radius: 18px;
  border: none;
  width: 100%;
  height: 35px;
  padding: 8px 16px;
  margin: 0;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: var(--text-tertiary);
  }
}

.textInput {
  display: flex;
  background-color: var(--background-header-input);
  border-radius: 18px;
  padding-left: 4px;

  input {
    background-color: var(--background-header-input);

    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    border-radius: 18px;
    border: none;
    width: 600px;
    height: 35px;
    padding-block: 16px;
    padding-left: 0;
    padding-right: 8px;
    margin: 0;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: var(--text-tertiary);
    }
  }

  textarea {
    background-color: var(--background-header-input);

    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    border-radius: 18px;
    border: none;
    width: 550px;
    min-height: 35px;
    padding: 8px 16px;
    margin: 0;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: var(--text-tertiary);
    }
  }
}

.searchSuggestions {
  margin-top: 8px;
  width: calc(var(--search-input-width) + 16px);
  visibility: visible;
  display: block;

  &.hidden {
    display: none;
    visibility: hidden;
    height: 0;
  }

  &.wide {
    margin-top: 28px;
    width: 100%;
  }
}

.searchResults {
  margin-top: 12px;
  width: 614px;
  height: 560px;
  overflow-y: scroll;
  padding-right: 8px;
}

.noteList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 8px;
  width: 100%;
  border-radius: 0;
  padding-top: 22px;
  border-bottom: 1px solid var(--devider);
  border-top: none;
  margin-bottom: 20px;
}

.tab {
  position: relative;
  display: inline-block;
  padding-inline: 14px;
  padding-block: 2px;
  border: none;
  background: none;
  width: fit-content;
  height: 28px;
  margin: 0;
  margin-bottom: 12px;

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.tabIndicator {
  position: absolute;
  height: 4px;
  top: 54px;
  left: 0;
  border-radius: 2px 2px 0px 0px;
  background: var(--accent);
  transition: all 250ms;
}

.tabContent {
  @keyframes fadeIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }

  }
  animation: fadeIn 1s;
}

.attachIcon {
  width: 20px;
  height: 20px;
  margin: 0;
  display: inline-block;
  background-color: var(--text-tertiary);
  -webkit-mask: url(../../assets/icons/lf_editor_toolbar/image.svg) no-repeat center;
  mask: url(../../assets/icons/lf_editor_toolbar/image.svg) no-repeat center;
  cursor: pointer;
}

.attachLabel {
  color: var(--accent);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
