.readsMentionDialog {
  width: 600px;
  height: 702px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.suggest {
  background-color: var(--background-header-input);
}


.addLinkDialog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 8px;

    >button {
      width: 100px;
    }
  }
}

.readsPublishDialog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 640px;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 8px;

    >button {
      width: 100px;
    }
  }
}

.successIcon {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--text-primary);
  -webkit-mask: url(../../assets/icons/big_success.svg) no-repeat center;
  mask: url(../../assets/icons/big_success.svg) no-repeat center;
}

.readsPublishSuccessDialog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 640px;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 8px;

    >button {
      width: 100px;
    }
  }

  .successCard {
    width: 600px;
    min-height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .successDesc {
      color: var(--text-primary);
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.leaveDialog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 8px;

    >button {
      padding-inline: 20px;
    }
  }
}

.addImageDialog {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;

  >div, .inputHolder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
      width: 100%;
      margin-top: 8px;

      >button {
        width: 100px;
      }
    }
  }

  .uploadPreview {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 220px;
  }

  .uploadHolder {
    width: 220px;
    height: 145px;
    background-color: var(--background-header-input);
    /* border: 1px solid var(--devider); */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .uploadPlaceholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    img {
      width: 220px;
      height: 145px;
      object-fit: contain;
    }
  }

  .inputHolder {
    label {
      margin: 0;
      color: var(--text-secondary);
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;

      span {
        margin-left: 8px;
        color: var(--text-tertiary);
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    input {
      width: 332px;
    }
  }
}

.searchIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;

  width: 35px;
  height: 35px;
}

.searchLoader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--text-tertiary);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.searchIcon {
  display: inline-block;
  width: 18px;
  height: 18px;

  background-color: var(--text-tertiary);
  -webkit-mask: url(../../assets/icons/search.svg) 0 0/18px 18px;
  mask: url(../../assets/icons/search.svg) 0 0/18px 18px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input.textInput {
  background-color: var(--background-header-input);

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  border-radius: 18px;
  border: none;
  width: 100%;
  height: 35px;
  padding: 8px 16px;
  margin: 0;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: var(--text-tertiary);
  }
}

.textInput {
  display: flex;
  background-color: var(--background-header-input);
  border-radius: 18px;
  padding-left: 4px;

  input {
    background-color: var(--background-header-input);

    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    border-radius: 18px;
    border: none;
    width: 600px;
    height: 35px;
    padding-block: 16px;
    padding-left: 0;
    padding-right: 8px;
    margin: 0;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: var(--text-tertiary);
    }
  }

  textarea {
    background-color: var(--background-header-input);

    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    border-radius: 18px;
    border: none;
    width: 550px;
    min-height: 35px;
    padding: 8px 16px;
    margin: 0;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: var(--text-tertiary);
    }
  }
}

.searchSuggestions {
  margin-top: 8px;
  width: calc(var(--search-input-width) + 16px);
  visibility: visible;
  display: block;

  &.hidden {
    display: none;
    visibility: hidden;
    height: 0;
  }

  &.wide {
    margin-top: 28px;
    width: 100%;
  }
}

.searchResults {
  margin-top: 12px;
  width: 614px;
  height: 560px;
  overflow-y: scroll;
  padding-right: 8px;
}

.noteList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 8px;
  width: 100%;
  border-radius: 0;
  padding-top: 22px;
  border-bottom: 1px solid var(--devider);
  border-top: none;
  margin-bottom: 20px;
}

.tab {
  position: relative;
  display: inline-block;
  padding-inline: 14px;
  padding-block: 2px;
  border: none;
  background: none;
  width: fit-content;
  height: 28px;
  margin: 0;
  margin-bottom: 12px;

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.tabIndicator {
  position: absolute;
  height: 4px;
  top: 54px;
  left: 0;
  border-radius: 2px 2px 0px 0px;
  background: var(--accent);
  transition: all 250ms;
}

.tabContent {
  @keyframes fadeIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }

  }
  animation: fadeIn 1s;
}

.attachIcon {
  width: 20px;
  height: 20px;
  margin: 0;
  display: inline-block;
  background-color: var(--text-tertiary);
  -webkit-mask: url(../../assets/icons/lf_editor_toolbar/image.svg) no-repeat center;
  mask: url(../../assets/icons/lf_editor_toolbar/image.svg) no-repeat center;
  cursor: pointer;
}

.attachLabel {
  color: var(--accent);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.closeIcon {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/close.svg) no-repeat center;
  mask: url(../../assets/icons/close.svg) no-repeat center;
}


@keyframes fadeInUploadHover {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}

@keyframes fadeOutUploadHover {
  0% {
    opacity: 0.75;
  }

  100% {
    opacity: 0;
  }
}


.uploadButton {
  position: relative;
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0;

  .uploadOverlay {
    position: absolute;
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    background-color: var(--background-site);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    -webkit-animation: fadeOutUploadHover 0.3s ease-out;
    -moz-animation: fadeOutUploadHover 0.3s ease-out;
    -o-animation: fadeOutUploadHover 0.3s ease-out;
    animation: fadeOutUploadHover 0.3s ease-out;

    &:hover {
      opacity: 0.75;

      -webkit-animation: fadeInUploadHover 0.3s ease-out;
      -moz-animation: fadeInUploadHover 0.3s ease-out;
      -o-animation: fadeInUploadHover 0.3s ease-out;
      animation: fadeInUploadHover 0.3s ease-out;
    }

    .closeBtn {
      position: absolute;
      top: 12px;
      right: 12px;
      background-color: black;
      border-radius: 99px;
    }
  }
}


.uploadingOverlay {
  width: 100%;
  height: 260px;
  position: relative;
  cursor: pointer;

  color: var(--text-tertiary);
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  .closeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: black;
    border-radius: 99px;
  }
}

.uploadProgress {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;

  .progressLabelContainer {
    display: flex;
    justify-content: space-between;
  }
  .progressLabel,
  .progressValue {
    color: var(--text-tertiary-2);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  .progressTrackContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .iconClose {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/close.svg) no-repeat center;
      mask: url(../../assets/icons/close.svg) no-repeat center;
    }

    .iconCheck {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--success-bright);
      -webkit-mask: url(../../assets/icons/check.svg) no-repeat center;
      mask: url(../../assets/icons/check.svg) no-repeat center;
    }
  }
  .progressTrack {
    width: 100%;
    height: 2px;
    background-color: var(--background-input);
    border-radius: 1px;
    overflow: hidden;
  }
  .progressFill {
    background-color: var(--accent);
    height: 2px;
    border-radius: 1px;
    width: var(--kb-progress-fill-width);
    transition: width 250ms linear;
  }
  /* .progressFill[data-progress="complete"] {
    background-color: var(--success-bright);
  } */
}

.previewHolder {
  background-color: var(--background-header-input);
  border: 1px solid var(--subtile-devider);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
