.hidden {
  display: none;
}

.profileFollowModal {
  width: 552px;
  height: 552px;
  background-color: var(--background-input);
  border-radius: var(--border-radius-big);

  @media only screen and (max-width: 720px) {
    width: 100dvw;
  }
}

.tabContent {
  width: 100%;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

.profileTabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  width: 100%;
}

.profileTab {
  position: relative;
  display: inline-block;
  border: none;
  background: none;
  width: fit-content;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.profileTabIndicator {
  position: absolute;
  height: 4px;
  top: 22px;
  left: 0;
  border-radius: 2px 2px 0px 0px;
  background: var(--accent);
  transition: all 250ms;
}

.footer {
  display: flex;
  margin-top: 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .date {
    color: var(--text-tertiary);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}
