.emojiHeader {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  .filters {
    display: flex;
    align-items: center;
  }

  .emojiInput {
    display: flex;
    width: 198px;
    height: 36px;
    border-radius: 18px;
    overflow: hidden;
    align-items: center;

    background-color: var(--background-header-input);
    .searchIcon {
      display: block;
      width: 18px;
      height: 18px;
      margin-left: 14px;

      background-color: var(--text-tertiary);
      -webkit-mask: url(../../assets/icons/search.svg) 0 0/18px 18px;
      mask: url(../../assets/icons/search.svg) 0 0/18px 18px;
    }

    input {
      display: flex;
      width: 168px;
      height: 36px;
      text-align: left;
      margin: 0;
      margin-bottom: 0 !important;
      padding-left: 8px;
      padding-right: 16px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: var(--text-primary);
      background-color: var(--background-header-input);
      border: none;
      border-radius: 0 18px 18px 0;

      &:focus {
        background-color: var(--background-header-input);
        outline: none;
        box-shadow: none;
      }

      &::placeholder {
        color: var(--text-tertiary-2);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

}

.emojiIcon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: var(--text-tertiary);
  cursor: pointer;

  &.highlight {
    background-color: var(--text-secondary);
  }

  &:hover {
    background-color: var(--text-secondary);
  }
}
