@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateY(-18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.emojiPickHolder {
  position: absolute;
  animation: contentShow 150ms ease-out;

  &.down {
    top: 40px;
    left: 0px;
  }

  &.up {
    bottom: -20px;
    left: 40px;
  }
}

.zapEmojiChangeModal {
  position: relative;
  color: var(--text-secondary);
  background-color: var(--background-input);
  border: 1px solid transparent;
  border-radius: var(--border-radius-big);

  display: flex;
  flex-direction: column;
  padding: 16px;

  justify-content: flex-start;
  align-items: center;

  .title {
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-secondary);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .xClose {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: fit-content;

    position: absolute;
    top: 16px;
    right: 22px;

    .iconClose {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/close.svg) no-repeat center;
      mask: url(../../assets/icons/close.svg) no-repeat center;
    }

    &:hover {
      .iconClose {
        background-color: var(--text-primary);
      }
    }

    &:focus {
      box-shadow: none;
    }
  }
}
