.zapEmojiChangeModal {
  height: 344px;
  color: var(--text-secondary);
  background-color: var(--background-input);
  border: 1px solid transparent;
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.hidden {
  display: none;
}
