.modal {
  position: fixed;
  width: 440px;
  color: var(--text-primary);
  background-color: var(--background-input);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  padding: 24px;

  .xClose {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: fit-content;

    position: absolute;
    top: 18px;
    right: 18px;

    .iconClose {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/close.svg) no-repeat center;
      mask: url(../../assets/icons/close.svg) no-repeat center;
    }

    &:hover {
      .iconClose {
        background-color: var(--text-primary);
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-primary);
    margin-bottom: 20px;
  }

  .description {
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 28px;
  }

  .inputs {
    .description {
      margin-bottom: 20px;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;

    button {
      width: fit-content;
      padding-block: 10px;
      padding-inline: 36px;
      margin: 0px;
    }
  }

  .alternative {
    color: var(--text-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

}
