.header {
  grid-area: header;
  align-items: center;
  color: var(--text-tertiary-2);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;

  .headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .avatar {
    margin-right: 12px;

    >a {
      text-decoration: none;
    }

    .avatarImg {
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }
  }
  .postInfo {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    height: 48px;
    justify-content: space-around;

    .verification {
      max-width: 470px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }
    .userInfo {
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .userName {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 360px;
        color: var(--text-primary);
      }
      .time{
        margin: 0px 2px;
        min-width: 80px;
        &::before {
          content: "|";
          padding: 0px 2px;
        }
      }
    }

  }


  .contextMenu {
    position: relative;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;

    .contextButton {
      height: 16px;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      outline: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

}

.contextIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-secondary-2);
  -webkit-mask: url(../../../assets/icons/context.svg) no-repeat 0 / 100%;
  mask: url(../../../assets/icons/context.svg) no-repeat 0 / 100%;

  &:hover {
    background-color: var(--text-primary);
  }
}

.contextMenuOptions {
  position: absolute;
  top: 16px;
  right: 0px;
  min-width: 120px;
  background-color: var(--background-site);
  border: solid 1px var(--text-tertiary-2);
  border-radius: 4px;
  z-index: 20;
}

.contextOption {
  background-color: var(--background-site);
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-2);
  padding: 10px;
  margin: 0px;

  &:hover, &:focus {
    background-color: var(--background-input);
  }
}

@media only screen and (max-width: 720px) {
  .header {
    width: calc(100vw - 160px);
    .postInfo {
      width: calc(100vw - 110px);
      .userInfo {
        max-width: calc(100vw - 100px);
        overflow: hidden;
        .userName {
          max-width: calc(100vw - 180px);
        }
      }
      .verification {
        max-width: 220px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

      }
    }
  }
}
