.header {
  grid-area: header;
  align-items: center;
  color: var(--text-tertiary-2);
  display: flex;
  justify-content: space-between;
  width: 100%;

  .postInfo {
    display: flex;
    justify-content: flex-start;

    .userInfo {
      overflow: hidden;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .userName {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 260px;
      }
    }

    .time{
      margin: 0px 2px;
      min-width: 40px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      &::before {
        content: "|";
        padding: 0px 2px;
      }
    }
  }


  .contextMenu {
    position: relative;
    min-width: 5px;
    height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
  }

}

@media only screen and (max-width: 720px) {
  .header {
    width: calc(100vw - 92px);
    .postInfo {
      width: calc(100vw - 92px);
      .userInfo {
        max-width: calc(100vw - 92px);
        overflow: hidden;
      }
    }
  }
}

.verifiedIcon {
  width: 13px;
  height: 12px;
  min-width: 13px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../../assets/icons/verified.svg) no-repeat center;
  mask: url(../../../assets/icons/verified.svg) no-repeat center;
}

.contextIcon {
  display: inline-block;
  width: 10px;
  height: 2px;
  vertical-align: middle;

  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../../assets/icons/context.svg) no-repeat center;
  mask: url(../../../assets/icons/context.svg) no-repeat center;
}

.contextMenuOptions {
  position: absolute;
  top: 2px;
  right: 0px;
  min-width: 120px;
  background-color: var(--background-site);
  border: solid 1px var(--text-tertiary-2);
  border-radius: 4px;
  z-index: 20;
}

.contextOption {
  background-color: var(--background-site);
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-2);
  padding: 10px;
  margin: 0px;

  &:hover, &:focus {
    background-color: var(--background-input);
  }
}
