.parsedNote {
  img {
    background-color: var(--background-input);
  }
}

.mentionedUser {
  color: var(--accent-1);
  text-decoration: none;
}

.bareLink {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: fit-content; */
  max-width: 60ch;
  color: var(--accent-links);
}

.mentionedNote {
  border: solid 1px var(--subtile-devider);
  border-radius: 4px;
  margin-block: 6px;
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 1fr;
  grid-row-gap: 8px;
  text-decoration: none;
  color: unset;
  line-height: 20px;

  &:hover {
    text-decoration: none !important;
  }

  .mentionedNoteHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-tertiary-2);

    .postInfo {
      display: flex;
      justify-content: flex-start;
      margin-left: 11px;

      .userInfo {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        width: auto;
        .userName {
          max-width: 150px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .time{
        margin: 0px 2px;
        min-width: 40px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        &::before {
          content: "|";
          padding: 0px 2px;
        }
      }

      .contextMenu {
        min-width: 5px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

.verifiedIcon {
  width: 13px;
  height: 12px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat center;
  mask: url(../../assets/icons/verified.svg) no-repeat center;
}

.bordered {
  border:solid 1px var(--subtile-devider);
  border-radius: 8px;
  margin-block: 8px;
  overflow: hidden;
}

.error {
  color: var(--brand-1);
}

.more {
  display: block;
  margin-left: 0;
  margin-top: 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  span {
    margin-left: 2px;
  }
}

.reactionNote {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-weight: 700;
  margin-block: 4px;
  padding-inline: 12px;

  border: 1px solid var(--subtile-devider);
  border-radius: var(--border-radius-small);
}

.mentionedHighlight {
  width: fit-content;
  background-color: var(--highlight);
  color: var(--text-highlight);
  text-decoration: none;
  margin-block: 8px;
}

.articlePreview {
  background-color: var(--background-header-input);
  border-radius: var(--border-radius-small);
  padding: 0px;
  overflow: hidden;
  margin-top: 12px;

  a {
    text-decoration: none !important;
    padding: 0;
    margin: 0;
  }
}

.shortNote {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  text-overflow: ellipsis;
}

.unknownEvent {
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--background-header-input);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;


  .icon {
    width: 20px;
    height: 20px;
    background-color: var(--text-tertiary);

    &.bang {
      -webkit-mask: url(../../assets/icons/bang.svg) no-repeat 0 / 100%;
      mask: url(../../assets/icons/bang.svg) no-repeat 0 / 100%;
    }

    &.file {
      -webkit-mask: url(../../assets/icons/file.svg) no-repeat 0 / 100%;
      mask: url(../../assets/icons/file.svg) no-repeat 0 / 100%;
    }
  }

  .label {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
  }
}
