.post {
  background-color: var(--post-color);
  margin-top: 4px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "avatar content";
  padding: 16px;

  .avatar {
    grid-area: avatar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;
    grid-row-gap: 6px;
    justify-items: center;


    .avatarImg {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    .avatarName {
      // width: 100%;
      // text-align: center;
      font-size: 12px;
      line-height: 12px;
      color: var(--active-link);
      align-self: flex-start;
      // margin-top: 6px;
    }
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px 1fr 16px;
    grid-row-gap: 12px;
    grid-template-areas: "header" "message" "footer";

    .header {
      grid-area: header;
      font-size: small;
    }

    .message {
      grid-area: message;
      color: var(--active-link);
      word-break: break-word;
    }

    .footer {
      display: grid;
      grid-template-columns: 36px 36px 36px 36px;
      grid-template-rows: 1fr;
      grid-column-gap: 60px;

      .stat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
      }
    }
  }
}

@mixin statIcon {
  width: 28px;
  height: 28px;
}

.likeIcon {
  @include statIcon;
  background-color: var(--color);
  -webkit-mask: url(../../assets/icons/like.svg) no-repeat center;
  mask: url(../../assets/icons/like.svg) no-repeat center;
}

.replyIcon {
  @include statIcon;
  background-color: var(--color);
  -webkit-mask: url(../../assets/icons/reply.svg) no-repeat center;
  mask: url(../../assets/icons/reply.svg) no-repeat center;
}


.repostIcon {
  @include statIcon;
  background-color: var(--color);
  -webkit-mask: url(../../assets/icons/reposts.svg) no-repeat center;
  mask: url(../../assets/icons/reposts.svg) no-repeat center;
}
