.post {
  background-color: var(--backround-card);
  margin-top: 4px;
  display: grid;
  grid-template-columns: 92px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "avatar content";
  padding: 16px 16px 16px 0px;
  border-radius: 4px;
  // pointer-events: none;

  .avatar {
    grid-area: avatar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px 1fr;
    grid-row-gap: 6px;
    justify-items: center;

    >a {
      text-decoration: none;
    }

    .avatarImg {
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }

    .avatarName {
      width: 100%;
      padding: 0px 6px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      line-height: 12px;
      color: var(--text-primary);
      align-self: flex-start;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px 1fr 28px;
    grid-row-gap: 16px;
    grid-template-areas: "header" "message" "footer";

    .header {
      grid-area: header;
      align-items: center;
      color: var(--text-tertiary-2);
      display: flex;
      justify-content: space-between;
      width: 532px;

      .postInfo {
        display: flex;
        width: 492px;
        justify-content: flex-start;

        .userInfo {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
          line-height: 16px;
          font-weight: 400;
          display: flex;
          align-items: center;
        }

        .time{
          margin: 0px 2px;
          min-width: 40px;
          font-size: 14px;
          line-height: 16px;
          font-weight: 400;
          &::before {
            content: "|";
            padding: 0px 2px;
          }
        }
      }


      .contextMenu {
        min-width: 5px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }

    }

    .message {
      grid-area: message;
      color: var(--text-primary);
      word-break: break-word;
      font-size: 16px;
      line-height: 24px;
      width: 100%;

      a:hover {
        text-decoration: underline;
      }
    }

    .footer {
      display: grid;
      grid-template-columns: 36px 36px 36px 36px;
      grid-template-rows: 1fr;
      grid-column-gap: 60px;

      .stat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        margin: 0px;
        padding: 0px;
        border: none;
        background-color: unset;
        &:disabled, &[disabled] {
          .replyIcon, .likeIcon, .repostIcon {
            background-color: var(--accent-1);
          }
          .statNumber {
            color: var(--accent-1);
          }
        }
        &:focus {
          box-shadow: none;
        }
        .statNumber {
          color: var(--text-secondary);
        }

        &:hover {
          .replyIcon, .likeIcon, .repostIcon {
            background-color: var(--text-secondary);
          }
          .statNumber {
            color: var(--text-primary);
          }
        }
      }
    }
  }
}

@mixin statIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-tertiary-2);
}

.likeIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/like.svg) no-repeat center;
  mask: url(../../assets/icons/like.svg) no-repeat center;
}

.replyIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/reply.svg) no-repeat center;
  mask: url(../../assets/icons/reply.svg) no-repeat center;
}

.repostIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/reposts.svg) no-repeat center;
  mask: url(../../assets/icons/reposts.svg) no-repeat center;
}

.zapIcon {
  @include statIcon;
  -webkit-mask: url(../../assets/icons/zaps.svg) no-repeat center;
  mask: url(../../assets/icons/zaps.svg) no-repeat center;
}

.verifiedIcon {
  width: 13px;
  height: 12px;
  display: inline-block;
  margin: 0px 2px;
  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat center;
  mask: url(../../assets/icons/verified.svg) no-repeat center;
}

.contextIcon {
  display: inline-block;
  width: 10px;
  height: 2px;
  vertical-align: middle;

  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/context.svg) no-repeat center;
  mask: url(../../assets/icons/context.svg) no-repeat center;
}


.postLink {
  text-decoration: none;
  color: unset;
  margin: 0px;
  padding: 0px;
  // background: var(--brand-gradient-vertical);
  background-color: var(--backround-card);
  border-radius: 6px;
  display: block;
  transition: 0.2s padding;
  margin-top: 6px;
  >div {
    border-radius: 4px;
    transition: 0.2s border-radius ease-out;
  }

  // &:hover {
  //   padding-left: 4px;
  //   transition: 0.2s padding;
  //   border-radius: 4px;
  //   >div {
  //     border-radius: 0px 4px 4px 0px;
  //     transition: 0.2s border-radius ease-out;
  //   }
  // }
}

.repostedBy {
  margin-left: 22px;
  padding-top: 16px;
  display: flex;
  >span {
    >a {
      margin-inline: 5px;
    }
    color: var(--text-tertiary);
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }
}


@media only screen and (max-width: 720px) {
  .post {
    width: 100% !important;
    grid-template-columns: 62px 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    .content {
      .header {
        width: 280px !important;
        // margin-inline: 0px !important;
        .postInfo {
          width: 80% !important;
        }
      }
      .message {
        width: 80% !important;
      }

      .footer {
        width: 80% !important;
        grid-column-gap: 5% !important;
      }
    }
  }

  .postLink {
    width: 100% !important;
  }
}
