.article, .articleShort {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: unset;
  width: 100%;
  margin-top: 20px;
  padding-inline: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--devider);

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;

    .userInfo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;

      .userName {
        color: var(--text-secondary);
        font-family: Nacelle;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
      }

      .nip05 {
        color: var(--text-tertiary);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }
    }

    .time {
      color: var(--text-tertiary);
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;

      &::before {
        content: '• ';
      }
    }
  }

  .body {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      flex-grow: 1;

      .content {
        .title {
          color: var(--text-primary);
          font-size: 24px;
          font-weight: 800;
          line-height: 32px;
        }

        .summary {
          color: var(--text-secondary);
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
        }
      }

      .tags {
        width: 100%;

        .tag {
          display: inline-block;
          color: var(--text-secondary);
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          background-color: var(--background-input);
          padding: 6px 10px;
          border-radius: 12px;
          width: fit-content;
          margin-block: 4px;
          margin-right: 6px;
        }
        .estimate {
          display: inline-block;
          color: var(--text-secondary);
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
        }
      }
    }

    .image {
      min-width: 164px;
      height: fit-content;
      border: 1px solid var(--devider);
      border-radius: 8px;
      overflow: hidden;
      img {
        width: 164px;
        object-fit: scale-down;
      }

      .placeholderImage {
        width: 164px;
        height: 118px;
        background-image: var(--reads-placeholder-image);
        background-size: contain;
      }
    }

  }

  .zaps {
    margin-bottom: 16px;
  }

}

.upRightFloater {
  position: absolute;
  top: -6px;
  right: 8px;
}

.articleShort {
  padding: 0;
  .header {
    .userInfo {
      .userName {
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
      }
    }

    .time {
      font-size: 15px;
      font-weight: 400;
      line-height: normal;
    }
  }
  .body {
    .text {
      .content {
        .title {
          font-size: 16px;
          font-weight: 800;
          line-height: 24px;
        }

        .estimate {
          color: var(--text-tertiary);
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
    .image {
      min-width: 100px;
      height: fit-content;
      border: 1px solid var(--devider);
      border-radius: 8px;
      overflow: hidden;
      img {
        width: 100px;
        object-fit: scale-down;
      }

      .placeholderImage {
        width: 100px;
        height: 70px;
        background-image: var(--reads-placeholder-image);
        background-size: contain;
      }
    }
  }

}
