@mixin avatar {
  position: relative;
  background-color: var(--background-site);
  border-radius: 50%;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
  }
}

.verifiedIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--accent);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat 0px / 15px;
  mask: url(../../assets/icons/verified.svg) no-repeat 0px / 15px;
}

@mixin iconBackground {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.nanoAvatar {
  @include avatar;
  width: 18px;
  height: 18px;

  .missingBack {
    width: 18px;
    height: 18px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: -6px;
    right: -6px;
  }

  &.legend {
    padding: 1px;
    .missingBack {
      width: 16px;
      height: 16px;
    }
  }
}

.microAvatar {
  @include avatar;
  width: 22px;
  height: 22px;

  .missingBack {
    width: 22px;
    height: 22px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: -6px;
    right: -6px;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 18px;
      height: 18px;
    }
  }
}

.xxsAvatar {
  @include avatar;
  width: 28px;
  height: 28px;

  .missingBack {
    width: 28px;
    height: 28px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: -6px;
    right: -6px;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 24px;
      height: 24px;
    }
  }
}

.xssAvatar {
  @include avatar;
  width: 26px;
  height: 26px;

  .missingBack {
    width: 26px;
    height: 26px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: -6px;
    right: -6px;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 22px;
      height: 22px;
    }
  }
}

.xsAvatar {
  @include avatar;
  width: 32px;
  height: 32px;

  .missingBack {
    width: 32px;
    height: 32px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: -6px;
    right: -6px;
  }

  &.legend {
    padding: 1px;
    .missingBack {
      width: 28px;
      height: 28px;
    }
  }
}

.vvsAvatar {
  @include avatar;
  width: 36px;
  height: 36px;

  .missingBack {
    width: 36px;
    height: 36px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: -6px;
    right: -6px;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 32px;
      height: 32px;
    }
  }
}

.vs2Avatar {
  @include avatar;
  width: 40px;
  height: 40px;

  .missingBack {
    width: 40px;
    height: 40px;
  }

  .iconBackground {
    @include iconBackground;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 36px;
      height: 36px;
    }
  }
}

.vsAvatar {
  @include avatar;
  width: 42px;
  height: 42px;

  .missingBack {
    width: 42px;
    height: 42px;
  }

  .iconBackground {
    @include iconBackground;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 38px;
      height: 38px;
    }
  }
}

.smallAvatar {
  @include avatar;
  width: 44px;
  height: 44px;

  .missingBack {
    width: 44px;
    height: 44px;
  }

  .iconBackground {
    @include iconBackground;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 40px;
      height: 40px;
    }
  }
}

.midAvatar {
  @include avatar;
  width: 52px;
  height: 52px;

  .missingBack {
    width: 52px;
    height: 52px;
  }

  .iconBackground {
    @include iconBackground;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 48px;
      height: 48px;
    }
  }
}

.mlAvatar {
  @include avatar;
  width: 60px;
  height: 60px;

  .missingBack {
    width: 60px;
    height: 60px;
  }

  .iconBackground {
    @include iconBackground;
  }

  &.legend {
    padding: 2px;
    .missingBack {
      width: 56px;
      height: 56px;
    }
  }
}

.mllAvatar {
  @include avatar;
  width: 64px;
  height: 64px;

  .missingBack {
    width: 64px;
    height: 64px;
  }

  .iconBackground {
    @include iconBackground;
  }

  &.legend {
    padding: 3px;
    .missingBack {
      width: 58px;
      height: 58px;
    }
  }
}

.largeAvatar {
  @include avatar;
  width: 72px;
  height: 72px;

  .missingBack {
    width: 72px;
    height: 72px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: 3px;
    right: 3px;
  }

  &.legend {
    padding: 3px;
    .missingBack {
      width: 66px;
      height: 66px;
    }
  }
}

.extraLargeAvatar {
  @include avatar;
  width: 80px;
  height: 80px;

  .missingBack {
    width: 80px;
    height: 80px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: 4px;
    right: 4px;
  }

  &.legend {
    padding: 3px;
    .missingBack {
      width: 74px;
      height: 74px;
    }
  }
}

.xxlAvatar {
  @include avatar;
  width: 120px;
  height: 120px;

  .missingBack {
    width: 120px;
    height: 120px;
  }

  .iconBackground {
    @include iconBackground;
    bottom: 4px;
    right: 4px;
  }

  &.legend {
    padding: 4px;
    .missingBack {
      width: 112px;
      height: 112px;
    }
  }
}

.missingBack {
  background-color: var(--background-site);
  border-radius: 50%;
}

@mixin missing {
  display: grid;
  place-items: center;
  color: var(--missing-avatar-text);
  background-color: var(--subtile-devider);
  border-radius: 50%;
  mask-image: url(../../assets/icons/default_avatar.svg);
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../../assets/icons/default_avatar.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.nanoMissing {
  @include missing;
  width: 18px;
  height: 18px;
  font-size: 10px;
}

.microMissing {
  @include missing;
  width: 22px;
  height: 22px;
  font-size: 10px;
}

.xxsMissing {
  @include missing;
  width: 28px;
  height: 28px;
  font-size: 10px;
}

.xssMissing {
  @include missing;
  width: 26px;
  height: 26px;
  font-size: 10px;
}

.xsMissing {
  @include missing;
  width: 32px;
  height: 32px;
  font-size: 10px;
}

.vvsMissing {
  @include missing;
  width: 36px;
  height: 36px;
  font-size: 10px;
}

.vs2Missing {
  @include missing;
  width: 40px;
  height: 40px;
  font-size: 10px;
}

.vsMissing {
  @include missing;
  width: 42px;
  height: 42px;
  font-size: 10px;
}

.smallMissing {
  @include missing;
  width: 44px;
  height: 44px;
  font-size: 12px;
}

.midMissing {
  @include missing;
  width: 48px;
  height: 48px;
  font-size: 16px;
}

.mlMissing {
  @include missing;
  width: 60px;
  height: 60px;
  font-size: 16px;
}

.mllMissing {
  @include missing;
  width: 64px;
  height: 64px;
  font-size: 16px;
}

.largeMissing {
  @include missing;
  width: 68px;
  height: 68px;
  font-size: 18px;
}

.extraLargeMissing {
  @include missing;
  width: 76px;
  height: 76px;
  font-size: 20px;
}

.xxlMissing {
  @include missing;
  width: 120px;
  height: 120px;
  font-size: 20px;
}

.highlightBorder {
  background: none;
  // padding: 2px;
}

.cacheFlag {
  img {
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(300deg) blur(0.1rem);
  }
}

@mixin highlight {
  border-radius: 99999px;
  overflow: hidden
}

.legend_GOLD {
  @include highlight;
  background: var(--legend-gold);
}
.legend_AQUA {
  @include highlight;
  background: var(--legend-aqua);
}
.legend_SILVER {
  @include highlight;
  background: var(--legend-silver);
}
.legend_PURPLE {
  @include highlight;
  background: var(--legend-purple);
}
.legend_PURPLEHAZE {
  @include highlight;
  background: var(--legend-purplehaze);
}
.legend_TEAL {
  @include highlight;
  background: var(--legend-teal);
}
.legend_BROWN {
  @include highlight;
  background: var(--legend-brown);
}
.legend_BLUE {
  @include highlight;
  background: var(--legend-blue);
}
.legend_SUNFIRE {
  @include highlight;
  background: var(--legend-sunfire);
}

.legend_glow_GOLD {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-gold);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-gold);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-gold);
}
.legend_glow_AQUA {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-aqua);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-aqua);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-aqua);
}
.legend_glow_SILVER {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-silver);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-silver);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-silver);
}
.legend_glow_PURPLE {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-purple);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-purple);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-purple);
}
.legend_glow_PURPLEHAZE {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-purplehaze);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-purplehaze);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-purplehaze);
}
.legend_glow_TEAL {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-teal);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-teal);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-teal);
}
.legend_glow_BROWN {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-brown);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-brown);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-brown);
}
.legend_glow_BLUE {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-blue);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-blue);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-blue);
}
.legend_glow_SUNFIRE {
  -webkit-box-shadow: 0px 0px 10px 0px var(--legend-glow-sunfire);
  -moz-box-shadow: 0px 0px 10px 0px var(--legend-glow-sunfire);
  box-shadow: 0px 0px 10px 0px var(--legend-glow-sunfire);
}
