@mixin avatar {
  position: relative;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.verifiedIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--brand-one);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat 0px / 15px;
  mask: url(../../assets/icons/verified.svg) no-repeat 0px / 15px;
}

@mixin iconBackground {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 15px;
  height: 15px;
  background-color: var(--background-site);
  border-radius: 50%;
}

.xsAvatar {
  @include avatar;
  width: 24px;
  height: 24px;

  .iconBackground {
    @include iconBackground;
    bottom: -6px;
    right: -6px;
  }
}

.smallAvatar {
  @include avatar;
  width: 48px;
  height: 48px;

  .iconBackground {
    @include iconBackground;
    bottom: 0px;
    right: 0px;
  }
}

.midAvatar {
  @include avatar;
  width: 52px;
  height: 52px;

  .iconBackground {
    @include iconBackground;
    bottom: 0px;
    right: 0px;
  }
}

.largeAvatar {
  @include avatar;
  width: 72px;
  height: 72px;

  .iconBackground {
    @include iconBackground;
    bottom: 3px;
    right: 3px;
  }
}

.extraLargeAvatar {
  @include avatar;
  width: 80px;
  height: 80px;

  .iconBackground {
    @include iconBackground;
    bottom: 4px;
    right: 4px;
  }
}

@mixin missing {
  display: grid;
  place-items: center;
  color: var(--missing-avatar-text);
  background: var(--brand-gradient);
  border-radius: 50%;
}

.xsMissing {
  @include missing;
  width: 24px;
  height: 24px;
  font-size: 10px;
}

.smallMissing {
  @include missing;
  width: 48px;
  height: 48px;
  font-size: 12px;
}

.midMissing {
  @include missing;
  width: 52px;
  height: 52px;
  font-size: 16px;
}

.largeMissing {
  @include missing;
  width: 72px;
  height: 72px;
  font-size: 18px;
}

.extraLargeMissing {
  @include missing;
  width: 80px;
  height: 80px;
  font-size: 20px;
}
