.zapSettings {
  display: flex;
  flex-direction: column;

  .defaultZaps {
    margin-bottom: 20px;
  }
  .zapOptions {
    width: 396px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

input.zapInput {
  width: 124px;
  height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-secondary);
  border: 1px solid var(--subtile-devider);
  border-radius: 6px;
}
