@import "@picocss/pico/scss/pico";

@mixin sunset_wave {
  --brand-1: #FA3C3C;
  --brand-2: #5B09AD;
  --brand-3: #FA9A43;
  --brand-gradient: linear-gradient(135deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --highlight-gradient: linear-gradient(137.63deg, var(--brand-3) 0%, var(--brand-1) 32.3%, var(--brand-2) 100%);
  --accent-1: #CA079F;
  --accent-2: #AB268E;

  --brand-text: #D5D5D5;
  --background-site: #000000;
  --background-card: #121212;
  --background-input: #222222;
  --text-primary: #FFFFFF;
  --text-secondary: #AAAAAA;
  --text-secondary-2: #AAAAAA;
  --text-tertiary: #757575;
  --text-tertiary-2: #666666;
  --subtile-devider: #444444;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);
  --fade-gradient-vertical: linear-gradient(180deg, #000000FF 80%, #00000000 100%);
  --fade-note-vertical: linear-gradient(180deg, #12121200, #121212FF 90%);

  --logo: url('./assets/icons/logo_fire.svg');
  --icon-follows: url('./assets/icons/follows.svg');
  --icon-tribe: url('./assets/icons/tribe.svg');
  --icon-global: url('./assets/icons/global.svg');
  --icon-network: url('./assets/icons/network.svg');

  --icon-follows-latest: url('./assets/icons/follows_latest.svg');
  --icon-follows-popular: url('./assets/icons/follows_popular.svg');
  --icon-follows-trending: url('./assets/icons/follows_trending.svg');

  --icon-tribe-latest: url('./assets/icons/tribe_latest.svg');
  --icon-tribe-popular: url('./assets/icons/tribe_popular.svg');
  --icon-tribe-trending: url('./assets/icons/tribe_trending.svg');

  --icon-global-latest: url('./assets/icons/global_latest.svg');
  --icon-global-popular: url('./assets/icons/global_popular.svg');
  --icon-global-trending: url('./assets/icons/global_trending.svg');

  --icon-network-latest: url('./assets/icons/network_latest.svg');
  --icon-network-popular: url('./assets/icons/network_popular.svg');
  --icon-network-trending: url('./assets/icons/network_trending.svg');


  select {
    background-color: var(--background-site);
  }

}

@mixin sunrise_wave {
  --brand-1: #FA3C3C;
  --brand-2: #5B09AD;
  --brand-3: #5B09AD;
  --brand-gradient: linear-gradient(135deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --highlight-gradient: linear-gradient(137.63deg, var(--brand-3) 0%, var(--brand-1) 32.3%, var(--brand-2) 100%);
  --accent-1: #CA079F;
  --accent-2: #AB268E;

  --brand-text: #444444;
  --background-site: #F5F5F5;
  --background-card: #FFFFFF;
  --background-input: #E5E5E5;
  --text-primary: #111111;
  --text-secondary: #444444;
  --text-secondary-2: #666666;
  --text-tertiary: #808080;
  --text-tertiary-2: #808080;
  --subtile-devider: #C8C8C8;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);
  --fade-gradient-vertical: linear-gradient(180deg, #F5F5F5FF 80%, #F5F5F500 100%);
  --fade-note-vertical: linear-gradient(180deg, #FFFFFF00, #FFFFFFFF 90%);

  --logo: url('./assets/icons/logo_fire.svg');
  --icon-follows: url('./assets/icons/follows_light.svg');
  --icon-tribe: url('./assets/icons/tribe_light.svg');
  --icon-global: url('./assets/icons/global_light.svg');
  --icon-network: url('./assets/icons/network_light.svg');

  --icon-follows-latest: url('./assets/icons/follows_latest_light.svg');
  --icon-follows-popular: url('./assets/icons/follows_popular_light.svg');
  --icon-follows-trending: url('./assets/icons/follows_trending_light.svg');

  --icon-tribe-latest: url('./assets/icons/tribe_latest_light.svg');
  --icon-tribe-popular: url('./assets/icons/tribe_popular_light.svg');
  --icon-tribe-trending: url('./assets/icons/tribe_trending_light.svg');

  --icon-global-latest: url('./assets/icons/global_latest_light.svg');
  --icon-global-popular: url('./assets/icons/global_popular_light.svg');
  --icon-global-trending: url('./assets/icons/global_trending_light.svg');

  --icon-network-latest: url('./assets/icons/network_latest_light.svg');
  --icon-network-popular: url('./assets/icons/network_popular_light.svg');
  --icon-network-trending: url('./assets/icons/network_trending_light.svg');

  select {
    background-color: var(--background-site);
  }
}

@mixin midnight_wave {
  --brand-1: #0090F8;
  --brand-2: #4C00C7;
  --brand-3: #00E0FF;
  --brand-gradient: linear-gradient(135deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --highlight-gradient: linear-gradient(137.63deg, var(--brand-3) 0%, var(--brand-1) 32.22%, var(--brand-2) 100%);

  --accent-1: #2394EF;
  --accent-2: #0C7DD8;

  --brand-text: #D5D5D5;
  --background-site: #000000;
  --background-card: #121212;
  --background-input: #222222;
  --text-primary: #FFFFFF;
  --text-secondary: #AAAAAA;
  --text-secondary-2: #AAAAAA;
  --text-tertiary: #757575;
  --text-tertiary-2: #666666;
  --subtile-devider: #444444;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);
  --fade-gradient-vertical: linear-gradient(180deg, #000000FF 80%, #00000000 100%);
  --fade-note-vertical: linear-gradient(180deg, #12121200, #121212FF 90%);

  --logo: url('./assets/icons/logo_ice.svg');
  --icon-follows: url('./assets/icons/follows.svg');
  --icon-tribe: url('./assets/icons/tribe.svg');
  --icon-global: url('./assets/icons/global.svg');
  --icon-network: url('./assets/icons/network.svg');

  --icon-follows-latest: url('./assets/icons/follows_latest.svg');
  --icon-follows-popular: url('./assets/icons/follows_popular.svg');
  --icon-follows-trending: url('./assets/icons/follows_trending.svg');

  --icon-tribe-latest: url('./assets/icons/tribe_latest.svg');
  --icon-tribe-popular: url('./assets/icons/tribe_popular.svg');
  --icon-tribe-trending: url('./assets/icons/tribe_trending.svg');

  --icon-global-latest: url('./assets/icons/global_latest.svg');
  --icon-global-popular: url('./assets/icons/global_popular.svg');
  --icon-global-trending: url('./assets/icons/global_trending.svg');

  --icon-network-latest: url('./assets/icons/network_latest.svg');
  --icon-network-popular: url('./assets/icons/network_popular.svg');
  --icon-network-trending: url('./assets/icons/network_trending.svg');


  select {
    background-color: var(--background-site);
  }
}


@mixin ice_wave {
  --brand-1: #0090F8;
  --brand-2: #4C00C7;
  --brand-3: #00E0FF;
  --brand-gradient: linear-gradient(135deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-1) 0%, var(--brand-2) 100%);
  --highlight-gradient: linear-gradient(137.63deg, var(--brand-3) 0%, var(--brand-1) 32.22%, var(--brand-2) 100%);
  --accent-1: #2394EF;
  --accent-2: #0C7DD8;

  --brand-text: #444444;
  --background-site: #F5F5F5;
  --background-card: #FFFFFF;
  --background-input: #E5E5E5;
  --text-primary: #111111;
  --text-secondary: #444444;
  --text-secondary-2: #666666;
  --text-tertiary: #808080;
  --text-tertiary-2: #808080;
  --subtile-devider: #C8C8C8;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);
  --fade-gradient-vertical: linear-gradient(180deg, #F5F5F5FF 80%, #F5F5F500 100%);
  --fade-note-vertical: linear-gradient(180deg, #FFFFFF00, #FFFFFFFF 90%);

  --logo: url('./assets/icons/logo_ice.svg');
  --icon-follows: url('./assets/icons/follows_light.svg');
  --icon-tribe: url('./assets/icons/tribe_light.svg');
  --icon-global: url('./assets/icons/global_light.svg');
  --icon-network: url('./assets/icons/network_light.svg');

  --icon-follows-latest: url('./assets/icons/follows_latest_light.svg');
  --icon-follows-popular: url('./assets/icons/follows_popular_light.svg');
  --icon-follows-trending: url('./assets/icons/follows_trending_light.svg');

  --icon-tribe-latest: url('./assets/icons/tribe_latest_light.svg');
  --icon-tribe-popular: url('./assets/icons/tribe_popular_light.svg');
  --icon-tribe-trending: url('./assets/icons/tribe_trending_light.svg');

  --icon-global-latest: url('./assets/icons/global_latest_light.svg');
  --icon-global-popular: url('./assets/icons/global_popular_light.svg');
  --icon-global-trending: url('./assets/icons/global_trending_light.svg');

  --icon-network-latest: url('./assets/icons/network_latest_light.svg');
  --icon-network-popular: url('./assets/icons/network_popular_light.svg');
  --icon-network-trending: url('./assets/icons/network_trending_light.svg');
  select {
    background-color: var(--background-site);
  }
}

/* Default theme */
:root[data-theme="dark"],
:root[data-theme="sunset"],
:root:not([data-theme="dark"]),
:root:not([data-theme="sunset"]),
:root:not([data-theme="sunrise"]),
:root:not([data-theme="midinght"]),
:root:not([data-theme="ice"]) {
  @include sunset_wave();
}

:root[data-theme="light"],
:root[data-theme="sunrise"] {
  @include sunrise_wave();
}

:root[data-theme="midnight"] {
  @include midnight_wave();
}

:root[data-theme="ice"] {
  @include ice_wave();
}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root {
    @include sunset_wave();
  }
}

/* Common styles */
:root {
  --missing-avatar-text: #FFFFFF;

  --z-index-header: 10;
  --z-index-floater: 20;

  --sidebar-section-icon-gradient: linear-gradient(175.11deg, #FA9A43 6.94%, #FA4343 29.79%, #5B12A4 97.76%), linear-gradient(170.29deg, #CCCCCC 12.73%, #808080 94.98%), #D9D9D9;

  --light-input: #E5E5E5;
  --light-back: #F5F5F5;
  --dark-input: #222222;
  --dark-back: #000000;

  .mentioned_user {
    color: var(--accent-1);
  }
  .hash_tag {
    color: var(--accent-1);
  }

  .postImage {
    display: block;
    width: 100%;
    border-radius: 12px;
  }

  .w-max {
    width: 100%;
    height: 300px;
    border-radius: 4px;
  }

  * {
    ::-moz-selection {
      color: var(--background-site);
      background: var(--text-primary);
    }

    ::selection {
      color: var(--background-site);
      background: var(--text-primary);
    }
  }

}

body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

.linkish {
  color: var(--accent-1);
}
