@import "@picocss/pico/scss/pico";

@import "./palette.scss";

@import 'photoswipe/style.css';

/* Default theme */
:root[data-theme="dark"],
:root[data-theme="sunset"],
:root:not([data-theme="dark"]),
:root:not([data-theme="sunset"]),
:root:not([data-theme="sunrise"]),
:root:not([data-theme="midinght"]),
:root:not([data-theme="ice"]) {
  @include sunset_wave();
}

:root[data-theme="light"],
:root[data-theme="sunrise"] {
  @include sunrise_wave();
}

:root[data-theme="midnight"] {
  @include midnight_wave();
}

:root[data-theme="ice"] {
  @include ice_wave();
}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root {
    @include sunset_wave();
  }
}

/* Common styles */
:root {
  --missing-avatar-text: #FFFFFF;

  --z-index-lifted: 10;
  --z-index-header: 20;
  --z-index-floater: 30;
  --z-index-overlay: 40;

  --border-radius-small: 8px;
  --border-radius-big: 12px;

  --central-content-width: 600px;

  --sidebar-section-icon-gradient: linear-gradient(175.11deg, #FA9A43 6.94%, #FA4343 29.79%, #5B12A4 97.76%), linear-gradient(170.29deg, #CCCCCC 12.73%, #808080 94.98%), #D9D9D9;

  --light-input: #E5E5E5;
  --light-back: #F5F5F5;
  --dark-input: #222222;
  --dark-back: #000000;

  --warning-color: #FA3C3C;
  --success-color: #66E205;

  --left-col-w: 187px;
  --center-col-w: 602px;
  --right-col-w: 348px;
  --full-site-w: 1137px;
  --header-height: 84px;

  background-color: var(--background-site);

  .mentioned_user {
    color: var(--accent);
  }
  .hash_tag {
    color: var(--accent);
  }

  .postImage {
    display: block;
    width: 100%;
    max-height: 1200px;
    object-fit: contain;
    border-radius: 12px;
  }

  .w-max {
    width: 100%;
    height: 300px;
    border-radius: 4px;
  }

  * {
    ::-moz-selection {
      color: var(--background-site);
      background: var(--text-primary);
    }

    ::selection {
      color: var(--background-site);
      background: var(--text-primary);
    }
  }

}

body {
  margin: 0;
  font-family: 'Nacelle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  background-color: var(--background-site);
}

a {
  color: var(--accent-links)
}

.linkish {
  color: var(--accent-links);
}

.redBorder {
  border: 2px solid red;
}

.reply_icon {
  -webkit-mask: url(./assets/icons/feed_reply.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_reply_fill.svg) no-repeat 0 / 100%;
}
.reply_icon {
  -webkit-mask: url(./assets/icons/feed_reply_fill.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_reply_fill.svg) no-repeat 0 / 100%;
}
.repost_icon {
  -webkit-mask: url(./assets/icons/feed_repost.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_repost_fill.svg) no-repeat 0 / 100%;
}
.repost_icon {
  -webkit-mask: url(./assets/icons/feed_repost_fill.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_repost_fill.svg) no-repeat 0 / 100%;
}
.zap_icon {
  -webkit-mask: url(./assets/icons/feed_zap.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_zap_fill.svg) no-repeat 0 / 100%;
}
.zap_icon {
  -webkit-mask: url(./assets/icons/feed_zap_fill.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_zap_fill.svg) no-repeat 0 / 100%;
}
.like_icon {
  -webkit-mask: url(./assets/icons/feed_like.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_like_fill.svg) no-repeat 0 / 100%;
}
.like_icon {
  -webkit-mask: url(./assets/icons/feed_like_fill.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/feed_like_fill.svg) no-repeat 0 / 100%;
}
.attach_icon {
  -webkit-mask: url(./assets/icons/attach_media.svg) no-repeat 0 / 100%;
  mask: url(./assets/icons/attach_media.svg) no-repeat 0 / 100%;
}

.bordered {
  border:solid 1px var(--subtile-devider);
  border-radius: 8px;
  margin-block: 8px;
  overflow: hidden;
}

.imageGrid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 125px;
  border-radius: 8px;
  overflow: hidden;
  grid-gap: 2px;

  img {
    width: 100%;
    height: 100%;
  }

  &.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
      "cell1 cell2";
  }

  &.grid-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas:
      "cell1 cell2"
      "cell1 cell3";
  }
  &.grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas:
      "cell1 cell2"
      "cell3 cell4";
  }

  &.grid-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas:
      "cell1 cell1 cell2 cell2"
      "cell3 cell3 cell4 cell5";
  }

  &.grid-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas:
      "cell1 cell1 cell2 cell3"
      "cell4 cell5 cell6 cell6";
  }
  .cell_1 {
    grid-area: cell1;
  }
  .cell_2 {
    grid-area: cell2;
  }
  .cell_3 {
    grid-area: cell3;
  }
  .cell_4 {
    grid-area: cell4;
  }
  .cell_5 {
    grid-area: cell5;
  }
  .cell_6 {
    grid-area: cell6;
  }

  &.grid-large {
    >a {
      >img {
        border-radius: 0;
      }
    }

    .cell_1 {
      grid-area: unset;
    }
    .cell_2 {
      grid-area: unset;
    }
    .cell_3 {
      grid-area: unset;
    }
    .cell_4 {
      grid-area: unset;
    }
    .cell_5 {
      grid-area: unset;
    }
    .cell_6 {
      grid-area: unset;
    }
  }
}

.roundedImage {
  img {
    border-radius: var(--border-radius-small);
  }
}

// .medium-zoom-image {
//   // cursor: pointer !important;
// }
.medium-zoom-overlay {
  // cursor: pointer !important;
  z-index: var(--z-index-header);
}
.medium-zoom-image-opened {
  z-index: var(--z-index-floater);

}

.invisible {
  display: none;
}

// Scrollbars

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--subtile-devider);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-tertiary-2);
}

// Checkboxes

[type="checkbox"]  {
  background-color: var(--background-card);
  border-color: var(--text-tertiary-2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-inline-end: 16px;
  border-width: 1px;
  font-size: inherit;
  vertical-align: middle;
  cursor: pointer;

  &::-ms-check {
    display: none; // unstyle IE checkboxes
  }

  &:checked,
  &:checked:active,
  &:checked:focus {
    background-color: var(--background-card);
    border-color: var(--text-tertiary-2);
    background-position: center;
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-image: var(--check-image);
  }

  &:focus {
    background-color: var(--background-card);
    border-color: var(--text-tertiary-2);
  }

  & ~ label {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  &:indeterminate {
    background-color: var(--background-site);
    border-color: var(--text-tertiary-2);
    background-image: var(--icon-minus);
    background-position: center;
    background-size: 12px auto;
    background-repeat: no-repeat;
  }

}

button:focus {
  box-shadow: none;
}
