@import "@picocss/pico/scss/pico";

@mixin sunset_wave {
  --brand-one: #FA3C3C;
  --brand-two: #5B09AD;
  --brand-gradient: linear-gradient(135deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --accent-1: #CA079F;
  --accent-2: #AB268E;

  --brand-text: #D5D5D5;
  --background-site: #000000;
  --backround-card: #181818;
  --background-input: #222222;
  --text-primary: #FFFFFF;
  --text-secondary: #AAAAAA;
  --text-secondary-2: #AAAAAA;
  --text-tertiary: #757575;
  --text-tertiary-2: #666666;
  --subtile-devider: #444444;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);

  --logo: url('./assets/icons/logo_fire.svg');


  select {
    background-color: var(--background-site);
  }
}

@mixin sunrise_wave {
  --brand-one: #FA3C3C;
  --brand-two: #5B09AD;
  --brand-gradient: linear-gradient(135deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --accent-1: #CA079F;
  --accent-2: #AB268E;

  --brand-text: #444444;
  --background-site: #F5F5F5;
  --backround-card: #FFFFFF;
  --background-input: #E5E5E5;
  --text-primary: #111111;
  --text-secondary: #444444;
  --text-secondary-2: #888888;
  --text-tertiary: #999999;
  --text-tertiary-2: #999999;
  --subtile-devider: #C8C8C8;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);

  --logo: url('./assets/icons/logo_fire.svg');

  select {
    background-color: var(--background-site);
  }
}

@mixin midnight_wave {
  --brand-one: #0090F8;
  --brand-two: #4C00C7;
  --brand-gradient: linear-gradient(135deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --accent-1: #2394EF;
  --accent-2: #0C7DD8;

  --brand-text: #D5D5D5;
  --background-site: #000000;
  --backround-card: #181818;
  --background-input: #222222;
  --text-primary: #FFFFFF;
  --text-secondary: #AAAAAA;
  --text-secondary-2: #AAAAAA;
  --text-tertiary: #757575;
  --text-tertiary-2: #666666;
  --subtile-devider: #444444;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);

  --logo: url('./assets/icons/logo_ice.svg');

  select {
    background-color: var(--background-site);
  }
}


@mixin ice_wave {
  --brand-one: #0090F8;
  --brand-two: #4C00C7;
  --brand-gradient: linear-gradient(135deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, var(--brand-one) 0%, var(--brand-two) 100%);
  --accent-1: #2394EF;
  --accent-2: #0C7DD8;

  --brand-text: #444444;
  --background-site: #F5F5F5;
  --backround-card: #FFFFFF;
  --background-input: #E5E5E5;
  --text-primary: #111111;
  --text-secondary: #444444;
  --text-secondary-2: #888888;
  --text-tertiary: #999999;
  --text-tertiary-2: #999999;
  --subtile-devider: #C8C8C8;

  --primary: var(--accent-1);
  --primary-hover: var(--accent-2);
  --primary-focus: var(--background-color);
  --background-color: var(--background-site);

  --active-link: var(--text-primary);
  --inactive-link: var(--text-secondary);

  --logo: url('./assets/icons/logo_ice.svg');

  select {
    background-color: var(--background-site);
  }
}

:root[data-theme="light"],
:root[data-theme="sunrise"] {
  @include sunrise_wave();
}

/* Default theme */
:root[data-theme="dark"],
:root[data-theme="sunset"],
:root:not([data-theme="dark"]),
:root:not([data-theme="sunset"]),
:root:not([data-theme="midinght"]),
:root:not([data-theme="ice"]) {
  @include sunset_wave();
}

:root[data-theme="midnight"] {
  @include midnight_wave();
}

:root[data-theme="ice"] {
  @include ice_wave();
}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root {
    @include sunset_wave();
  }
}

/* Purple (Common styles) */
:root {
  // --brand-one: #FA4343;
  // --brand-two: #5b12A4;
  // --brand-gradient: linear-gradient(135deg, var(--brand-one) 0%, var(--brand-two) 100%);
  // --brand-gradient-vertical: linear-gradient(180deg, rgba(250,67,67,1) 0%, rgba(91,18,164,1) 100%);
  // --accent-1: #CA079F;
  // --accent-2: #AB268E;

  --missing-avatar-text: #FFFFFF;

  --z-index-header: 10;
  --z-index-floater: 20;

}

body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
