.helpIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-tertiary);
  -webkit-mask: url(../../assets/icons/help.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/help.svg) no-repeat 0 / 100%;
}

.helpContent {
  position: relative;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-inline: 8px;
  z-index: var(--z-index-lifted);

  .content {
    display: none;
    position: absolute;
    top: 22px;
    left: 0px;
    background-color: var(--subtile-devider);
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: max-content;
    max-width: 206px;
    padding-inline: 14px;
    padding-block: 12px;
    border-radius: 8px;
  }

  &:hover {
    .helpIcon {
      background-color: var(--text-secondary);
    }
    .content {
      display: block;
    }
  }

}
