.modal {
  width: 440px;
  color: var(--text-secondary);
  background-color: var(--background-input);
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-primary);
    margin-bottom: 20px;
  }

  .description {
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 28px;
  }

  .inputs {
    margin-bottom: 4px;

  }

  .actions {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

    button {
      width: fit-content;
      padding-block: 10px;
      padding-inline: 44px;
      margin: 0px;
    }
  }

  .alternative {
    color: var(--text-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

}
.hidden {
  display: none;
}
