.title {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 60px;
  margin-top: 24px;
}

.modal {
  width: 945px;
  color: var(--text-secondary);
  background-color: var(--background-input);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.tabContent {
  width: 100%;
  min-height: 367px;
  height: fit-content;
  border-top: 1px solid;
  border-color: var(--subtile-devider);
  padding: 40px 60px;
  background: var(--background-header-input);
  border-radius: 0 0 12px 12px;
}

.profileTabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  width: 100%;
  padding-inline: 60px;
}

.profileTab {
  position: relative;
  display: inline-block;
  border: none;
  background: none;
  width: fit-content;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.profileTabIndicator {
  position: absolute;
  height: 4px;
  top: 22px;
  left: 0;
  border-radius: 2px 2px 0px 0px;
  background: var(--accent);
  transition: all 250ms;
}

.extensionLogin {
  display: flex;
  gap: 48px;

  .qrCode {
    min-width: 234px;
    height: fit-content;
    overflow: hidden;
    border-radius: 12px;
    flex-grow: 1;

    .actualQr {
      width: 234px;
      height: 234px;
      overflow: hidden;
      border-radius: 12px;
    }

    .copyNostrConnect {
      display: flex;
      width: 232px;
      height: 40px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      border-radius: 99px;
      border: 1px solid var(--subtile-devider);
      background: var(--background-sheet);
      margin-top: 12px;

      .content {
        overflow: hidden;
        color: var(--text-secondary);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        max-width: 174px;
      }

      .copyIcon {
        width: 16px;
        height: 16px;
        background-color: var(--text-tertiary-2);
        -webkit-mask: url(../../assets/icons/copy.svg) no-repeat 0 / 100%;
        mask: url(../../assets/icons/copy.svg) no-repeat 0 / 100%;

        &.left {
          margin-right: 8px;
        }
        &.right {
          margin-left: 8px;
        }
      }
    }
  }

  .extensionIcon {
    min-width: 234px;
    min-height: 272px;
    overflow: hidden;
    border-radius: 12px;
    background: url(../../assets/images/extension2.svg);
    background-repeat: no-repeat;
  }

  .extensionDesc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;

    .description {
      color: var(--text-primary);
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;

      a {
        color: var(--accent-links);
      }
    }

    button {
      min-width: 200px;
    }
  }

}

.nsecLogin {
  display: flex;
  gap: 48px;

  .nsecIcon {
    min-width: 234px;
    min-height: 272px;
    overflow: hidden;
    border-radius: 12px;
    background: url(../../assets/images/nsec2.svg);
    background-repeat: no-repeat;
  }

  .nsecDesc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;

    .description {
      color: var(--text-primary);
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;

      a {
        color: var(--accent-links);
      }
    }

    button {
      min-width: 200px;
    }
  }

}

.input {
  width: 100%;
  max-height: 44px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 !important;
  padding: 12px 24px !important;
  border-radius: 99999px;
  border: none;
  color: var(--text-primary);
  background-color: var(--subtile-devider);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  --icon-invalid: none;
  --form-element-invalid-border-color: none;

  &::placeholder {
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }

  &:focus, &:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.nsecInput {
  background: var(--subtile-devider) !important;
  width: 100%;
  padding: 24px;
}

.nsecWarning {
  width: 560px;
  padding: 8px 16px;

  border-radius: 16px;
  background-color: var(--warning-dim);

  span {
    color: var(--warning-bright);
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;

    &.bold {
      font-weight: 700;
    }
  }
}

.npubWarning {
  width: 560px;
  padding: 8px 16px;

  border-radius: 16px;
  background-color: var(--devider);

  span {
    color: var(--text-tertiary);
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;

    &.bold {
      font-weight: 700;
    }
  }
}

.simpleDesc {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .loginExplain {
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .loginList {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .loginListItem {
      display: flex;
      align-items: center;
      gap: 10px;

      .number {
        color: var(--accent-links);
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
      }

      .itemLabel {
        color: var(--text-primary);
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;

        button {
          display: inline;
          width: fit-content;
          color: var(--accent-links);
        }
      }
    }
  }
}


.bunkerDesc {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .loginExplain {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .bunkerShow {
    color: var(--accent-links);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: fit-content;
  }

  .bunkerInput {
    display: flex;
    gap: 12px;

    button {
      min-width: 108px;
    }
  }
}

button.copyButton {
  display: flex;
  gap: 8px;
  align-items: center;

  color: var(--accent-links);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.copyIcon {
  width: 16px;
  height: 16px;
  background-color: var(--accent-links);
  -webkit-mask: url(../../assets/icons/copy_border.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/copy_border.svg) no-repeat 0 / 100%;
}
